workflows/CHATBOT_WHATSAPP__y2EElhK1le4SDCSdCTkyh.json
{
  "updatedAt": "2026-03-03T19:41:30.806Z",
  "createdAt": "2026-03-03T19:30:36.628Z",
  "id": "y2EElhK1le4SDCSdCTkyh",
  "name": "CHATBOT WHATSAPP",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        288
      ],
      "id": "ef8582c5-ed43-4e3e-a29e-c9f5506a94a1",
      "name": "WhatsApp Trigger",
      "webhookId": "daaa9d41-9c99-4bb9-9cad-d1a272fae914",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "yccDYm5IQmgRwVoE",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2928,
        752
      ],
      "id": "52f6beb7-a166-4d63-b107-1b8648cc059e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## VOZ",
        "height": 256,
        "width": 1456
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        576
      ],
      "typeVersion": 1,
      "id": "aaec233a-73d3-425c-a56b-c9e42022dc6e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## TEXTO",
        "height": 608,
        "width": 1456,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -32
      ],
      "id": "369bd828-f6f4-4396-a667-084431a3bf5f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2576,
        992
      ],
      "id": "9b8ff923-579b-4b4c-8538-cf6cb7cfc54c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7291f0da-77da-4ae0-83da-45748c25cd39"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e39f65c9-87fb-4a86-acbc-e3eef1f748e2",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "sede",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false,
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2576,
        368
      ],
      "id": "54d3ad6a-7ecd-4e59-ba71-3b4e13923549",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54b93fa-f647-4c2e-be2f-08f6ac71d7ee",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        192
      ],
      "id": "16d7ad4c-8f70-4cfb-a29d-3a4a7c87bf00",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.messages.from}}_buffer7",
        "messageData": "***REDACTED***",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        48,
        192
      ],
      "id": "f1bab478-3891-4a49-b24b-0ae1ca7a6cd8",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        272,
        192
      ],
      "id": "b5444827-9288-4d62-851b-430c14c348ef",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "***REDACTED***",
                    "rightValue": "***REDACTED***",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "d9859c5d-e5a0-47be-9804-d24d6973fae1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Inactividad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7eeee9c2-021b-429f-b17f-0d5dbb665a40",
                    "leftValue": "***REDACTED***",
                    "rightValue": "***REDACTED***",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        496,
        80
      ],
      "id": "79dc9106-4720-4939-b4a2-831e69d5383f",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        784,
        400
      ],
      "id": "2b6ad690-4773-455e-b66f-3cb30d429d7b",
      "name": "Wait",
      "webhookId": "42e25b68-a449-4a55-914f-c414045ffc0b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        784,
        0
      ],
      "id": "663bdae4-e916-41e0-a489-2d405f7d12b1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        784,
        192
      ],
      "id": "55417a4c-d124-4adc-b1fd-10ce53d8054f",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5899a8c-06bf-4901-9972-c12513e8a2a1",
              "name": "display_phone_number",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "1570c3ca-d4e0-42c3-9c48-b7b776f2994f",
              "name": "phone_number_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "cd1a903b-8391-4d1c-98f4-a4611bd95361",
              "name": "profile_name",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "dcc9656c-3c11-4df2-97ed-a899c1af4997",
              "name": "wa_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "8a3a7c0e-d255-4d27-950e-8e4bae62fc09",
              "name": "messages.id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "b54751e9-2b2a-4226-8955-6dc9bd6de56b",
              "name": "messages.text.body",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "195b93fc-f323-481e-b848-3b3912485341",
              "name": "messages.type",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "4b539b2a-3e35-4d0e-a4d5-2ddac8d0ff23",
              "name": "messages.timestamp",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "909d85fe-690b-4595-9c15-5eec17846bf1",
              "name": "messages.from",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "32bf99da-d883-4422-bd85-a3e3d5693695",
              "name": "messages.text",
              "value": "***REDACTED***",
              "type": "object"
            },
            {
              "id": "549c960e-6cec-40a2-bf41-2246b79f2c4e",
              "name": "messages.text.body",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        192
      ],
      "id": "9c4e43e2-bcd1-43ab-8d9c-b79bbb308cf9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3392,
        592
      ],
      "id": "1e514f65-910d-481b-b57c-6add7982f024",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "SEDES SERSOCIAL",
          "cachedResultUrl": "***REDACTED***"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja1",
          "cachedResultUrl": "***REDACTED***"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2976,
        1024
      ],
      "id": "71d46c90-56fc-46bf-9759-b15562d9deb0",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aDaUg0dQ2hQRfilV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "batching": {
          "delayBetweenBatches": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1776,
        384
      ],
      "id": "d5c77025-c28f-4d37-91c1-b030168ac811",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "372bba1d-32e0-4a5e-af40-79c1b9061821",
              "name": "intent",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2352,
        384
      ],
      "id": "fc8905fb-caa6-4805-90f9-373f71ce787d",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        384
      ],
      "id": "f410c5c9-51ee-4e56-93c4-3a353e0aa572",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/n8n/workflow/cJfEP-s0H3glzuJcpbO3T"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2992,
        256
      ],
      "id": "fd66ae80-7136-4222-9355-b65c507f3cc8",
      "name": "GESTION DE CITAS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/n8n/workflow/NDgPUqxm4BJZJ6LfOj19K"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2992,
        448
      ],
      "id": "455812ca-bdac-4525-b0e4-8421cdbcb763",
      "name": "INFORMACION DE SEDES"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1152,
        1088
      ],
      "id": "74ff9238-797b-4c14-b41b-663f1f3e78a1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "={{ $json.output.Parte1 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3616,
        624
      ],
      "id": "ab9da179-f8b6-425e-9aaa-62c78d210357",
      "name": "Respuesta",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        3184,
        976
      ],
      "id": "54396ea7-d3cb-4aac-9f79-cfb8bace0d5c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d55e3fd-04de-4b67-bd7f-9d88d6f57882",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3840,
        624
      ],
      "id": "a330c70d-bd6c-465a-8d6a-15ec2f2a3705",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        4064,
        624
      ],
      "id": "1c6c0433-5614-4bca-be29-8354c8d5ef8d",
      "name": "Respuesta1",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3392,
        256
      ],
      "id": "dadcca7a-024d-469d-909a-444c23edea9e",
      "name": "Respuesta2",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "***REDACTED***",
        "sessionTTL": 3600,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        2800,
        992
      ],
      "id": "48809255-bd2c-4576-a559-10a1837d96e3",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "fc965780-4470-4fa3-9b6f-68f1d11554e5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "842e3ea2-055b-4e55-bf50-b73ca3ddaf07",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -400,
        288
      ],
      "id": "6dff1f50-0126-4fbe-8242-fe69c7357deb",
      "name": "Switch2"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        48,
        640
      ],
      "id": "86fb85de-59c0-494a-ab91-df6a6c15dc1c",
      "name": "Obtener audio",
      "webhookId": "3847188a-68b1-4c1d-a237-0a3d45f75b31",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        272,
        640
      ],
      "id": "378b2a22-0c28-4287-bf18-9015e2d33cdf",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "p7JIZsChNoDJfzR0",
          "name": "Header Auth account 3"
        },
        "httpBearerAuth": {
          "id": "SstTWntbtINflkHf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        496,
        640
      ],
      "id": "8e9f9a81-9c5f-42bb-99f0-01ed9aa3f5ff",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        720,
        640
      ],
      "id": "bc5ff69d-a6f7-42bc-8d16-46793e32c02b",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "517999d6-31d4-45bd-aba7-a8b49b0ef41e",
              "name": "text",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        640
      ],
      "id": "ba211705-4088-4619-90f2-5587272ac7a8",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1a4d37a-d087-4665-bb41-28d9a4a7fe38",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        384
      ],
      "id": "87873197-c89e-4d08-8654-d743a9e46940",
      "name": "Edit Fields4"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GESTION DE CITAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INFORMACION DE SEDES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GESTION DE CITAS": {
      "main": [
        [
          {
            "node": "Respuesta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFORMACION DE SEDES": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3a0fd0c5-af1e-4f3c-a5f2-440315bb51b8",
  "activeVersionId": "3a0fd0c5-af1e-4f3c-a5f2-440315bb51b8",
  "versionCounter": 16,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T19:30:36.628Z",
      "createdAt": "2026-03-03T19:30:36.628Z",
      "role": "workflow:owner",
      "workflowId": "y2EElhK1le4SDCSdCTkyh",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-03-19T12:00:16.112Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-19",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-03T19:34:15.068Z",
      "createdAt": "2026-03-03T19:34:15.068Z",
      "id": "M63Xu3JDOVoP0xRM",
      "name": "flujo whatsapp"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-03T20:28:17.642Z",
    "createdAt": "2026-03-03T19:41:30.808Z",
    "versionId": "3a0fd0c5-af1e-4f3c-a5f2-440315bb51b8",
    "workflowId": "y2EElhK1le4SDCSdCTkyh",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          -624,
          288
        ],
        "id": "ef8582c5-ed43-4e3e-a29e-c9f5506a94a1",
        "name": "WhatsApp Trigger",
        "webhookId": "daaa9d41-9c99-4bb9-9cad-d1a272fae914",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "yccDYm5IQmgRwVoE",
            "name": "WhatsApp OAuth account 2"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "***REDACTED***",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "***REDACTED***"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          2928,
          752
        ],
        "id": "52f6beb7-a166-4d63-b107-1b8648cc059e",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "content": "## VOZ",
          "height": 256,
          "width": 1456
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -240,
          576
        ],
        "typeVersion": 1,
        "id": "aaec233a-73d3-425c-a56b-c9e42022dc6e",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## TEXTO",
          "height": 608,
          "width": 1456,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -240,
          -32
        ],
        "id": "369bd828-f6f4-4396-a667-084431a3bf5f",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "***REDACTED***"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          2576,
          992
        ],
        "id": "9b8ff923-579b-4b4c-8538-cf6cb7cfc54c",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "dNAey8tcxmUMRffx",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "agendar",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      },
                      "id": "7291f0da-77da-4ae0-83da-45748c25cd39"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "e39f65c9-87fb-4a86-acbc-e3eef1f748e2",
                      "leftValue": "={{ $json.intent }}",
                      "rightValue": "sede",
                      "operator": {
                        "type": "string",
                        "operation": "contains"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "ignoreCase": false,
            "allMatchingOutputs": false
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          2576,
          368
        ],
        "id": "54d3ad6a-7ecd-4e59-ba71-3b4e13923549",
        "name": "Switch"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54b93fa-f647-4c2e-be2f-08f6ac71d7ee",
                "name": "mensaje",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1072,
          192
        ],
        "id": "16d7ad4c-8f70-4cfb-a29d-3a4a7c87bf00",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $json.messages.from}}_buffer7",
          "messageData": "***REDACTED***",
          "tail": true
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          48,
          192
        ],
        "id": "f1bab478-3891-4a49-b24b-0ae1ca7a6cd8",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "messages",
          "key": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          272,
          192
        ],
        "id": "b5444827-9288-4d62-851b-430c14c348ef",
        "name": "Redis1",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "***REDACTED***",
                      "rightValue": "***REDACTED***",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "id": "d9859c5d-e5a0-47be-9804-d24d6973fae1"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Inactividad"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7eeee9c2-021b-429f-b17f-0d5dbb665a40",
                      "leftValue": "***REDACTED***",
                      "rightValue": "***REDACTED***",
                      "operator": {
                        "type": "dateTime",
                        "operation": "before"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Seguir"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "Esperar"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          496,
          80
        ],
        "id": "79dc9106-4720-4939-b4a2-831e69d5383f",
        "name": "Switch1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          784,
          400
        ],
        "id": "2b6ad690-4773-455e-b66f-3cb30d429d7b",
        "name": "Wait",
        "webhookId": "42e25b68-a449-4a55-914f-c414045ffc0b"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          784,
          0
        ],
        "id": "663bdae4-e916-41e0-a489-2d405f7d12b1",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "***REDACTED***"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          784,
          192
        ],
        "id": "55417a4c-d124-4adc-b1fd-10ce53d8054f",
        "name": "Redis2",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f5899a8c-06bf-4901-9972-c12513e8a2a1",
                "name": "display_phone_number",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "1570c3ca-d4e0-42c3-9c48-b7b776f2994f",
                "name": "phone_number_id",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "cd1a903b-8391-4d1c-98f4-a4611bd95361",
                "name": "profile_name",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "dcc9656c-3c11-4df2-97ed-a899c1af4997",
                "name": "wa_id",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "8a3a7c0e-d255-4d27-950e-8e4bae62fc09",
                "name": "messages.id",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "b54751e9-2b2a-4226-8955-6dc9bd6de56b",
                "name": "messages.text.body",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "195b93fc-f323-481e-b848-3b3912485341",
                "name": "messages.type",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "4b539b2a-3e35-4d0e-a4d5-2ddac8d0ff23",
                "name": "messages.timestamp",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "909d85fe-690b-4595-9c15-5eec17846bf1",
                "name": "messages.from",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "32bf99da-d883-4422-bd85-a3e3d5693695",
                "name": "messages.text",
                "value": "***REDACTED***",
                "type": "object"
              },
              {
                "id": "549c960e-6cec-40a2-bf41-2246b79f2c4e",
                "name": "messages.text.body",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -176,
          192
        ],
        "id": "9c4e43e2-bcd1-43ab-8d9c-b79bbb308cf9",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "numberInputs": 4
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          3392,
          592
        ],
        "id": "1e514f65-910d-481b-b57c-6add7982f024",
        "name": "Merge"
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "SEDES SERSOCIAL",
            "cachedResultUrl": "***REDACTED***"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja1",
            "cachedResultUrl": "***REDACTED***"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          2976,
          1024
        ],
        "id": "71d46c90-56fc-46bf-9759-b15562d9deb0",
        "name": "Get row(s) in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "aDaUg0dQ2hQRfilV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "***REDACTED***",
          "batching": {
            "delayBetweenBatches": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          1776,
          384
        ],
        "id": "d5c77025-c28f-4d37-91c1-b030168ac811",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "372bba1d-32e0-4a5e-af40-79c1b9061821",
                "name": "intent",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2352,
          384
        ],
        "id": "fc8905fb-caa6-4805-90f9-373f71ce787d",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2128,
          384
        ],
        "id": "f410c5c9-51ee-4e56-93c4-3a353e0aa572",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "id",
            "cachedResultUrl": "/n8n/workflow/cJfEP-s0H3glzuJcpbO3T"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "***REDACTED***",
              "telefono": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2992,
          256
        ],
        "id": "fd66ae80-7136-4222-9355-b65c507f3cc8",
        "name": "GESTION DE CITAS"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "id",
            "cachedResultUrl": "/n8n/workflow/NDgPUqxm4BJZJ6LfOj19K"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "***REDACTED***",
              "telefono": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2992,
          448
        ],
        "id": "455812ca-bdac-4525-b0e4-8421cdbcb763",
        "name": "INFORMACION DE SEDES"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "***REDACTED***"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1152,
          1088
        ],
        "id": "74ff9238-797b-4c14-b41b-663f1f3e78a1",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "dNAey8tcxmUMRffx",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "={{ $json.output.Parte1 }}",
          "additionalFields": {
            "previewUrl": true
          }
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          3616,
          624
        ],
        "id": "ab9da179-f8b6-425e-9aaa-62c78d210357",
        "name": "Respuesta",
        "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
        "credentials": {
          "whatsAppApi": {
            "id": "Tt1jdP4FqS0LhYTX",
            "name": "WhatsApp account 2"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "***REDACTED***"
        },
        "type": "***REDACTED***",
        "typeVersion": 1.3,
        "position": [
          3184,
          976
        ],
        "id": "54396ea7-d3cb-4aac-9f79-cfb8bace0d5c",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2d55e3fd-04de-4b67-bd7f-9d88d6f57882",
                "leftValue": "***REDACTED***",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          3840,
          624
        ],
        "id": "a330c70d-bd6c-465a-8d6a-15ec2f2a3705",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {
            "previewUrl": true
          }
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          4064,
          624
        ],
        "id": "1c6c0433-5614-4bca-be29-8354c8d5ef8d",
        "name": "Respuesta1",
        "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
        "credentials": {
          "whatsAppApi": {
            "id": "Tt1jdP4FqS0LhYTX",
            "name": "WhatsApp account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "={{ $json.output }}",
          "additionalFields": {
            "previewUrl": false
          }
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          3392,
          256
        ],
        "id": "dadcca7a-024d-469d-909a-444c23edea9e",
        "name": "Respuesta2",
        "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
        "credentials": {
          "whatsAppApi": {
            "id": "Tt1jdP4FqS0LhYTX",
            "name": "WhatsApp account 2"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "***REDACTED***",
          "sessionTTL": 3600,
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
        "typeVersion": 1.5,
        "position": [
          2800,
          992
        ],
        "id": "48809255-bd2c-4576-a559-10a1837d96e3",
        "name": "Redis Chat Memory",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.messages[0].text.body }}",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "id": "fc965780-4470-4fa3-9b6f-68f1d11554e5"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TEXTO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "842e3ea2-055b-4e55-bf50-b73ca3ddaf07",
                      "leftValue": "={{ $json.messages[0].audio }}",
                      "rightValue": "",
                      "operator": {
                        "type": "object",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "AUDIO"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          -400,
          288
        ],
        "id": "6dff1f50-0126-4fbe-8242-fe69c7357deb",
        "name": "Switch2"
      },
      {
        "parameters": {
          "resource": "media",
          "operation": "mediaUrlGet",
          "mediaGetId": "={{ $json.messages[0].audio.id }}"
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          48,
          640
        ],
        "id": "86fb85de-59c0-494a-ab91-df6a6c15dc1c",
        "name": "Obtener audio",
        "webhookId": "3847188a-68b1-4c1d-a237-0a3d45f75b31",
        "credentials": {
          "whatsAppApi": {
            "id": "Tt1jdP4FqS0LhYTX",
            "name": "WhatsApp account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          272,
          640
        ],
        "id": "378b2a22-0c28-4287-bf18-9015e2d33cdf",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "p7JIZsChNoDJfzR0",
            "name": "Header Auth account 3"
          },
          "httpBearerAuth": {
            "id": "SstTWntbtINflkHf",
            "name": "Bearer Auth account"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          496,
          640
        ],
        "id": "8e9f9a81-9c5f-42bb-99f0-01ed9aa3f5ff",
        "name": "Transcribe a recording",
        "credentials": {
          "openAiApi": {
            "id": "dNAey8tcxmUMRffx",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "***REDACTED***",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          720,
          640
        ],
        "id": "bc5ff69d-a6f7-42bc-8d16-46793e32c02b",
        "name": "Basic LLM Chain1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "517999d6-31d4-45bd-aba7-a8b49b0ef41e",
                "name": "text",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1072,
          640
        ],
        "id": "ba211705-4088-4619-90f2-5587272ac7a8",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b1a4d37a-d087-4665-bb41-28d9a4a7fe38",
                "name": "mensaje",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1408,
          384
        ],
        "id": "87873197-c89e-4d08-8654-d743a9e46940",
        "name": "Edit Fields4"
      }
    ],
    "connections": {
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "Switch2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "GESTION DE CITAS",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "INFORMACION DE SEDES",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis1": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Redis2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis2": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GESTION DE CITAS": {
        "main": [
          [
            {
              "node": "Respuesta2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "INFORMACION DE SEDES": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Basic LLM Chain1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Respuesta": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Respuesta1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Switch2": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Obtener audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener audio": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Transcribe a recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording": {
        "main": [
          [
            {
              "node": "Basic LLM Chain1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain1": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version 3a0fd0c5",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-03T20:28:17.639Z",
        "id": 142,
        "workflowId": "y2EElhK1le4SDCSdCTkyh",
        "versionId": "3a0fd0c5-af1e-4f3c-a5f2-440315bb51b8",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}