workflows/CHATBOT_WHATSAPP__y2EElhK1le4SDCSdCTkyh.json
{
  "updatedAt": "2026-05-15T20:55:58.933Z",
  "createdAt": "2026-03-03T19:30:36.628Z",
  "id": "y2EElhK1le4SDCSdCTkyh",
  "name": "CHATBOT WHATSAPP",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        39072,
        32048
      ],
      "id": "944d6051-0e30-4cf7-92e4-63b9aebf2502",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        36448,
        33376
      ],
      "id": "1122cd85-03ae-440d-8498-2f99aa677432",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        23536,
        32464
      ],
      "id": "685f77ba-877d-46fc-8374-da62f55d628c",
      "name": "WhatsApp Trigger",
      "webhookId": "daaa9d41-9c99-4bb9-9cad-d1a272fae914",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "dDAj8ngDC7YVOMRE",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "***REDACTED***",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "fc965780-4470-4fa3-9b6f-68f1d11554e5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "842e3ea2-055b-4e55-bf50-b73ca3ddaf07",
                    "leftValue": "***REDACTED***",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "img-1",
                    "leftValue": "***REDACTED***",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "flo-1",
                    "leftValue": "***REDACTED***",
                    "rightValue": "nfm_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FLOW_RESPONSE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "btn-rep-1",
                    "leftValue": "***REDACTED***",
                    "rightValue": "button_reply",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BUTTON_REPLY"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "DESCONOCIDO"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        23904,
        33008
      ],
      "id": "39edd0fc-82cf-4c7c-afda-201eedb2f3f3",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5899a8c-06bf-4901-9972-c12513e8a2a1",
              "name": "display_phone_number",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "1570c3ca-d4e0-42c3-9c48-b7b776f2994f",
              "name": "phone_number_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "cd1a903b-8391-4d1c-98f4-a4611bd95361",
              "name": "profile_name",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "dcc9656c-3c11-4df2-97ed-a899c1af4997",
              "name": "wa_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "8a3a7c0e-d255-4d27-950e-8e4bae62fc09",
              "name": "messages.id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "b54751e9-2b2a-4226-8955-6dc9bd6de56b",
              "name": "messages.text.body",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "195b93fc-f323-481e-b848-3b3912485341",
              "name": "messages.type",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "4b539b2a-3e35-4d0e-a4d5-2ddac8d0ff23",
              "name": "messages.timestamp",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "909d85fe-690b-4595-9c15-5eec17846bf1",
              "name": "messages.from",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "32bf99da-d883-4422-bd85-a3e3d5693695",
              "name": "messages.text",
              "value": "***REDACTED***",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        24416,
        32848
      ],
      "id": "806095a3-124c-4e6e-ba27-29d49c3feeee",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.messages.from}}_buffer7",
        "messageData": "***REDACTED***",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        24528,
        32608
      ],
      "id": "73db1180-c4c9-4a76-83ac-9568660d13e9",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        24688,
        32608
      ],
      "id": "b2cddeca-3505-4c33-93ad-79f41e6ef544",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "***REDACTED***",
                    "rightValue": "***REDACTED***",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "d9859c5d-e5a0-47be-9804-d24d6973fae1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Inactividad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7eeee9c2-021b-429f-b17f-0d5dbb665a40",
                    "leftValue": "***REDACTED***",
                    "rightValue": "***REDACTED***",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        24848,
        32592
      ],
      "id": "bc1103c6-6931-4282-8185-173614c6b41f",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        25072,
        32368
      ],
      "id": "c738b594-c8cc-4dd5-8966-82a18ab1bfda",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        25056,
        32608
      ],
      "id": "0b627054-63d5-42de-a513-20b0062dd3fe",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        25120,
        32752
      ],
      "id": "5df4c5cb-5849-47ed-b21c-8cd11a7359a7",
      "name": "Wait",
      "webhookId": "42e25b68-a449-4a55-914f-c414045ffc0b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54b93fa-f647-4c2e-be2f-08f6ac71d7ee",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25216,
        32608
      ],
      "id": "8224e672-9613-4c1e-b0f4-9e29fb9996cb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "***REDACTED***"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        24368,
        33152
      ],
      "id": "90a23ed7-c6a2-44c3-b764-de83e734e8d9",
      "name": "Obtener audio",
      "webhookId": "3847188a-68b1-4c1d-a237-0a3d45f75b31",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        24560,
        33152
      ],
      "id": "49be78d3-128c-4a09-92ca-950f1e2e2223",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "p7JIZsChNoDJfzR0",
          "name": "Header Auth account 3"
        },
        "httpBearerAuth": {
          "id": "SstTWntbtINflkHf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        24736,
        33152
      ],
      "id": "cd76630d-5b18-49f7-8221-4b31b44cb0a5",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        24896,
        33152
      ],
      "id": "2e089b5c-a6db-4fc3-9fa9-ae5863e83fac",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "517999d6-31d4-45bd-aba7-a8b49b0ef41e",
              "name": "text",
              "value": "***REDACTED***",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25184,
        33152
      ],
      "id": "88424a6c-786c-4d38-ad15-1d090e8660b0",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1a4d37a-d087-4665-bb41-28d9a4a7fe38",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25472,
        32896
      ],
      "id": "49cc047e-6cc7-437f-b2a3-9935032e8929",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "5bf2b59a-6ae4-4288-ba49-f246b777efe7",
      "name": "Sanitizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25632,
        32896
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "batching": {
          "delayBetweenBatches": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        26464,
        33168
      ],
      "id": "5c659baa-67ef-4876-82df-ac5b1ba3c704",
      "name": "Basic LLM Chain",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26960,
        33152
      ],
      "id": "149ae873-92ff-4f88-8262-e07cf3a0ac68",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "372bba1d-32e0-4a5e-af40-79c1b9061821",
              "name": "intent",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "lang-001",
              "name": "lang",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        27168,
        33152
      ],
      "id": "8c952607-74ef-4dc6-815b-e810b3482add",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "session_config",
        "key": "***REDACTED***",
        "options": {}
      },
      "id": "9fb40261-a37d-42cb-bf0c-eb0b5bf3d806",
      "name": "Leer Config Sesión",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        27344,
        33152
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "65683472-79fd-43b8-8d52-2e040b0ce25d",
      "name": "Gestionar Idioma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27680,
        33152
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "id": "ee3e72e5-b183-4b62-a042-bcf402948b96",
      "name": "Guardar Config Sesión",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        27872,
        33152
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s1",
                    "leftValue": "***REDACTED***",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENDAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s2",
                    "leftValue": "***REDACTED***",
                    "rightValue": "consultar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONSULTAR CITA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s3",
                    "leftValue": "***REDACTED***",
                    "rightValue": "cancelar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCELAR CITA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s4",
                    "leftValue": "***REDACTED***",
                    "rightValue": "afiliacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AFILIACION"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s5",
                    "leftValue": "***REDACTED***",
                    "rightValue": "sedes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SEDES"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "98f118a1-f535-4bb6-8d24-6fdd32035b95",
                    "leftValue": "***REDACTED***",
                    "rightValue": "saludos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SALUDOS"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true,
          "renameFallbackOutput": "OTHER"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        28128,
        33728
      ],
      "id": "a880e518-27f2-42d1-9d79-f13f906ec815",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/n8n/workflow/NDgPUqxm4BJZJ6LfOj19K"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        28688,
        33520
      ],
      "id": "ebfdb71d-82a2-4735-a756-1978c1185e14",
      "name": "INFORMACION DE SEDES"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        28608,
        33856
      ],
      "id": "15caa696-adba-47d9-a7ae-aec048e7f14f",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        29408,
        33680
      ],
      "id": "71a550cf-6bc1-418b-a961-416465815c2d",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "={{ $json.output.Parte1 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        29616,
        33680
      ],
      "id": "8303770a-f5a7-4eac-9b2f-e0429af04f57",
      "name": "Respuesta",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d55e3fd-04de-4b67-bd7f-9d88d6f57882",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        29792,
        33680
      ],
      "id": "67dba12e-84dd-47ad-806c-0199749255b4",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        30032,
        33664
      ],
      "id": "521a2286-a995-4d05-b8b9-8385ac78a1ae",
      "name": "Respuesta1",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        28480,
        34160
      ],
      "id": "5b21e78e-e018-4baf-b389-b4c467de7a76",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        26000,
        33264
      ],
      "id": "3b099b23-87b5-45dd-81f9-c6347c4ab515",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "***REDACTED***",
        "sessionTTL": 3600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        28704,
        34160
      ],
      "id": "66d1f059-694e-4aa8-8213-3bcedb2e97f4",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "id": "22d8a50b-4b3b-4cd7-8a67-465dd60a6b6f",
      "name": "Respuesta Imagen",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        24368,
        33360
      ],
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "45129e9e-06b3-48a4-b9ec-57841ed87627",
      "name": "Manejar Flow Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24384,
        33792
      ]
    },
    {
      "parameters": {
        "content": "## VOZ",
        "height": 256,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        24336,
        33024
      ],
      "typeVersion": 1,
      "id": "6cc56e68-6138-425d-ae4c-39669e0de7a9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## TEXTO",
        "height": 608,
        "width": 992,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        24336,
        32416
      ],
      "id": "95e00d58-d11d-4346-953c-9831404bdbee",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab924a4d-a46e-4d75-b235-90ec9dca381d",
              "name": "intent",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "a1f70622-0ebf-424f-93b1-fe8530751115",
              "name": "lang",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "94c0fe72-57c4-4e04-9db1-3b963d2e5b5c",
              "name": "session_config",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        27504,
        33152
      ],
      "id": "ff1bf76c-9a16-4a0e-93ad-3a213171b342",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24304,
        34064
      ],
      "id": "86a5854f-1467-4885-9028-c4a7297b9fc8",
      "name": "Extraer list_reply"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ce357c5-1eb9-4d78-808c-78b7a94a4256",
              "name": "messages",
              "value": "***REDACTED***",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        24016,
        34064
      ],
      "id": "51ad41af-d069-4178-a7c0-473bea24780d",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "estado_raw",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        25808,
        32896
      ],
      "id": "a817991d-34d2-4113-a9ba-8693350b185d",
      "name": "Leer Estado Paciente1",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e30ed4b-1828-4b0e-a00a-accd9aa359aa",
              "name": "telefono",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "b9468a08-d7d0-4419-82b7-f7be5ebb9826",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "04bf1808-c4d4-488e-8ad2-ca825c04a605",
              "name": "estado_raw",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "c65c268c-c5de-4d41-96f8-fa6b7c761128",
              "name": "trigger",
              "value": "***REDACTED***",
              "type": "array"
            },
            {
              "id": "11e35b1a-flag-cancel-input-1234",
              "name": "is_cancel",
              "value": "***REDACTED***",
              "type": "boolean"
            },
            {
              "id": "22e35b1a-flag-injec-input-1234",
              "name": "injection_detected",
              "value": "***REDACTED***",
              "type": "boolean"
            },
            {
              "id": "33e35b1a-flag-empty-input-1234",
              "name": "is_empty",
              "value": "***REDACTED***",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25968,
        32896
      ],
      "id": "e0d99672-a705-4007-a7bc-6c34d33fc5ce",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26160,
        32896
      ],
      "id": "bc63543c-5845-4d0d-bcc4-586fc71b6bf3",
      "name": "Decidir Ruta"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "***REDACTED***",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "d603330f-bebd-48c8-b13e-608899ba3b33"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EN_PROCESO"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        26496,
        32880
      ],
      "id": "fefe928a-f54a-4483-9404-e79521f9b33d",
      "name": "Decidir Ruta 2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d600b267-b2ab-44c7-98c2-12b68979ebd1",
              "name": "intent",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "83b3eadd-130b-45c0-9ee9-0c88c555f03c",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        28480,
        33120
      ],
      "id": "46b81ef2-6d81-411b-bc42-9c223a3afbc7",
      "name": "Prep Intent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/kxHCsXKdVTcKN6sbWhMBS",
          "cachedResultName": "GESTION_CITAS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "intent": "={{ $json.intent_pendiente }}",
            "raw": "***REDACTED***",
            "telefono": "***REDACTED***",
            "phone_number_id": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw",
              "displayName": "raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone_number_id",
              "displayName": "phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        26800,
        32864
      ],
      "id": "bfe8a35c-2fe6-4d45-935d-393fd33dc532",
      "name": "Call 'GESTION_CITAS'"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "estado_raw",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        24512,
        34064
      ],
      "id": "692413f0-d055-4b8f-9af9-0c51181f5844",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eb49f23-476e-4da0-af64-8f39219f7ba7",
              "name": "mensaje   ",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "cc1c5799-d3b4-47f8-9f63-b984b03d1f29",
              "name": "intent",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "3af8d2f1-dddb-4b10-9e03-fdc526f4cc85",
              "name": "raw",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "933d108d-be42-442f-afc9-ad677a8b7122",
              "name": "telefono",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "6d2ce2e5-bb0e-4bc7-9d9c-981e99303aa5",
              "name": "phone_number_id",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        24720,
        34064
      ],
      "id": "931bcf69-45f7-4b19-8b5d-88adee7c7936",
      "name": "Prep list_reply"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/kxHCsXKdVTcKN6sbWhMBS",
          "cachedResultName": "GESTION_CITAS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ $json['mensaje   '] }}",
            "intent": "={{ $json.intent }}",
            "raw": "={{ $json.raw }}",
            "telefono": "={{ $json.telefono }}",
            "phone_number_id": "={{ $json.phone_number_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "raw",
              "displayName": "raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "phone_number_id",
              "displayName": "phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        24928,
        34064
      ],
      "id": "2fda8aec-1a36-4594-96b0-1c8e9a1e3a03",
      "name": "Gestion Citas(list_replay)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/kxHCsXKdVTcKN6sbWhMBS",
          "cachedResultName": "GESTION_CITAS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ $json.mensaje }}",
            "intent": "={{ $json.intent }}",
            "telefono": "***REDACTED***",
            "phone_number_id": "***REDACTED***",
            "raw": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw",
              "displayName": "raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone_number_id",
              "displayName": "phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        29040,
        33120
      ],
      "id": "60b35827-f487-4c0b-b9c1-aaa091fdb41f",
      "name": "Call 'GESTION_CITAS'1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cmd-cancel-1",
                    "leftValue": "***REDACTED***",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCELAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cmd-injec-1",
                    "leftValue": "***REDACTED***",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "INJECTION"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cmd-empty-1",
                    "leftValue": "***REDACTED***",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EMPTY"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "CONTINUAR"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        26448,
        32224
      ],
      "id": "7eb60926-36a0-4597-933f-2abf34ba78f9",
      "name": "Manejar Comando Especial"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        26816,
        31904
      ],
      "id": "f9d3579b-8f2f-470c-a173-4ec6e8384b1e",
      "name": "Limpiar Estado Cancelar",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        27200,
        31904
      ],
      "id": "f7fc3838-26ec-4ea1-bf4d-cdee57289ea8",
      "name": "Respuesta Cancelar",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        26832,
        32240
      ],
      "id": "70d7c3c0-2396-4cc0-9e68-ac5f60a8cb41",
      "name": "Respuesta Injection",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        26816,
        32464
      ],
      "id": "af7d4f26-3133-4206-964f-4e7dc79f8396",
      "name": "Respuesta Empty",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "dedup",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        23824,
        32464
      ],
      "id": "a7d66e75-69e0-4bd6-9920-84ef6b38cb54",
      "name": "Dedup Get",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dedup-if-1",
              "leftValue": "={{ $json.dedup }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        24352,
        32464
      ],
      "id": "7e1ff535-46ec-4df5-a0e6-ac703dd0ef2d",
      "name": "Dedup If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "1",
        "expire": true,
        "ttl": 600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        23872,
        32736
      ],
      "id": "cf684d32-17ce-4e7a-a50e-9794a3a2f421",
      "name": "Dedup Set",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        24672,
        32480
      ],
      "id": "5942c60d-e5ed-46c8-93cd-611e38732e90",
      "name": "Dedup Skip"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29392,
        34112
      ],
      "id": "ec63ae25-ad73-49e2-97a2-c4ffa8f79a3b",
      "name": "Normalizar AI Output1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        29104,
        33840
      ],
      "id": "c7d9aa7a-5914-4bc8-b221-1b4a08185975",
      "name": "Normalizar AI Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        28048,
        34160
      ],
      "id": "e563ad5c-adfe-4e70-b8c0-935ffb7e7c81",
      "name": "Preguntar Menu Fallback",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "estado_raw",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        24864,
        33552
      ],
      "id": "f68df862-796c-4583-97f1-5b50614b6545",
      "name": "Leer Estado Paciente",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e30ed4b-1828-4b0e-a00a-accd9aa359aa",
              "name": "telefono",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "b9468a08-d7d0-4419-82b7-f7be5ebb9826",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "04bf1808-c4d4-488e-8ad2-ca825c04a605",
              "name": "estado_raw",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "c65c268c-c5de-4d41-96f8-fa6b7c761128",
              "name": "trigger",
              "value": "***REDACTED***",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25136,
        33552
      ],
      "id": "a5b802db-7901-4136-8e93-de64325dcfef",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25408,
        33552
      ],
      "id": "eda3157e-2512-47d9-b468-b305b8abf1cf",
      "name": "Decidir Ruta1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e07d6b9e-cf76-4efb-a06b-c9528e5f919a",
              "leftValue": "***REDACTED***",
              "rightValue": "flow",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        24160,
        33632
      ],
      "id": "d664d79a-b48a-4027-829c-22a830b3572e",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        24624,
        33552
      ],
      "id": "80853469-932b-4347-b2cd-5c532efab59a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5d275a5-89bd-45ab-bfc8-df1b808fdfcf",
              "name": "messages",
              "value": "***REDACTED***",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        24400,
        33552
      ],
      "id": "62b62809-7c22-4074-80ae-e8b2054eba12",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/kxHCsXKdVTcKN6sbWhMBS",
          "cachedResultName": "GESTION_CITAS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "={{ $json.mensaje }}",
            "intent": "={{ $json.intent_pendiente }}",
            "raw": "={{ $json.estado_raw }}",
            "telefono": "={{ $json.telefono }}",
            "phone_number_id": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw",
              "displayName": "raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone_number_id",
              "displayName": "phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        25680,
        33552
      ],
      "id": "46de830f-d8d5-47e7-ac80-65f5a45ebe4f",
      "name": "Call 'GESTION_CITAS' (flow)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/NDgPUqxm4BJZJ6LfOj19K",
          "cachedResultName": "INFORMACIÓN SEDES"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        29120,
        34112
      ],
      "id": "42919cac-e684-4528-965f-754197907a2a",
      "name": "Call 'INFORMACIÓN SEDES'"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "***REDACTED***",
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "chatbot_info",
          "cachedResultUrl": "***REDACTED***"
        },
        "filePath": "info.json",
        "asBinaryProperty": "=false",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        29008,
        34416
      ],
      "id": "3bd42dc5-8764-47f1-aabe-56e100a179c9",
      "name": "Informacion general Sersocial2",
      "webhookId": "f9044c0a-0463-4ac4-8320-ccf954621fef",
      "credentials": {
        "githubOAuth2Api": {
          "id": "tzjUTnmog5gorp8f",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {},
        "optimizeResponse": true
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        28896,
        34144
      ],
      "id": "eb0ec289-718c-42b9-9372-98262c5b5176",
      "name": "Informacion general Sersocial"
    },
    {
      "parameters": {
        "jsonSchemaExample": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        32016,
        34416
      ],
      "id": "825a2536-0a01-4ae0-b686-697a187a5e74",
      "name": "Structured Output Parser2"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Dedup Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Get": {
      "main": [
        [
          {
            "node": "Dedup If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup If": {
      "main": [
        [
          {
            "node": "Dedup Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Dedup Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Set": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Sanitizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitizar Entrada": {
      "main": [
        [
          {
            "node": "Leer Estado Paciente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Leer Config Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Config Sesión": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestionar Idioma": {
      "main": [
        [
          {
            "node": "Guardar Config Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Prep Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Intent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Intent",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "INFORMACION DE SEDES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preguntar Menu Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFORMACION DE SEDES": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Normalizar AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Manejar Flow Response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Gestionar Idioma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Config Sesión": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Extraer list_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer list_reply": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado Paciente1": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Decidir Ruta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir Ruta": {
      "main": [
        [
          {
            "node": "Manejar Comando Especial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manejar Comando Especial": {
      "main": [
        [
          {
            "node": "Limpiar Estado Cancelar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Injection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Empty",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decidir Ruta 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpiar Estado Cancelar": {
      "main": [
        [
          {
            "node": "Respuesta Cancelar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir Ruta 2": {
      "main": [
        [
          {
            "node": "Call 'GESTION_CITAS'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Intent": {
      "main": [
        [
          {
            "node": "Call 'GESTION_CITAS'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Prep list_reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep list_reply": {
      "main": [
        [
          {
            "node": "Gestion Citas(list_replay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar AI Output": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields10": {
      "main": [
        [
          {
            "node": "Decidir Ruta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado Paciente": {
      "main": [
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar Flow Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Leer Estado Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decidir Ruta1": {
      "main": [
        [
          {
            "node": "Call 'GESTION_CITAS' (flow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'INFORMACIÓN SEDES'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Informacion general Sersocial": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "49b3e1fd-eabd-4d55-86e7-40a04263f1b9",
  "activeVersionId": "49b3e1fd-eabd-4d55-86e7-40a04263f1b9",
  "versionCounter": 2296,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-03T19:30:36.628Z",
      "createdAt": "2026-03-03T19:30:36.628Z",
      "role": "workflow:owner",
      "workflowId": "y2EElhK1le4SDCSdCTkyh",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-05-15T08:32:07.961Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-15T14:38:37.293Z",
      "createdAt": "2026-03-03T19:34:15.068Z",
      "id": "M63Xu3JDOVoP0xRM",
      "name": "flujo whatsapp 🟢💬"
    },
    {
      "updatedAt": "2026-04-16T15:32:01.406Z",
      "createdAt": "2026-04-16T15:32:01.406Z",
      "id": "UwYoY9gtworpQ7kU",
      "name": "Facturación Seragil 💵"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-15T20:56:20.548Z",
    "createdAt": "2026-05-15T20:55:58.935Z",
    "versionId": "49b3e1fd-eabd-4d55-86e7-40a04263f1b9",
    "workflowId": "y2EElhK1le4SDCSdCTkyh",
    "nodes": [
      {
        "parameters": {
          "jsonSchemaExample": "***REDACTED***"
        },
        "type": "***REDACTED***",
        "typeVersion": 1.3,
        "position": [
          39072,
          32048
        ],
        "id": "944d6051-0e30-4cf7-92e4-63b9aebf2502",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "jsonSchemaExample": "***REDACTED***"
        },
        "type": "***REDACTED***",
        "typeVersion": 1.3,
        "position": [
          36448,
          33376
        ],
        "id": "1122cd85-03ae-440d-8498-2f99aa677432",
        "name": "Structured Output Parser1"
      },
      {
        "parameters": {
          "updates": [
            "messages"
          ],
          "options": {}
        },
        "type": "n8n-nodes-base.whatsAppTrigger",
        "typeVersion": 1,
        "position": [
          23536,
          32464
        ],
        "id": "685f77ba-877d-46fc-8374-da62f55d628c",
        "name": "WhatsApp Trigger",
        "webhookId": "daaa9d41-9c99-4bb9-9cad-d1a272fae914",
        "credentials": {
          "whatsAppTriggerApi": {
            "id": "dDAj8ngDC7YVOMRE",
            "name": "WhatsApp OAuth account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "***REDACTED***",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "id": "fc965780-4470-4fa3-9b6f-68f1d11554e5"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "TEXTO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "842e3ea2-055b-4e55-bf50-b73ca3ddaf07",
                      "leftValue": "***REDACTED***",
                      "rightValue": "",
                      "operator": {
                        "type": "object",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "AUDIO"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "img-1",
                      "leftValue": "***REDACTED***",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "IMAGEN"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "flo-1",
                      "leftValue": "***REDACTED***",
                      "rightValue": "nfm_reply",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "FLOW_RESPONSE"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "btn-rep-1",
                      "leftValue": "***REDACTED***",
                      "rightValue": "button_reply",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "BUTTON_REPLY"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "DESCONOCIDO"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          23904,
          33008
        ],
        "id": "39edd0fc-82cf-4c7c-afda-201eedb2f3f3",
        "name": "Switch2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f5899a8c-06bf-4901-9972-c12513e8a2a1",
                "name": "display_phone_number",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "1570c3ca-d4e0-42c3-9c48-b7b776f2994f",
                "name": "phone_number_id",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "cd1a903b-8391-4d1c-98f4-a4611bd95361",
                "name": "profile_name",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "dcc9656c-3c11-4df2-97ed-a899c1af4997",
                "name": "wa_id",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "8a3a7c0e-d255-4d27-950e-8e4bae62fc09",
                "name": "messages.id",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "b54751e9-2b2a-4226-8955-6dc9bd6de56b",
                "name": "messages.text.body",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "195b93fc-f323-481e-b848-3b3912485341",
                "name": "messages.type",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "4b539b2a-3e35-4d0e-a4d5-2ddac8d0ff23",
                "name": "messages.timestamp",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "909d85fe-690b-4595-9c15-5eec17846bf1",
                "name": "messages.from",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "32bf99da-d883-4422-bd85-a3e3d5693695",
                "name": "messages.text",
                "value": "***REDACTED***",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          24416,
          32848
        ],
        "id": "806095a3-124c-4e6e-ba27-29d49c3feeee",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $json.messages.from}}_buffer7",
          "messageData": "***REDACTED***",
          "tail": true
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          24528,
          32608
        ],
        "id": "73db1180-c4c9-4a76-83ac-9568660d13e9",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "messages",
          "key": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          24688,
          32608
        ],
        "id": "b2cddeca-3505-4c33-93ad-79f41e6ef544",
        "name": "Redis1",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "***REDACTED***",
                      "rightValue": "***REDACTED***",
                      "operator": {
                        "type": "string",
                        "operation": "notEquals"
                      },
                      "id": "d9859c5d-e5a0-47be-9804-d24d6973fae1"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Inactividad"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7eeee9c2-021b-429f-b17f-0d5dbb665a40",
                      "leftValue": "***REDACTED***",
                      "rightValue": "***REDACTED***",
                      "operator": {
                        "type": "dateTime",
                        "operation": "before"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Seguir"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "Esperar"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          24848,
          32592
        ],
        "id": "bc1103c6-6931-4282-8185-173614c6b41f",
        "name": "Switch1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          25072,
          32368
        ],
        "id": "c738b594-c8cc-4dd5-8966-82a18ab1bfda",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "***REDACTED***"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          25056,
          32608
        ],
        "id": "0b627054-63d5-42de-a513-20b0062dd3fe",
        "name": "Redis2",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          25120,
          32752
        ],
        "id": "5df4c5cb-5849-47ed-b21c-8cd11a7359a7",
        "name": "Wait",
        "webhookId": "42e25b68-a449-4a55-914f-c414045ffc0b"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a54b93fa-f647-4c2e-be2f-08f6ac71d7ee",
                "name": "mensaje",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          25216,
          32608
        ],
        "id": "8224e672-9613-4c1e-b0f4-9e29fb9996cb",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "resource": "media",
          "operation": "mediaUrlGet",
          "mediaGetId": "***REDACTED***"
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          24368,
          33152
        ],
        "id": "90a23ed7-c6a2-44c3-b764-de83e734e8d9",
        "name": "Obtener audio",
        "webhookId": "3847188a-68b1-4c1d-a237-0a3d45f75b31",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          24560,
          33152
        ],
        "id": "49be78d3-128c-4a09-92ca-950f1e2e2223",
        "name": "HTTP Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "p7JIZsChNoDJfzR0",
            "name": "Header Auth account 3"
          },
          "httpBearerAuth": {
            "id": "SstTWntbtINflkHf",
            "name": "Bearer Auth account"
          }
        }
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2,
        "position": [
          24736,
          33152
        ],
        "id": "cd76630d-5b18-49f7-8221-4b31b44cb0a5",
        "name": "Transcribe a recording",
        "credentials": {
          "openAiApi": {
            "id": "dNAey8tcxmUMRffx",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "***REDACTED***",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          24896,
          33152
        ],
        "id": "2e089b5c-a6db-4fc3-9fa9-ae5863e83fac",
        "name": "Basic LLM Chain1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "517999d6-31d4-45bd-aba7-a8b49b0ef41e",
                "name": "text",
                "value": "***REDACTED***",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          25184,
          33152
        ],
        "id": "88424a6c-786c-4d38-ad15-1d090e8660b0",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b1a4d37a-d087-4665-bb41-28d9a4a7fe38",
                "name": "mensaje",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          25472,
          32896
        ],
        "id": "49cc047e-6cc7-437f-b2a3-9935032e8929",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "5bf2b59a-6ae4-4288-ba49-f246b777efe7",
        "name": "Sanitizar Entrada",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          25632,
          32896
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "***REDACTED***",
          "batching": {
            "delayBetweenBatches": 0
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.7,
        "position": [
          26464,
          33168
        ],
        "id": "5c659baa-67ef-4876-82df-ac5b1ba3c704",
        "name": "Basic LLM Chain",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          26960,
          33152
        ],
        "id": "149ae873-92ff-4f88-8262-e07cf3a0ac68",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "372bba1d-32e0-4a5e-af40-79c1b9061821",
                "name": "intent",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "lang-001",
                "name": "lang",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          27168,
          33152
        ],
        "id": "8c952607-74ef-4dc6-815b-e810b3482add",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "session_config",
          "key": "***REDACTED***",
          "options": {}
        },
        "id": "9fb40261-a37d-42cb-bf0c-eb0b5bf3d806",
        "name": "Leer Config Sesión",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          27344,
          33152
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "65683472-79fd-43b8-8d52-2e040b0ce25d",
        "name": "Gestionar Idioma",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          27680,
          33152
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "id": "ee3e72e5-b183-4b62-a042-bcf402948b96",
        "name": "Guardar Config Sesión",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          27872,
          33152
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "s1",
                      "leftValue": "***REDACTED***",
                      "rightValue": "agendar",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "AGENDAR"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "s2",
                      "leftValue": "***REDACTED***",
                      "rightValue": "consultar_cita",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "CONSULTAR CITA"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "s3",
                      "leftValue": "***REDACTED***",
                      "rightValue": "cancelar_cita",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "CANCELAR CITA"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "s4",
                      "leftValue": "***REDACTED***",
                      "rightValue": "afiliacion",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "AFILIACION"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "s5",
                      "leftValue": "***REDACTED***",
                      "rightValue": "sedes",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "SEDES"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "98f118a1-f535-4bb6-8d24-6fdd32035b95",
                      "leftValue": "***REDACTED***",
                      "rightValue": "saludos",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "SALUDOS"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "ignoreCase": true,
            "renameFallbackOutput": "OTHER"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          28128,
          33728
        ],
        "id": "a880e518-27f2-42d1-9d79-f13f906ec815",
        "name": "Switch"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "id",
            "cachedResultUrl": "/n8n/workflow/NDgPUqxm4BJZJ6LfOj19K"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "***REDACTED***",
              "telefono": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          28688,
          33520
        ],
        "id": "ebfdb71d-82a2-4735-a756-1978c1185e14",
        "name": "INFORMACION DE SEDES"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "***REDACTED***",
          "options": {
            "systemMessage": "***REDACTED***"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          28608,
          33856
        ],
        "id": "15caa696-adba-47d9-a7ae-aec048e7f14f",
        "name": "AI Agent"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          29408,
          33680
        ],
        "id": "71a550cf-6bc1-418b-a961-416465815c2d",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "={{ $json.output.Parte1 }}",
          "additionalFields": {
            "previewUrl": true
          }
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          29616,
          33680
        ],
        "id": "8303770a-f5a7-4eac-9b2f-e0429af04f57",
        "name": "Respuesta",
        "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2d55e3fd-04de-4b67-bd7f-9d88d6f57882",
                "leftValue": "***REDACTED***",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          29792,
          33680
        ],
        "id": "67dba12e-84dd-47ad-806c-0199749255b4",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {
            "previewUrl": true
          }
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          30032,
          33664
        ],
        "id": "521a2286-a995-4d05-b8b9-8385ac78a1ae",
        "name": "Respuesta1",
        "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "***REDACTED***"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          28480,
          34160
        ],
        "id": "5b21e78e-e018-4baf-b389-b4c467de7a76",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "dNAey8tcxmUMRffx",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "***REDACTED***"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          26000,
          33264
        ],
        "id": "3b099b23-87b5-45dd-81f9-c6347c4ab515",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "dNAey8tcxmUMRffx",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "***REDACTED***",
          "sessionTTL": 3600,
          "contextWindowLength": 15
        },
        "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
        "typeVersion": 1.5,
        "position": [
          28704,
          34160
        ],
        "id": "66d1f059-694e-4aa8-8213-3bcedb2e97f4",
        "name": "Redis Chat Memory",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "id": "22d8a50b-4b3b-4cd7-8a67-465dd60a6b6f",
        "name": "Respuesta Imagen",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          24368,
          33360
        ],
        "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "45129e9e-06b3-48a4-b9ec-57841ed87627",
        "name": "Manejar Flow Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24384,
          33792
        ]
      },
      {
        "parameters": {
          "content": "## VOZ",
          "height": 256,
          "width": 992
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          24336,
          33024
        ],
        "typeVersion": 1,
        "id": "6cc56e68-6138-425d-ae4c-39669e0de7a9",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## TEXTO",
          "height": 608,
          "width": 992,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          24336,
          32416
        ],
        "id": "95e00d58-d11d-4346-953c-9831404bdbee",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ab924a4d-a46e-4d75-b235-90ec9dca381d",
                "name": "intent",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "a1f70622-0ebf-424f-93b1-fe8530751115",
                "name": "lang",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "94c0fe72-57c4-4e04-9db1-3b963d2e5b5c",
                "name": "session_config",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          27504,
          33152
        ],
        "id": "ff1bf76c-9a16-4a0e-93ad-3a213171b342",
        "name": "Edit Fields5"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24304,
          34064
        ],
        "id": "86a5854f-1467-4885-9028-c4a7297b9fc8",
        "name": "Extraer list_reply"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6ce357c5-1eb9-4d78-808c-78b7a94a4256",
                "name": "messages",
                "value": "***REDACTED***",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          24016,
          34064
        ],
        "id": "51ad41af-d069-4178-a7c0-473bea24780d",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "estado_raw",
          "key": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          25808,
          32896
        ],
        "id": "a817991d-34d2-4113-a9ba-8693350b185d",
        "name": "Leer Estado Paciente1",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3e30ed4b-1828-4b0e-a00a-accd9aa359aa",
                "name": "telefono",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "b9468a08-d7d0-4419-82b7-f7be5ebb9826",
                "name": "mensaje",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "04bf1808-c4d4-488e-8ad2-ca825c04a605",
                "name": "estado_raw",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "c65c268c-c5de-4d41-96f8-fa6b7c761128",
                "name": "trigger",
                "value": "***REDACTED***",
                "type": "array"
              },
              {
                "id": "11e35b1a-flag-cancel-input-1234",
                "name": "is_cancel",
                "value": "***REDACTED***",
                "type": "boolean"
              },
              {
                "id": "22e35b1a-flag-injec-input-1234",
                "name": "injection_detected",
                "value": "***REDACTED***",
                "type": "boolean"
              },
              {
                "id": "33e35b1a-flag-empty-input-1234",
                "name": "is_empty",
                "value": "***REDACTED***",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          25968,
          32896
        ],
        "id": "e0d99672-a705-4007-a7bc-6c34d33fc5ce",
        "name": "Edit Fields9"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          26160,
          32896
        ],
        "id": "bc63543c-5845-4d0d-bcc4-586fc71b6bf3",
        "name": "Decidir Ruta"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "***REDACTED***",
                      "rightValue": false,
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      },
                      "id": "d603330f-bebd-48c8-b13e-608899ba3b33"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "EN_PROCESO"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          26496,
          32880
        ],
        "id": "fefe928a-f54a-4483-9404-e79521f9b33d",
        "name": "Decidir Ruta 2"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d600b267-b2ab-44c7-98c2-12b68979ebd1",
                "name": "intent",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "83b3eadd-130b-45c0-9ee9-0c88c555f03c",
                "name": "mensaje",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          28480,
          33120
        ],
        "id": "46b81ef2-6d81-411b-bc42-9c223a3afbc7",
        "name": "Prep Intent"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/kxHCsXKdVTcKN6sbWhMBS",
            "cachedResultName": "GESTION_CITAS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "***REDACTED***",
              "intent": "={{ $json.intent_pendiente }}",
              "raw": "***REDACTED***",
              "telefono": "***REDACTED***",
              "phone_number_id": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "intent",
                "displayName": "intent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "raw",
                "displayName": "raw",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone_number_id",
                "displayName": "phone_number_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          26800,
          32864
        ],
        "id": "bfe8a35c-2fe6-4d45-935d-393fd33dc532",
        "name": "Call 'GESTION_CITAS'"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "estado_raw",
          "key": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          24512,
          34064
        ],
        "id": "692413f0-d055-4b8f-9af9-0c51181f5844",
        "name": "Redis3",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7eb49f23-476e-4da0-af64-8f39219f7ba7",
                "name": "mensaje   ",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "cc1c5799-d3b4-47f8-9f63-b984b03d1f29",
                "name": "intent",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "3af8d2f1-dddb-4b10-9e03-fdc526f4cc85",
                "name": "raw",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "933d108d-be42-442f-afc9-ad677a8b7122",
                "name": "telefono",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "6d2ce2e5-bb0e-4bc7-9d9c-981e99303aa5",
                "name": "phone_number_id",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          24720,
          34064
        ],
        "id": "931bcf69-45f7-4b19-8b5d-88adee7c7936",
        "name": "Prep list_reply"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/kxHCsXKdVTcKN6sbWhMBS",
            "cachedResultName": "GESTION_CITAS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "={{ $json['mensaje   '] }}",
              "intent": "={{ $json.intent }}",
              "raw": "={{ $json.raw }}",
              "telefono": "={{ $json.telefono }}",
              "phone_number_id": "={{ $json.phone_number_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "intent",
                "displayName": "intent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "raw",
                "displayName": "raw",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "phone_number_id",
                "displayName": "phone_number_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          24928,
          34064
        ],
        "id": "2fda8aec-1a36-4594-96b0-1c8e9a1e3a03",
        "name": "Gestion Citas(list_replay)"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/kxHCsXKdVTcKN6sbWhMBS",
            "cachedResultName": "GESTION_CITAS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "={{ $json.mensaje }}",
              "intent": "={{ $json.intent }}",
              "telefono": "***REDACTED***",
              "phone_number_id": "***REDACTED***",
              "raw": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "intent",
                "displayName": "intent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "raw",
                "displayName": "raw",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone_number_id",
                "displayName": "phone_number_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          29040,
          33120
        ],
        "id": "60b35827-f487-4c0b-b9c1-aaa091fdb41f",
        "name": "Call 'GESTION_CITAS'1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "cmd-cancel-1",
                      "leftValue": "***REDACTED***",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "CANCELAR"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "cmd-injec-1",
                      "leftValue": "***REDACTED***",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "INJECTION"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "cmd-empty-1",
                      "leftValue": "***REDACTED***",
                      "rightValue": true,
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "EMPTY"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "CONTINUAR"
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          26448,
          32224
        ],
        "id": "7eb60926-36a0-4597-933f-2abf34ba78f9",
        "name": "Manejar Comando Especial"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "***REDACTED***"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          26816,
          31904
        ],
        "id": "f9d3579b-8f2f-470c-a173-4ec6e8384b1e",
        "name": "Limpiar Estado Cancelar",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          27200,
          31904
        ],
        "id": "f7fc3838-26ec-4ea1-bf4d-cdee57289ea8",
        "name": "Respuesta Cancelar",
        "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          26832,
          32240
        ],
        "id": "70d7c3c0-2396-4cc0-9e68-ac5f60a8cb41",
        "name": "Respuesta Injection",
        "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          26816,
          32464
        ],
        "id": "af7d4f26-3133-4206-964f-4e7dc79f8396",
        "name": "Respuesta Empty",
        "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "dedup",
          "key": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          23824,
          32464
        ],
        "id": "a7d66e75-69e0-4bd6-9920-84ef6b38cb54",
        "name": "Dedup Get",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "dedup-if-1",
                "leftValue": "={{ $json.dedup }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          24352,
          32464
        ],
        "id": "7e1ff535-46ec-4df5-a0e6-ac703dd0ef2d",
        "name": "Dedup If"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "1",
          "expire": true,
          "ttl": 600
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          23872,
          32736
        ],
        "id": "cf684d32-17ce-4e7a-a50e-9794a3a2f421",
        "name": "Dedup Set",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          24672,
          32480
        ],
        "id": "5942c60d-e5ed-46c8-93cd-611e38732e90",
        "name": "Dedup Skip"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          29392,
          34112
        ],
        "id": "ec63ae25-ad73-49e2-97a2-c4ffa8f79a3b",
        "name": "Normalizar AI Output1",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          29104,
          33840
        ],
        "id": "c7d9aa7a-5914-4bc8-b221-1b4a08185975",
        "name": "Normalizar AI Output"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          28048,
          34160
        ],
        "id": "e563ad5c-adfe-4e70-b8c0-935ffb7e7c81",
        "name": "Preguntar Menu Fallback",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "estado_raw",
          "key": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          24864,
          33552
        ],
        "id": "f68df862-796c-4583-97f1-5b50614b6545",
        "name": "Leer Estado Paciente",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "3e30ed4b-1828-4b0e-a00a-accd9aa359aa",
                "name": "telefono",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "b9468a08-d7d0-4419-82b7-f7be5ebb9826",
                "name": "mensaje",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "04bf1808-c4d4-488e-8ad2-ca825c04a605",
                "name": "estado_raw",
                "value": "***REDACTED***",
                "type": "string"
              },
              {
                "id": "c65c268c-c5de-4d41-96f8-fa6b7c761128",
                "name": "trigger",
                "value": "***REDACTED***",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          25136,
          33552
        ],
        "id": "a5b802db-7901-4136-8e93-de64325dcfef",
        "name": "Edit Fields10"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          25408,
          33552
        ],
        "id": "eda3157e-2512-47d9-b468-b305b8abf1cf",
        "name": "Decidir Ruta1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "e07d6b9e-cf76-4efb-a06b-c9528e5f919a",
                "leftValue": "***REDACTED***",
                "rightValue": "flow",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          24160,
          33632
        ],
        "id": "d664d79a-b48a-4027-829c-22a830b3572e",
        "name": "If1"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          24624,
          33552
        ],
        "id": "80853469-932b-4347-b2cd-5c532efab59a",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e5d275a5-89bd-45ab-bfc8-df1b808fdfcf",
                "name": "messages",
                "value": "***REDACTED***",
                "type": "object"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          24400,
          33552
        ],
        "id": "62b62809-7c22-4074-80ae-e8b2054eba12",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/kxHCsXKdVTcKN6sbWhMBS",
            "cachedResultName": "GESTION_CITAS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "={{ $json.mensaje }}",
              "intent": "={{ $json.intent_pendiente }}",
              "raw": "={{ $json.estado_raw }}",
              "telefono": "={{ $json.telefono }}",
              "phone_number_id": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "intent",
                "displayName": "intent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "raw",
                "displayName": "raw",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone_number_id",
                "displayName": "phone_number_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          25680,
          33552
        ],
        "id": "46de830f-d8d5-47e7-ac80-65f5a45ebe4f",
        "name": "Call 'GESTION_CITAS' (flow)"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/NDgPUqxm4BJZJ6LfOj19K",
            "cachedResultName": "INFORMACIÓN SEDES"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "***REDACTED***",
              "telefono": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          29120,
          34112
        ],
        "id": "42919cac-e684-4528-965f-754197907a2a",
        "name": "Call 'INFORMACIÓN SEDES'"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "***REDACTED***",
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "chatbot_info",
            "cachedResultUrl": "***REDACTED***"
          },
          "filePath": "info.json",
          "asBinaryProperty": "=false",
          "additionalParameters": {}
        },
        "type": "n8n-nodes-base.githubTool",
        "typeVersion": 1.1,
        "position": [
          29008,
          34416
        ],
        "id": "3bd42dc5-8764-47f1-aabe-56e100a179c9",
        "name": "Informacion general Sersocial2",
        "webhookId": "f9044c0a-0463-4ac4-8320-ccf954621fef",
        "credentials": {
          "githubOAuth2Api": {
            "id": "tzjUTnmog5gorp8f",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {},
          "optimizeResponse": true
        },
        "type": "n8n-nodes-base.httpRequestTool",
        "typeVersion": 4.3,
        "position": [
          28896,
          34144
        ],
        "id": "eb0ec289-718c-42b9-9372-98262c5b5176",
        "name": "Informacion general Sersocial"
      },
      {
        "parameters": {
          "jsonSchemaExample": "***REDACTED***"
        },
        "type": "***REDACTED***",
        "typeVersion": 1.3,
        "position": [
          32016,
          34416
        ],
        "id": "825a2536-0a01-4ae0-b686-697a187a5e74",
        "name": "Structured Output Parser2"
      }
    ],
    "connections": {
      "WhatsApp Trigger": {
        "main": [
          [
            {
              "node": "Dedup Get",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedup Get": {
        "main": [
          [
            {
              "node": "Dedup If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedup If": {
        "main": [
          [
            {
              "node": "Dedup Set",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Dedup Skip",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedup Set": {
        "main": [
          [
            {
              "node": "Switch2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch2": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Obtener audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respuesta Imagen",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis1": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Redis2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis2": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener audio": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Transcribe a recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording": {
        "main": [
          [
            {
              "node": "Basic LLM Chain1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain1": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "Sanitizar Entrada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sanitizar Entrada": {
        "main": [
          [
            {
              "node": "Leer Estado Paciente1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Leer Config Sesión",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Config Sesión": {
        "main": [
          [
            {
              "node": "Edit Fields5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gestionar Idioma": {
        "main": [
          [
            {
              "node": "Guardar Config Sesión",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Prep Intent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prep Intent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prep Intent",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [
            {
              "node": "INFORMACION DE SEDES",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Preguntar Menu Fallback",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "INFORMACION DE SEDES": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Normalizar AI Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Respuesta": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Respuesta1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Basic LLM Chain1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Redis Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Manejar Flow Response": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields5": {
        "main": [
          [
            {
              "node": "Gestionar Idioma",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Config Sesión": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields7": {
        "main": [
          [
            {
              "node": "Extraer list_reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer list_reply": {
        "main": [
          [
            {
              "node": "Redis3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Estado Paciente1": {
        "main": [
          [
            {
              "node": "Edit Fields9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields9": {
        "main": [
          [
            {
              "node": "Decidir Ruta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decidir Ruta": {
        "main": [
          [
            {
              "node": "Manejar Comando Especial",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manejar Comando Especial": {
        "main": [
          [
            {
              "node": "Limpiar Estado Cancelar",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respuesta Injection",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Respuesta Empty",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Decidir Ruta 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limpiar Estado Cancelar": {
        "main": [
          [
            {
              "node": "Respuesta Cancelar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decidir Ruta 2": {
        "main": [
          [
            {
              "node": "Call 'GESTION_CITAS'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Intent": {
        "main": [
          [
            {
              "node": "Call 'GESTION_CITAS'1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis3": {
        "main": [
          [
            {
              "node": "Prep list_reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep list_reply": {
        "main": [
          [
            {
              "node": "Gestion Citas(list_replay)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalizar AI Output": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Edit Fields10": {
        "main": [
          [
            {
              "node": "Decidir Ruta1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Estado Paciente": {
        "main": [
          [
            {
              "node": "Edit Fields10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Manejar Flow Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Leer Estado Paciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields6": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decidir Ruta1": {
        "main": [
          [
            {
              "node": "Call 'GESTION_CITAS' (flow)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'INFORMACIÓN SEDES'": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Informacion general Sersocial": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version 49b3e1fd",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-15T20:56:20.547Z",
        "id": 747,
        "workflowId": "y2EElhK1le4SDCSdCTkyh",
        "versionId": "49b3e1fd-eabd-4d55-86e7-40a04263f1b9",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}