workflows/Chatbot_Whatsapp__uxsvc03gYU8Zs04A.json
{
  "updatedAt": "2026-02-11T22:00:48.297Z",
  "createdAt": "2026-01-08T13:49:42.168Z",
  "id": "uxsvc03gYU8Zs04A",
  "name": "Chatbot Whatsapp",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -1536,
        -64
      ],
      "id": "2bbf5e38-822a-407c-871d-472c29e0cfae",
      "name": "WhatsApp Trigger",
      "webhookId": "daaa9d41-9c99-4bb9-9cad-d1a272fae914",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "yccDYm5IQmgRwVoE",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2016,
        400
      ],
      "id": "89166bba-b280-4804-a78a-3a408a44ce9d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## VOZ",
        "height": 256,
        "width": 1456
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        224
      ],
      "typeVersion": 1,
      "id": "5c910792-a465-4a29-90a3-53d3dd7dd451",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        -1536,
        624
      ],
      "id": "15915a16-914c-41b3-b152-bdb49fb8a7e8",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "model": "mistral-small-2501",
        "options": {}
      },
      "type": "***REDACTED***",
      "typeVersion": 1,
      "position": [
        -1536,
        832
      ],
      "id": "84edce91-e37e-47d4-883c-367f7fa41973",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "dXZYi4sCIQBWTVxB",
          "name": "Mistral Cloud account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "## TEXTO",
        "height": 608,
        "width": 1456,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1152,
        -384
      ],
      "id": "827c7273-91b7-4dae-9d3b-22338f6f98d4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1664,
        640
      ],
      "id": "b5f9cb4c-389c-474a-8b74-e6c343c581cb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7291f0da-77da-4ae0-83da-45748c25cd39"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e39f65c9-87fb-4a86-acbc-e3eef1f748e2",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "sede",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false,
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1664,
        16
      ],
      "id": "77077d8b-e922-4bb6-98f6-b0c24d9e650b",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54b93fa-f647-4c2e-be2f-08f6ac71d7ee",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -160
      ],
      "id": "524418dc-45cb-4a68-a53e-9ac0d356fa02",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.messages.from}}_buffer7",
        "messageData": "***REDACTED***",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -864,
        -160
      ],
      "id": "ec6782f4-750c-4e01-93aa-7732788572af",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -640,
        -160
      ],
      "id": "88c5288b-2dca-4817-a64d-b158ac04e08c",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "***REDACTED***",
                    "rightValue": "***REDACTED***",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "d9859c5d-e5a0-47be-9804-d24d6973fae1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Inactividad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7eeee9c2-021b-429f-b17f-0d5dbb665a40",
                    "leftValue": "***REDACTED***",
                    "rightValue": "***REDACTED***",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -416,
        -272
      ],
      "id": "6c26f746-5873-40b5-874f-325899891d29",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -128,
        48
      ],
      "id": "223cfb39-450f-4cb9-aa32-3e6bc93254b6",
      "name": "Wait",
      "webhookId": "42e25b68-a449-4a55-914f-c414045ffc0b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -128,
        -352
      ],
      "id": "d18ec100-d8e8-4cc7-9300-c9bf4c704b71",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -128,
        -160
      ],
      "id": "17335e85-3d6d-4166-8b93-c2add2826d79",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5899a8c-06bf-4901-9972-c12513e8a2a1",
              "name": "display_phone_number",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "1570c3ca-d4e0-42c3-9c48-b7b776f2994f",
              "name": "phone_number_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "cd1a903b-8391-4d1c-98f4-a4611bd95361",
              "name": "profile_name",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "dcc9656c-3c11-4df2-97ed-a899c1af4997",
              "name": "wa_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "8a3a7c0e-d255-4d27-950e-8e4bae62fc09",
              "name": "messages.id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "b54751e9-2b2a-4226-8955-6dc9bd6de56b",
              "name": "messages.text.body",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "195b93fc-f323-481e-b848-3b3912485341",
              "name": "messages.type",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "4b539b2a-3e35-4d0e-a4d5-2ddac8d0ff23",
              "name": "messages.timestamp",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "909d85fe-690b-4595-9c15-5eec17846bf1",
              "name": "messages.from",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "32bf99da-d883-4422-bd85-a3e3d5693695",
              "name": "messages.text",
              "value": "***REDACTED***",
              "type": "object"
            },
            {
              "id": "549c960e-6cec-40a2-bf41-2246b79f2c4e",
              "name": "messages.text.body",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        -160
      ],
      "id": "ae7e2120-abf1-4cf5-b320-3d9f45707a7a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2480,
        240
      ],
      "id": "04aa4836-8e81-4b06-9d47-f75fcfc7a5b9",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "SEDES SERSOCIAL",
          "cachedResultUrl": "***REDACTED***"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja1",
          "cachedResultUrl": "***REDACTED***"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2064,
        672
      ],
      "id": "b8df88a0-3990-41a7-9e47-4470e4df4c33",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aDaUg0dQ2hQRfilV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "batching": {
          "delayBetweenBatches": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        864,
        32
      ],
      "id": "d02be316-b3cc-406a-9e61-e46f25025c1e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "372bba1d-32e0-4a5e-af40-79c1b9061821",
              "name": "intent",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        32
      ],
      "id": "987b08b7-53a5-42f6-bbd4-5bd7ed376255",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        32
      ],
      "id": "d75e07be-fa3f-4aa6-9105-fb00e06fbb97",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/workflow/4lmOH2EOOrd3Nwno"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2080,
        -96
      ],
      "id": "bf7d0c5a-5c1f-4f79-867c-06df641a80ae",
      "name": "GESTION DE CITAS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/workflow/LFDfvdamMM7kre9h"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2080,
        96
      ],
      "id": "21441789-4fc0-4642-b48a-24a078fbe018",
      "name": "INFORMACION DE SEDES"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        240,
        736
      ],
      "id": "e60d2ef8-2be1-46cd-a330-cb9af0507f9d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "={{ $json.output.Parte1 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2704,
        272
      ],
      "id": "c0f1903d-e2d3-4f5f-8a86-7254a36c9376",
      "name": "Respuesta",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        2272,
        624
      ],
      "id": "f8793a44-53b0-4fc0-9118-ce0b13b7992f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d55e3fd-04de-4b67-bd7f-9d88d6f57882",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2928,
        272
      ],
      "id": "d65e7528-ede1-4dca-ad24-985fccdb3efc",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3152,
        272
      ],
      "id": "1bad244b-2fe8-4a90-9ac7-0d7dad0ac8ec",
      "name": "Respuesta1",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2480,
        -96
      ],
      "id": "7531994e-60b6-494e-9f1f-b3a36ec3dcfb",
      "name": "Respuesta2",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "***REDACTED***",
        "sessionTTL": 3600,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1888,
        640
      ],
      "id": "08883833-8cb6-494b-a8b8-0990b103ca67",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "fc965780-4470-4fa3-9b6f-68f1d11554e5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "842e3ea2-055b-4e55-bf50-b73ca3ddaf07",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1312,
        -64
      ],
      "id": "54a314d9-af39-4d0a-89b4-c7ad231ec284",
      "name": "Switch2"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -864,
        288
      ],
      "id": "229a93b8-75b8-45dc-9714-55370f75f030",
      "name": "Obtener audio",
      "webhookId": "3847188a-68b1-4c1d-a237-0a3d45f75b31",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        288
      ],
      "id": "c054c40d-0ed8-4ea4-b4b7-2f2be2e33b43",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "p7JIZsChNoDJfzR0",
          "name": "Header Auth account 3"
        },
        "httpBearerAuth": {
          "id": "SstTWntbtINflkHf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -416,
        288
      ],
      "id": "47b0f6a5-2430-4aa7-b31b-302cb90faaf8",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1536,
        1040
      ],
      "id": "528fa75d-9500-4bd1-91a7-d904fa0a2999",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -192,
        288
      ],
      "id": "2cd2b193-6d41-404d-984d-afb439a68b84",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "517999d6-31d4-45bd-aba7-a8b49b0ef41e",
              "name": "text",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        288
      ],
      "id": "ca4bad52-1b63-491c-9cb2-fb1d99a76d19",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1a4d37a-d087-4665-bb41-28d9a4a7fe38",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        32
      ],
      "id": "068024f1-5a7e-4544-aa82-9c98c874a0b1",
      "name": "Edit Fields4"
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GESTION DE CITAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INFORMACION DE SEDES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GESTION DE CITAS": {
      "main": [
        [
          {
            "node": "Respuesta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFORMACION DE SEDES": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Bogota",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a61a63d7-dd6f-48c1-b956-16e1dc64afa9",
  "activeVersionId": null,
  "versionCounter": 588,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-22T19:24:54.675Z",
      "createdAt": "2026-01-22T19:24:54.675Z",
      "role": "workflow:owner",
      "workflowId": "uxsvc03gYU8Zs04A",
      "projectId": "EBZGwgHNf54my5Ji",
      "project": {
        "updatedAt": "2026-01-22T19:43:29.746Z",
        "createdAt": "2026-01-22T19:42:30.105Z",
        "id": "EBZGwgHNf54my5Ji",
        "name": "Neyla Polo <npolov@sersocial.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:42:30.105Z",
            "createdAt": "2026-01-22T19:42:30.105Z",
            "userId": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
            "projectId": "EBZGwgHNf54my5Ji",
            "user": {
              "updatedAt": "2026-03-05T05:18:56.188Z",
              "createdAt": "2026-01-22T19:42:30.105Z",
              "id": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
              "email": "npolov@sersocial.org",
              "firstName": "Neyla",
              "lastName": "Polo",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:43:34.370Z",
                "personalization_survey_n8n_version": "1.121.2"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4lmOH2EOOrd3Nwno",
                "userActivated": true,
                "userActivatedAt": 1769195420470,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770846671088
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}