workflows/COHORTE_CANCER_PROSTATA_FLUJO_CAP_DATOS__7bw4Kpkca6usGm2A3DMDw.json
{
  "updatedAt": "2026-05-13T13:28:57.322Z",
  "createdAt": "2026-04-13T14:40:29.194Z",
  "id": "7bw4Kpkca6usGm2A3DMDw",
  "name": "COHORTE_CANCER_PROSTATA_FLUJO_CAP_DATOS",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "raw",
        "filters": {},
        "options": {}
      },
      "id": "fb240e32-4118-404f-8f28-ed603fa375b8",
      "name": "Outlook - Recibir Correo1",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -11024,
        5920
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.subject }}",
              "rightValue": "COHORTE | CANCER_PROSTATA",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "84c8745c-44ed-4581-9eba-5fee58ba87aa"
            },
            {
              "id": "014a4ce1-02cc-4059-b344-baa30bfac097",
              "leftValue": "={{ $json.isDraft.toString() }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01d3489b-a678-417e-9374-487c8f8442bf",
      "name": "Verificar Asunto1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -10752,
        5920
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "453aea58-ae3e-4f41-9781-a6067be3e344",
      "name": "Ignorar Correo1",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -10464,
        6176
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "***REDACTED***"
      },
      "id": "12299994-b39c-475d-a04b-204eb35b1cf1",
      "name": "Procesar Adjuntos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10192,
        5952
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tieneValidos }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "3e36f576-4dbf-403a-8510-fed5b5c10b80"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "97821931-1932-468a-aeee-88aae5145874",
      "name": "¿Tiene Válidos?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -8960,
        5936
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "075a89e7-3283-4596-87eb-a1c8a376a730",
      "name": "Preparar Registros PG1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8112,
        5808
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "validXlsx",
        "options": {}
      },
      "id": "6955ac94-0287-41f1-92bc-5881447af6ad",
      "name": "Subir Excel OneDrive1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -8112,
        5632
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "ab4e2f46-1bae-421e-8dac-83f49ced1296",
      "name": "Preparar PDFs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8112,
        5376
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "f08099ad-9526-4ef0-aaa7-91d6f1692ee8",
      "name": "Generar Excel Válidos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8400,
        5728
      ],
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_de_reporte",
              "displayName": "fecha_de_reporte",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nit_de_la_ips",
              "displayName": "nit_de_la_ips",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo_de_habilitacion",
              "displayName": "codigo_de_habilitacion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_de_documento",
              "displayName": "tipo_de_documento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numero_de_documento",
              "displayName": "numero_de_documento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "primer_nombre",
              "displayName": "primer_nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segundo_nombre",
              "displayName": "segundo_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "primer_apellido",
              "displayName": "primer_apellido",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segundo_apellido",
              "displayName": "segundo_apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_de_nacimiento",
              "displayName": "fecha_de_nacimiento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "direccion_de_residencia",
              "displayName": "direccion_de_residencia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono_celular",
              "displayName": "telefono_celular",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_del_examen",
              "displayName": "nombre_del_examen",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resultado_biopsia",
              "displayName": "resultado_biopsia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resultado_psa",
              "displayName": "resultado_psa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_toma_examen",
              "displayName": "fecha_toma_examen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_resultados_examen",
              "displayName": "fecha_resultados_examen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo_remitente",
              "displayName": "correo_remitente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_cargue",
              "displayName": "fecha_cargue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "archivo_origen",
              "displayName": "archivo_origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "archivo_validado",
              "displayName": "archivo_validado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fila_origen",
              "displayName": "fila_origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_afiliado_codigo",
              "displayName": "estado_afiliado_codigo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_afiliado_display",
              "displayName": "estado_afiliado_display",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": false
        }
      },
      "id": "81e813b6-6965-43f3-8cab-610ab6c759a3",
      "name": "Insertar PostgreSQL1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -7872,
        5808
      ],
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -10464,
        5952
      ],
      "id": "24bfa159-cbac-41c2-97d6-feb4076cf6cd",
      "name": "HTTP Request remitente1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -10464,
        5792
      ],
      "id": "693f5450-9497-47fa-8289-3f515e177c2a",
      "name": "HTTP Request adjunto1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "ae02809c-edb7-4eaf-874b-0d2272a80de2",
      "name": "Validar Token y Estructura1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -10016,
        5952
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7872,
        5376
      ],
      "id": "54890d70-f375-43de-9f3e-ca83665e5f3c",
      "name": "HTTP Request Subir PDFs1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "TuAoJsXaUmvhXNhz",
          "name": "Microsoft Outlook account"
        },
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "isRead",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -10464,
        5648
      ],
      "id": "34c28381-6956-461f-9f39-f538dce548a7",
      "name": "Marcar como Leído1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "c35c18ec-4427-4369-867f-70c52269bb63",
      "name": "Validar Registros1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9360,
        5936
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9136,
        5936
      ],
      "id": "690d7edd-0100-4a17-a27b-8bf294058202",
      "name": "Creacion_excel_errores1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7872,
        6288
      ],
      "id": "57970bdf-0e08-402d-91be-993c88b776b3",
      "name": "Log - Sin Excel1",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7872,
        6096
      ],
      "id": "aff52b27-fc11-4e7c-84fd-d0a0c0370394",
      "name": "Log - Formato Incorrecto1",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7424,
        5920
      ],
      "id": "cac72041-ce7b-49eb-a738-06e93abe1a1c",
      "name": "htmlContent1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6976,
        5920
      ],
      "id": "4d1257a5-f269-499c-bd5c-c556d2c4a252",
      "name": "Log - Inválidos1",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7200,
        5920
      ],
      "id": "a81c55d3-e96f-4d2c-a918-eb514e37911e",
      "name": "RESUMEN_CON_ERRORES1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -7616,
        5920
      ],
      "id": "79c28408-237c-4e08-8a42-4cbc8a42527a",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7872,
        5632
      ],
      "id": "84d4f91e-6812-4f7c-8fab-ad419dfb2226",
      "name": "Log - Cargue Exitoso1",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -9600,
        6112
      ],
      "id": "df6142ca-2bd4-4a89-a266-aac6b22db117",
      "name": "HTTP Request — Descargar XLSX1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        },
        "microsoftOutlookOAuth2Api": {
          "id": "TuAoJsXaUmvhXNhz",
          "name": "Microsoft Outlook account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8976,
        6112
      ],
      "id": "c38e2759-abc0-4525-b251-8b90ce4603fd",
      "name": "HTTP Request — Descargar PDF1",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        },
        "microsoftOutlookOAuth2Api": {
          "id": "TuAoJsXaUmvhXNhz",
          "name": "Microsoft Outlook account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8288,
        6096
      ],
      "id": "3ccefbbe-0cef-4cc7-ba42-46e34bec1828",
      "name": "body_formato_errado1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "xlsxBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -9168,
        6112
      ],
      "id": "93c941f4-e2c4-4f6e-bdd8-5809237287d5",
      "name": "Base64 — XLSX1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "pdfBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -8784,
        6112
      ],
      "id": "123ec7ab-c1d8-4b4e-b831-b577fc8b4c41",
      "name": "Base64 — PDF1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8288,
        6288
      ],
      "id": "74d28090-36e9-43ff-a814-b4b2175272c1",
      "name": "body_sin_excel1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8096,
        6288
      ],
      "id": "8e076a1d-2225-45fa-bc0c-6fbbfd27ed28",
      "name": "Rechazo - Sin Excel1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.xlsxKey }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "59aa5725-e090-4644-88c0-e2e42455eb2c"
            },
            {
              "id": "ab24695f-e912-4859-b1f4-03ced1e74a90",
              "leftValue": "={{ $json.tokenValido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2d2672ed-688d-4ef4-ab83-933e3cb4d074",
      "name": "ARCHIVO_VALIDO1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -9824,
        5952
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d1fd2218-d822-4eaf-b6ed-8945621e2980",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "87f7c1d3-92c9-40e8-9750-ddacbb24a629",
      "name": "¿Archivo excel?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -8576,
        6112
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8096,
        6096
      ],
      "id": "0bded89c-7430-46a3-b527-be936071cbb9",
      "name": "Notificacion_formato_errado1",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            },
            {
              "name": "client_id",
              "value": "***REDACTED***"
            },
            {
              "name": "username",
              "value": "***REDACTED***"
            },
            {
              "name": "password",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -9616,
        5856
      ],
      "id": "8d01dffb-d184-41e2-821a-5a2c0a4cf45e",
      "name": "Obtener Token Zeus1",
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "raw",
        "filters": {},
        "options": {}
      },
      "id": "baf70e86-ccde-4de0-944c-dc80749dabd5",
      "name": "Outlook - Recibir Correo",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -10320,
        3616
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.subject }}",
              "rightValue": "RUTA | PREDIAGNOSTICA_PROSTATA",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "84c8745c-44ed-4581-9eba-5fee58ba87aa"
            },
            {
              "id": "014a4ce1-02cc-4059-b344-baa30bfac097",
              "leftValue": "={{ $json.isDraft.toString() }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "23a3390c-1ca5-4dc2-b485-eba07483a2ff",
      "name": "Verificar Asunto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -10048,
        3616
      ]
    },
    {
      "parameters": {},
      "id": "3066bb71-64ae-4890-ba2e-03408a7820f9",
      "name": "Ignorar Correo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -9760,
        3872
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "***REDACTED***"
      },
      "id": "173a5d1e-f05f-4ad6-90cc-1179c6413b7c",
      "name": "Procesar Adjuntos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9488,
        3648
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tieneValidos }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "3e36f576-4dbf-403a-8510-fed5b5c10b80"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07cc730d-11fb-4a28-8fb2-4a57f9dc1f5e",
      "name": "¿Tiene Válidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -8192,
        3552
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "a7cead41-11f0-458f-894a-bee4742c8add",
      "name": "Preparar Registros PG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7440,
        3312
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "validXlsx",
        "options": {}
      },
      "id": "3d0af10d-80cf-4cdb-b0dc-661477d89e25",
      "name": "Subir Excel OneDrive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -7440,
        3136
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "aa29dd32-f1e3-4aa8-ac0e-b987b4f0bf8f",
      "name": "Preparar PDFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7440,
        2880
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "796740e5-c7da-4089-9929-7508afcf060f",
      "name": "Generar Excel Válidos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7728,
        3232
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "estado_mutal": false,
            "fallecido": false,
            "registro_zeus": false
          },
          "matchingColumns": [
            "id_registro"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_documento",
              "displayName": "tipo_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "documento",
              "displayName": "documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_completo",
              "displayName": "nombre_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono_1",
              "displayName": "telefono_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono_2",
              "displayName": "telefono_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "edad",
              "displayName": "edad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "usuario_contactado",
              "displayName": "usuario_contactado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_carga",
              "displayName": "fecha_carga",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "estado_mutal",
              "displayName": "estado_mutal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "primer_nombre",
              "displayName": "primer_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "primer_apellido",
              "displayName": "primer_apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segundo_apellido",
              "displayName": "segundo_apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_nacimiento",
              "displayName": "fecha_nacimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sexo",
              "displayName": "sexo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_usuario",
              "displayName": "tipo_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_afiliado",
              "displayName": "tipo_afiliado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_sangre",
              "displayName": "tipo_sangre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo_departamento",
              "displayName": "codigo_departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo_municipio",
              "displayName": "codigo_municipio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "auto_id",
              "displayName": "auto_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_toma_examen",
              "displayName": "fecha_toma_examen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_resultados_examen",
              "displayName": "fecha_resultados_examen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_examen",
              "displayName": "nombre_examen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_unico",
              "displayName": "id_unico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "call_id",
              "displayName": "call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion_elegida",
              "displayName": "opcion_elegida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_cita_agendada",
              "displayName": "fecha_cita_agendada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hora_cita_agendada",
              "displayName": "hora_cita_agendada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_llamada",
              "displayName": "fecha_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resultado_llamada",
              "displayName": "resultado_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion_1_raw",
              "displayName": "opcion_1_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion_2_raw",
              "displayName": "opcion_2_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "opcion_3_raw",
              "displayName": "opcion_3_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "motivo_no_asistencia",
              "displayName": "motivo_no_asistencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numero_brindado",
              "displayName": "numero_brindado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_departamento",
              "displayName": "nombre_departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_municipio",
              "displayName": "nombre_municipio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "regimen",
              "displayName": "regimen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fallecido",
              "displayName": "fallecido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo_regimen",
              "displayName": "codigo_regimen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segundo_nombre",
              "displayName": "segundo_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "registro_zeus",
              "displayName": "registro_zeus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contrato",
              "displayName": "contrato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo_empresa",
              "displayName": "codigo_empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_regimen",
              "displayName": "id_regimen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_registro",
              "displayName": "id_registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "intentos_llamada",
              "displayName": "intentos_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_processed_call_id",
              "displayName": "last_processed_call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id_cita_zeus",
              "displayName": "id_cita_zeus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "calificacion_llamada",
              "displayName": "calificacion_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": false
        }
      },
      "id": "c82d4e38-d380-4196-b8d4-d002da63b019",
      "name": "Insertar PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -7200,
        3312
      ],
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "conexión sarai"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -9760,
        3648
      ],
      "id": "9612f225-c341-45e2-85e2-671ed4123ea6",
      "name": "HTTP Request remitente",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -9760,
        3488
      ],
      "id": "6073f4eb-7676-45a9-8a4f-c602d278e6d6",
      "name": "HTTP Request adjunto",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "7a3b3feb-d966-4fd4-9a67-f78d4d3e2f72",
      "name": "Validar Token y Estructura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -9312,
        3648
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7200,
        2880
      ],
      "id": "cafa5ddf-9d3d-4da2-a9cc-46eade136cb4",
      "name": "HTTP Request Subir PDFs",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "TuAoJsXaUmvhXNhz",
          "name": "Microsoft Outlook account"
        },
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "isRead",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -9760,
        3344
      ],
      "id": "bd093924-e7f1-4ee0-ac2a-b86ffdd72b90",
      "name": "Marcar como Leído",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "4f75a0bb-bdaf-4ce1-bee9-de8613a31a6c",
      "name": "Validar Registros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8656,
        3552
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8432,
        3552
      ],
      "id": "27780220-0b63-42df-86c2-bbc2eac40b64",
      "name": "Creacion_excel_errores"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7168,
        3984
      ],
      "id": "ba151b44-03f3-4aab-8d6b-4fbb0229c3c7",
      "name": "Log - Sin Excel",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7168,
        3792
      ],
      "id": "7ed8a4a7-401f-405b-80c3-c866b6651b0f",
      "name": "Log - Formato Incorrecto",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6224,
        3520
      ],
      "id": "11abcb5f-5a70-4418-907b-f14cd89014e2",
      "name": "htmlContent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5744,
        3520
      ],
      "id": "e0d2f328-4f1e-44e8-80e1-f569666cb154",
      "name": "Log - Inválidos",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "conexión sarai"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5984,
        3520
      ],
      "id": "9405c26a-4c42-4921-ae47-7e96a3ce3e56",
      "name": "RESUMEN_CON_ERRORES",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -6608,
        3520
      ],
      "id": "bd4b0ec7-5704-44e7-be5e-65ad42ec6c6a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -7200,
        3136
      ],
      "id": "ce3843d1-54ae-41af-88d3-948fd59806fc",
      "name": "Log - Cargue Exitoso",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "conexión sarai"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8896,
        3808
      ],
      "id": "262ee7cd-ecf3-47d4-ad16-80eb9309e7a2",
      "name": "HTTP Request — Descargar XLSX",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        },
        "microsoftOutlookOAuth2Api": {
          "id": "TuAoJsXaUmvhXNhz",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8320,
        3808
      ],
      "id": "18f811df-07ae-4127-a72b-6ab2647a54ec",
      "name": "HTTP Request — Descargar PDF",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        },
        "microsoftOutlookOAuth2Api": {
          "id": "TuAoJsXaUmvhXNhz",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7584,
        3792
      ],
      "id": "3644c977-adae-4dbb-a1db-c7b79359fa49",
      "name": "body_formato_errado"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "xlsxBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -8560,
        3808
      ],
      "id": "2915c4d1-b1dd-489e-9952-8ea118836d02",
      "name": "Base64 — XLSX"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "pdfBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -8080,
        3808
      ],
      "id": "04309924-a71a-4622-8801-e06e296d7d1c",
      "name": "Base64 — PDF"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7584,
        3984
      ],
      "id": "a729794e-194c-441a-aabd-161dede2aad5",
      "name": "body_sin_excel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7392,
        3984
      ],
      "id": "fd41149f-1207-4d95-8f32-274b4411a6da",
      "name": "Rechazo - Sin Excel",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.xlsxKey }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "59aa5725-e090-4644-88c0-e2e42455eb2c"
            },
            {
              "id": "ab24695f-e912-4859-b1f4-03ced1e74a90",
              "leftValue": "={{ $json.tokenValido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3bc7e94-df2e-440f-bba9-d6f0c0d64901",
      "name": "ARCHIVO_VALIDO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -9120,
        3648
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d1fd2218-d822-4eaf-b6ed-8945621e2980",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "54b3d7a7-621d-4313-902d-29d97a8345f3",
      "name": "¿Archivo excel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -7872,
        3808
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7392,
        3792
      ],
      "id": "07588be2-d63f-4bba-99e2-416394a81502",
      "name": "Notificacion_formato_errado",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            },
            {
              "name": "client_id",
              "value": "***REDACTED***"
            },
            {
              "name": "username",
              "value": "***REDACTED***"
            },
            {
              "name": "password",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8880,
        3552
      ],
      "id": "24bafba6-c8ea-4a64-bb1c-12443374199d",
      "name": "Obtener Token Zeus"
    }
  ],
  "connections": {
    "Outlook - Recibir Correo1": {
      "main": [
        [
          {
            "node": "Verificar Asunto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Asunto1": {
      "main": [
        [
          {
            "node": "Marcar como Leído1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar Correo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Adjuntos1": {
      "main": [
        [
          {
            "node": "Validar Token y Estructura1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Válidos?1": {
      "main": [
        [
          {
            "node": "Generar Excel Válidos1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar PDFs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preparar Registros PG1": {
      "main": [
        [
          {
            "node": "Insertar PostgreSQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Excel OneDrive1": {
      "main": [
        [
          {
            "node": "Log - Cargue Exitoso1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar PDFs1": {
      "main": [
        [
          {
            "node": "HTTP Request Subir PDFs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Excel Válidos1": {
      "main": [
        [
          {
            "node": "Subir Excel OneDrive1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Registros PG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar PostgreSQL1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request remitente1": {
      "main": [
        [
          {
            "node": "Procesar Adjuntos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request adjunto1": {
      "main": [
        [
          {
            "node": "HTTP Request remitente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Token y Estructura1": {
      "main": [
        [
          {
            "node": "ARCHIVO_VALIDO1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como Leído1": {
      "main": [
        [
          {
            "node": "HTTP Request adjunto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Registros1": {
      "main": [
        [
          {
            "node": "Creacion_excel_errores1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creacion_excel_errores1": {
      "main": [
        [
          {
            "node": "¿Tiene Válidos?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "htmlContent1": {
      "main": [
        [
          {
            "node": "RESUMEN_CON_ERRORES1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESUMEN_CON_ERRORES1": {
      "main": [
        [
          {
            "node": "Log - Inválidos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "htmlContent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Descargar XLSX1": {
      "main": [
        [
          {
            "node": "Base64 — XLSX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Descargar PDF1": {
      "main": [
        [
          {
            "node": "Base64 — PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body_formato_errado1": {
      "main": [
        [
          {
            "node": "Notificacion_formato_errado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 — XLSX1": {
      "main": [
        [
          {
            "node": "HTTP Request — Descargar PDF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 — PDF1": {
      "main": [
        [
          {
            "node": "¿Archivo excel?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body_sin_excel1": {
      "main": [
        [
          {
            "node": "Rechazo - Sin Excel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechazo - Sin Excel1": {
      "main": [
        [
          {
            "node": "Log - Sin Excel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARCHIVO_VALIDO1": {
      "main": [
        [
          {
            "node": "Obtener Token Zeus1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request — Descargar XLSX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Archivo excel?1": {
      "main": [
        [
          {
            "node": "body_formato_errado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "body_sin_excel1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificacion_formato_errado1": {
      "main": [
        [
          {
            "node": "Log - Formato Incorrecto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Token Zeus1": {
      "main": [
        [
          {
            "node": "Validar Registros1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook - Recibir Correo": {
      "main": [
        [
          {
            "node": "Verificar Asunto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Asunto": {
      "main": [
        [
          {
            "node": "Marcar como Leído",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Adjuntos": {
      "main": [
        [
          {
            "node": "Validar Token y Estructura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Válidos?": {
      "main": [
        [
          {
            "node": "Generar Excel Válidos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar PDFs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preparar Registros PG": {
      "main": [
        [
          {
            "node": "Insertar PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Excel OneDrive": {
      "main": [
        [
          {
            "node": "Log - Cargue Exitoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar PDFs": {
      "main": [
        [
          {
            "node": "HTTP Request Subir PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Excel Válidos": {
      "main": [
        [
          {
            "node": "Subir Excel OneDrive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Registros PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar PostgreSQL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request remitente": {
      "main": [
        [
          {
            "node": "Procesar Adjuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request adjunto": {
      "main": [
        [
          {
            "node": "HTTP Request remitente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Token y Estructura": {
      "main": [
        [
          {
            "node": "ARCHIVO_VALIDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como Leído": {
      "main": [
        [
          {
            "node": "HTTP Request adjunto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Registros": {
      "main": [
        [
          {
            "node": "Creacion_excel_errores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creacion_excel_errores": {
      "main": [
        [
          {
            "node": "¿Tiene Válidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "htmlContent": {
      "main": [
        [
          {
            "node": "RESUMEN_CON_ERRORES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESUMEN_CON_ERRORES": {
      "main": [
        [
          {
            "node": "Log - Inválidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "htmlContent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Descargar XLSX": {
      "main": [
        [
          {
            "node": "Base64 — XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Descargar PDF": {
      "main": [
        [
          {
            "node": "Base64 — PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body_formato_errado": {
      "main": [
        [
          {
            "node": "Notificacion_formato_errado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 — XLSX": {
      "main": [
        [
          {
            "node": "HTTP Request — Descargar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 — PDF": {
      "main": [
        [
          {
            "node": "¿Archivo excel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body_sin_excel": {
      "main": [
        [
          {
            "node": "Rechazo - Sin Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechazo - Sin Excel": {
      "main": [
        [
          {
            "node": "Log - Sin Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARCHIVO_VALIDO": {
      "main": [
        [
          {
            "node": "Obtener Token Zeus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request — Descargar XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Archivo excel?": {
      "main": [
        [
          {
            "node": "body_formato_errado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "body_sin_excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificacion_formato_errado": {
      "main": [
        [
          {
            "node": "Log - Formato Incorrecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Token Zeus": {
      "main": [
        [
          {
            "node": "Validar Registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Outlook - Recibir Correo1": [
      {
        "json": {
          "@odata.etag": "***REDACTED***",
          "id": "***REDACTED***",
          "createdDateTime": "2026-04-09T17:29:53Z",
          "lastModifiedDateTime": "2026-04-09T17:30:09Z",
          "changeKey": "CQAAABYAAADzHuOTpCRfTLq6vT6B/O9TAAAVzGZy",
          "categories": [],
          "receivedDateTime": "2026-04-09T17:29:53Z",
          "sentDateTime": "2026-04-09T17:29:45Z",
          "hasAttachments": true,
          "internetMessageId": "***REDACTED***",
          "subject": "COHORTE | CANCER_PROSTATA | Prueba",
          "bodyPreview": "***REDACTED***",
          "importance": "normal",
          "parentFolderId": "***REDACTED***",
          "conversationId": "***REDACTED***",
          "conversationIndex": "AQHcyEZ1CjhfsNZj4UmO4eoURuZHqg==",
          "isDeliveryReceiptRequested": null,
          "isReadReceiptRequested": false,
          "isRead": false,
          "isDraft": false,
          "webLink": "***REDACTED***",
          "inferenceClassification": "focused",
          "body": {
            "contentType": "html",
            "content": "***REDACTED***"
          },
          "sender": {
            "emailAddress": {
              "name": "Activamente",
              "address": "activamente@mutualser.org"
            }
          },
          "from": {
            "emailAddress": {
              "name": "Activamente",
              "address": "activamente@mutualser.org"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "reporte.saludmental",
                "address": "reporte.cancerprostata@sersocial.org"
              }
            }
          ],
          "ccRecipients": [],
          "bccRecipients": [],
          "replyTo": [],
          "flag": {
            "flagStatus": "notFlagged"
          }
        }
      }
    ],
    "Outlook - Recibir Correo": [
      {
        "json": {
          "@odata.etag": "***REDACTED***",
          "id": "***REDACTED***",
          "createdDateTime": "2026-05-07T22:14:00Z",
          "lastModifiedDateTime": "2026-05-07T22:14:19Z",
          "changeKey": "CQAAABYAAACS86cs/GBwRqlWaTn/Xv0kAAONENEx",
          "categories": [],
          "receivedDateTime": "2026-05-07T22:14:01Z",
          "sentDateTime": "2026-05-07T22:13:57Z",
          "hasAttachments": true,
          "internetMessageId": "***REDACTED***",
          "subject": "RUTA | PREDIAGNOSTICA_PROSTATA",
          "bodyPreview": "***REDACTED***",
          "importance": "normal",
          "parentFolderId": "***REDACTED***",
          "conversationId": "***REDACTED***",
          "conversationIndex": "AQHc3m7MSfMRN4zeCUC8gSpiR+97+Q==",
          "isDeliveryReceiptRequested": false,
          "isReadReceiptRequested": false,
          "isRead": false,
          "isDraft": false,
          "webLink": "***REDACTED***",
          "inferenceClassification": "focused",
          "body": {
            "contentType": "html",
            "content": "***REDACTED***"
          },
          "sender": {
            "emailAddress": {
              "name": "Notificaciones FSS",
              "address": "notificaciones@sersocial.org"
            }
          },
          "from": {
            "emailAddress": {
              "name": "Notificaciones FSS",
              "address": "notificaciones@sersocial.org"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "Ruta Prediagnostica",
                "address": "rutaprediagnostica@sersocial.org"
              }
            }
          ],
          "ccRecipients": [],
          "bccRecipients": [],
          "replyTo": [],
          "flag": {
            "flagStatus": "notFlagged"
          }
        }
      }
    ]
  },
  "versionId": "b05043ae-9af7-4263-8174-96b936c37b2b",
  "activeVersionId": "b3734a1a-2a33-46af-81ee-1afed0c81085",
  "versionCounter": 132,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-13T14:40:29.194Z",
      "createdAt": "2026-04-13T14:40:29.194Z",
      "role": "workflow:owner",
      "workflowId": "7bw4Kpkca6usGm2A3DMDw",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-05-15T08:32:07.961Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-05-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-07T22:13:45.119Z",
    "createdAt": "2026-05-07T21:53:28.095Z",
    "versionId": "b3734a1a-2a33-46af-81ee-1afed0c81085",
    "workflowId": "7bw4Kpkca6usGm2A3DMDw",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "output": "raw",
          "filters": {},
          "options": {}
        },
        "id": "fb240e32-4118-404f-8f28-ed603fa375b8",
        "name": "Outlook - Recibir Correo1",
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          -11024,
          5920
        ],
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.subject }}",
                "rightValue": "COHORTE | CANCER_PROSTATA",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                },
                "id": "84c8745c-44ed-4581-9eba-5fee58ba87aa"
              },
              {
                "id": "014a4ce1-02cc-4059-b344-baa30bfac097",
                "leftValue": "={{ $json.isDraft.toString() }}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "01d3489b-a678-417e-9374-487c8f8442bf",
        "name": "Verificar Asunto1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -10752,
          5920
        ],
        "disabled": true
      },
      {
        "parameters": {},
        "id": "453aea58-ae3e-4f41-9781-a6067be3e344",
        "name": "Ignorar Correo1",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -10464,
          6176
        ],
        "disabled": true
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "***REDACTED***"
        },
        "id": "12299994-b39c-475d-a04b-204eb35b1cf1",
        "name": "Procesar Adjuntos1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -10192,
          5952
        ],
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.tieneValidos }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                },
                "id": "3e36f576-4dbf-403a-8510-fed5b5c10b80"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "97821931-1932-468a-aeee-88aae5145874",
        "name": "¿Tiene Válidos?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -8960,
          5936
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "075a89e7-3283-4596-87eb-a1c8a376a730",
        "name": "Preparar Registros PG1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8112,
          5808
        ],
        "disabled": true
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "validXlsx",
          "options": {}
        },
        "id": "6955ac94-0287-41f1-92bc-5881447af6ad",
        "name": "Subir Excel OneDrive1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -8112,
          5632
        ],
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "6kKCKl73UBzntENo",
            "name": "Microsoft Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "ab4e2f46-1bae-421e-8dac-83f49ced1296",
        "name": "Preparar PDFs1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8112,
          5376
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "f08099ad-9526-4ef0-aaa7-91d6f1692ee8",
        "name": "Generar Excel Válidos1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8400,
          5728
        ],
        "disabled": true
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "name"
          },
          "table": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha_de_reporte",
                "displayName": "fecha_de_reporte",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nit_de_la_ips",
                "displayName": "nit_de_la_ips",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "codigo_de_habilitacion",
                "displayName": "codigo_de_habilitacion",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "tipo_de_documento",
                "displayName": "tipo_de_documento",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "numero_de_documento",
                "displayName": "numero_de_documento",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "primer_nombre",
                "displayName": "primer_nombre",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "segundo_nombre",
                "displayName": "segundo_nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "primer_apellido",
                "displayName": "primer_apellido",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "segundo_apellido",
                "displayName": "segundo_apellido",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha_de_nacimiento",
                "displayName": "fecha_de_nacimiento",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "direccion_de_residencia",
                "displayName": "direccion_de_residencia",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "telefono_celular",
                "displayName": "telefono_celular",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "nombre_del_examen",
                "displayName": "nombre_del_examen",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "resultado_biopsia",
                "displayName": "resultado_biopsia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "resultado_psa",
                "displayName": "resultado_psa",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha_toma_examen",
                "displayName": "fecha_toma_examen",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha_resultados_examen",
                "displayName": "fecha_resultados_examen",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "correo_remitente",
                "displayName": "correo_remitente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fecha_cargue",
                "displayName": "fecha_cargue",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "archivo_origen",
                "displayName": "archivo_origen",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "archivo_validado",
                "displayName": "archivo_validado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "fila_origen",
                "displayName": "fila_origen",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "estado_afiliado_codigo",
                "displayName": "estado_afiliado_codigo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "estado_afiliado_display",
                "displayName": "estado_afiliado_display",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "skipOnConflict": false
          }
        },
        "id": "81e813b6-6965-43f3-8cab-610ab6c759a3",
        "name": "Insertar PostgreSQL1",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -7872,
          5808
        ],
        "credentials": {
          "postgres": {
            "id": "pxYcXS4TtrueoWal",
            "name": "Cohortes - PostgreSQL"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -10464,
          5952
        ],
        "id": "24bfa159-cbac-41c2-97d6-feb4076cf6cd",
        "name": "HTTP Request remitente1",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -10464,
          5792
        ],
        "id": "693f5450-9497-47fa-8289-3f515e177c2a",
        "name": "HTTP Request adjunto1",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "ae02809c-edb7-4eaf-874b-0d2272a80de2",
        "name": "Validar Token y Estructura1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -10016,
          5952
        ],
        "disabled": true
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -7872,
          5376
        ],
        "id": "54890d70-f375-43de-9f3e-ca83665e5f3c",
        "name": "HTTP Request Subir PDFs1",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "TuAoJsXaUmvhXNhz",
            "name": "Microsoft Outlook account"
          },
          "microsoftOneDriveOAuth2Api": {
            "id": "6kKCKl73UBzntENo",
            "name": "Microsoft Drive account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "isRead",
                "value": "true"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -10464,
          5648
        ],
        "id": "34c28381-6956-461f-9f39-f538dce548a7",
        "name": "Marcar como Leído1",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "c35c18ec-4427-4369-867f-70c52269bb63",
        "name": "Validar Registros1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -9360,
          5936
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -9136,
          5936
        ],
        "id": "690d7edd-0100-4a17-a27b-8bf294058202",
        "name": "Creacion_excel_errores1",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -7872,
          6288
        ],
        "id": "57970bdf-0e08-402d-91be-993c88b776b3",
        "name": "Log - Sin Excel1",
        "credentials": {
          "postgres": {
            "id": "pxYcXS4TtrueoWal",
            "name": "Cohortes - PostgreSQL"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -7872,
          6096
        ],
        "id": "aff52b27-fc11-4e7c-84fd-d0a0c0370394",
        "name": "Log - Formato Incorrecto1",
        "credentials": {
          "postgres": {
            "id": "pxYcXS4TtrueoWal",
            "name": "Cohortes - PostgreSQL"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7424,
          5920
        ],
        "id": "cac72041-ce7b-49eb-a738-06e93abe1a1c",
        "name": "htmlContent1",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -6976,
          5920
        ],
        "id": "4d1257a5-f269-499c-bd5c-c556d2c4a252",
        "name": "Log - Inválidos1",
        "credentials": {
          "postgres": {
            "id": "pxYcXS4TtrueoWal",
            "name": "Cohortes - PostgreSQL"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.requestBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -7200,
          5920
        ],
        "id": "a81c55d3-e96f-4d2c-a918-eb514e37911e",
        "name": "RESUMEN_CON_ERRORES1",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -7616,
          5920
        ],
        "id": "79c28408-237c-4e08-8a42-4cbc8a42527a",
        "name": "Merge1",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -7872,
          5632
        ],
        "id": "84d4f91e-6812-4f7c-8fab-ad419dfb2226",
        "name": "Log - Cargue Exitoso1",
        "credentials": {
          "postgres": {
            "id": "pxYcXS4TtrueoWal",
            "name": "Cohortes - PostgreSQL"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -9600,
          6112
        ],
        "id": "df6142ca-2bd4-4a89-a266-aac6b22db117",
        "name": "HTTP Request — Descargar XLSX1",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "6kKCKl73UBzntENo",
            "name": "Microsoft Drive account"
          },
          "microsoftOutlookOAuth2Api": {
            "id": "TuAoJsXaUmvhXNhz",
            "name": "Microsoft Outlook account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -8976,
          6112
        ],
        "id": "c38e2759-abc0-4525-b251-8b90ce4603fd",
        "name": "HTTP Request — Descargar PDF1",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "6kKCKl73UBzntENo",
            "name": "Microsoft Drive account"
          },
          "microsoftOutlookOAuth2Api": {
            "id": "TuAoJsXaUmvhXNhz",
            "name": "Microsoft Outlook account"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8288,
          6096
        ],
        "id": "3ccefbbe-0cef-4cc7-ba42-46e34bec1828",
        "name": "body_formato_errado1",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "destinationKey": "xlsxBase64",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -9168,
          6112
        ],
        "id": "93c941f4-e2c4-4f6e-bdd8-5809237287d5",
        "name": "Base64 — XLSX1",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "destinationKey": "pdfBase64",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -8784,
          6112
        ],
        "id": "123ec7ab-c1d8-4b4e-b831-b577fc8b4c41",
        "name": "Base64 — PDF1",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8288,
          6288
        ],
        "id": "74d28090-36e9-43ff-a814-b4b2175272c1",
        "name": "body_sin_excel1",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.requestBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -8096,
          6288
        ],
        "id": "8e076a1d-2225-45fa-bc0c-6fbbfd27ed28",
        "name": "Rechazo - Sin Excel1",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.xlsxKey }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                },
                "id": "59aa5725-e090-4644-88c0-e2e42455eb2c"
              },
              {
                "id": "ab24695f-e912-4859-b1f4-03ced1e74a90",
                "leftValue": "={{ $json.tokenValido }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "2d2672ed-688d-4ef4-ab83-933e3cb4d074",
        "name": "ARCHIVO_VALIDO1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -9824,
          5952
        ],
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "d1fd2218-d822-4eaf-b6ed-8945621e2980",
                "leftValue": "***REDACTED***",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "87f7c1d3-92c9-40e8-9750-ddacbb24a629",
        "name": "¿Archivo excel?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -8576,
          6112
        ],
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.requestBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -8096,
          6096
        ],
        "id": "0bded89c-7430-46a3-b527-be936071cbb9",
        "name": "Notificacion_formato_errado1",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "password"
              },
              {
                "name": "client_id",
                "value": "***REDACTED***"
              },
              {
                "name": "username",
                "value": "***REDACTED***"
              },
              {
                "name": "password",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -9616,
          5856
        ],
        "id": "8d01dffb-d184-41e2-821a-5a2c0a4cf45e",
        "name": "Obtener Token Zeus1",
        "disabled": true
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "output": "raw",
          "filters": {},
          "options": {}
        },
        "id": "baf70e86-ccde-4de0-944c-dc80749dabd5",
        "name": "Outlook - Recibir Correo",
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "typeVersion": 1,
        "position": [
          -10320,
          3616
        ],
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.subject }}",
                "rightValue": "RUTA | PREDIAGNOSTICA_PROSTATA",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                },
                "id": "84c8745c-44ed-4581-9eba-5fee58ba87aa"
              },
              {
                "id": "014a4ce1-02cc-4059-b344-baa30bfac097",
                "leftValue": "={{ $json.isDraft.toString() }}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "23a3390c-1ca5-4dc2-b485-eba07483a2ff",
        "name": "Verificar Asunto",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -10048,
          3616
        ]
      },
      {
        "parameters": {},
        "id": "3066bb71-64ae-4890-ba2e-03408a7820f9",
        "name": "Ignorar Correo",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -9760,
          3872
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "***REDACTED***"
        },
        "id": "173a5d1e-f05f-4ad6-90cc-1179c6413b7c",
        "name": "Procesar Adjuntos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -9488,
          3648
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.tieneValidos }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                },
                "id": "3e36f576-4dbf-403a-8510-fed5b5c10b80"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "07cc730d-11fb-4a28-8fb2-4a57f9dc1f5e",
        "name": "¿Tiene Válidos?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -8256,
          3632
        ]
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "a7cead41-11f0-458f-894a-bee4742c8add",
        "name": "Preparar Registros PG",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7408,
          3504
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "validXlsx",
          "options": {}
        },
        "id": "3d0af10d-80cf-4cdb-b0dc-661477d89e25",
        "name": "Subir Excel OneDrive",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -7408,
          3328
        ],
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "6kKCKl73UBzntENo",
            "name": "Microsoft Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "aa29dd32-f1e3-4aa8-ac0e-b987b4f0bf8f",
        "name": "Preparar PDFs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7408,
          3072
        ]
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "796740e5-c7da-4089-9929-7508afcf060f",
        "name": "Generar Excel Válidos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7696,
          3424
        ]
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "name"
          },
          "table": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "id_registro"
            ],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "skipOnConflict": false
          }
        },
        "id": "c82d4e38-d380-4196-b8d4-d002da63b019",
        "name": "Insertar PostgreSQL",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -7168,
          3504
        ],
        "credentials": {
          "postgres": {
            "id": "pxYcXS4TtrueoWal",
            "name": "Cohortes - PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -9760,
          3648
        ],
        "id": "9612f225-c341-45e2-85e2-671ed4123ea6",
        "name": "HTTP Request remitente",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -9760,
          3488
        ],
        "id": "6073f4eb-7676-45a9-8a4f-c602d278e6d6",
        "name": "HTTP Request adjunto",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "7a3b3feb-d966-4fd4-9a67-f78d4d3e2f72",
        "name": "Validar Token y Estructura",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -9312,
          3648
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -7168,
          3072
        ],
        "id": "cafa5ddf-9d3d-4da2-a9cc-46eade136cb4",
        "name": "HTTP Request Subir PDFs",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "TuAoJsXaUmvhXNhz",
            "name": "Microsoft Outlook account"
          },
          "microsoftOneDriveOAuth2Api": {
            "id": "6kKCKl73UBzntENo",
            "name": "Microsoft Drive account"
          }
        }
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "isRead",
                "value": "true"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -9760,
          3344
        ],
        "id": "bd093924-e7f1-4ee0-ac2a-b86ffdd72b90",
        "name": "Marcar como Leído",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "4f75a0bb-bdaf-4ce1-bee9-de8613a31a6c",
        "name": "Validar Registros",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8656,
          3632
        ]
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8432,
          3632
        ],
        "id": "27780220-0b63-42df-86c2-bbc2eac40b64",
        "name": "Creacion_excel_errores"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -7168,
          3984
        ],
        "id": "ba151b44-03f3-4aab-8d6b-4fbb0229c3c7",
        "name": "Log - Sin Excel",
        "credentials": {
          "postgres": {
            "id": "pxYcXS4TtrueoWal",
            "name": "Cohortes - PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -7168,
          3792
        ],
        "id": "7ed8a4a7-401f-405b-80c3-c866b6651b0f",
        "name": "Log - Formato Incorrecto",
        "credentials": {
          "postgres": {
            "id": "pxYcXS4TtrueoWal",
            "name": "Cohortes - PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -6720,
          3616
        ],
        "id": "11abcb5f-5a70-4418-907b-f14cd89014e2",
        "name": "htmlContent"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -6272,
          3616
        ],
        "id": "e0d2f328-4f1e-44e8-80e1-f569666cb154",
        "name": "Log - Inválidos",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "conexión sarai"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.requestBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -6496,
          3616
        ],
        "id": "9405c26a-4c42-4921-ae47-7e96a3ce3e56",
        "name": "RESUMEN_CON_ERRORES",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -6912,
          3616
        ],
        "id": "bd4b0ec7-5704-44e7-be5e-65ad42ec6c6a",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -7168,
          3328
        ],
        "id": "ce3843d1-54ae-41af-88d3-948fd59806fc",
        "name": "Log - Cargue Exitoso",
        "credentials": {
          "postgres": {
            "id": "pxYcXS4TtrueoWal",
            "name": "Cohortes - PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -8896,
          3808
        ],
        "id": "262ee7cd-ecf3-47d4-ad16-80eb9309e7a2",
        "name": "HTTP Request — Descargar XLSX",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "6kKCKl73UBzntENo",
            "name": "Microsoft Drive account"
          },
          "microsoftOutlookOAuth2Api": {
            "id": "TuAoJsXaUmvhXNhz",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOneDriveOAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -8320,
          3808
        ],
        "id": "18f811df-07ae-4127-a72b-6ab2647a54ec",
        "name": "HTTP Request — Descargar PDF",
        "credentials": {
          "microsoftOneDriveOAuth2Api": {
            "id": "6kKCKl73UBzntENo",
            "name": "Microsoft Drive account"
          },
          "microsoftOutlookOAuth2Api": {
            "id": "TuAoJsXaUmvhXNhz",
            "name": "Microsoft Outlook account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7584,
          3792
        ],
        "id": "3644c977-adae-4dbb-a1db-c7b79359fa49",
        "name": "body_formato_errado"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "destinationKey": "xlsxBase64",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -8560,
          3808
        ],
        "id": "2915c4d1-b1dd-489e-9952-8ea118836d02",
        "name": "Base64 — XLSX"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "destinationKey": "pdfBase64",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1.1,
        "position": [
          -8080,
          3808
        ],
        "id": "04309924-a71a-4622-8801-e06e296d7d1c",
        "name": "Base64 — PDF"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7584,
          3984
        ],
        "id": "a729794e-194c-441a-aabd-161dede2aad5",
        "name": "body_sin_excel"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.requestBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -7392,
          3984
        ],
        "id": "fd41149f-1207-4d95-8f32-274b4411a6da",
        "name": "Rechazo - Sin Excel",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.xlsxKey }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty"
                },
                "id": "59aa5725-e090-4644-88c0-e2e42455eb2c"
              },
              {
                "id": "ab24695f-e912-4859-b1f4-03ced1e74a90",
                "leftValue": "={{ $json.tokenValido }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c3bc7e94-df2e-440f-bba9-d6f0c0d64901",
        "name": "ARCHIVO_VALIDO",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -9120,
          3648
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "d1fd2218-d822-4eaf-b6ed-8945621e2980",
                "leftValue": "***REDACTED***",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "54b3d7a7-621d-4313-902d-29d97a8345f3",
        "name": "¿Archivo excel?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -7872,
          3808
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "microsoftOutlookOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.requestBody }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -7392,
          3792
        ],
        "id": "07588be2-d63f-4bba-99e2-416394a81502",
        "name": "Notificacion_formato_errado",
        "credentials": {
          "microsoftOutlookOAuth2Api": {
            "id": "czvuJ0pPWCOnCKA4",
            "name": "Microsoft Outlook account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "password"
              },
              {
                "name": "client_id",
                "value": "***REDACTED***"
              },
              {
                "name": "username",
                "value": "***REDACTED***"
              },
              {
                "name": "password",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -8912,
          3552
        ],
        "id": "24bafba6-c8ea-4a64-bb1c-12443374199d",
        "name": "Obtener Token Zeus"
      }
    ],
    "connections": {
      "Outlook - Recibir Correo1": {
        "main": [
          [
            {
              "node": "Verificar Asunto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Asunto1": {
        "main": [
          [
            {
              "node": "Marcar como Leído1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Ignorar Correo1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Procesar Adjuntos1": {
        "main": [
          [
            {
              "node": "Validar Token y Estructura1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Tiene Válidos?1": {
        "main": [
          [
            {
              "node": "Generar Excel Válidos1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Preparar PDFs1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Preparar Registros PG1": {
        "main": [
          [
            {
              "node": "Insertar PostgreSQL1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Subir Excel OneDrive1": {
        "main": [
          [
            {
              "node": "Log - Cargue Exitoso1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar PDFs1": {
        "main": [
          [
            {
              "node": "HTTP Request Subir PDFs1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generar Excel Válidos1": {
        "main": [
          [
            {
              "node": "Subir Excel OneDrive1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Preparar Registros PG1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insertar PostgreSQL1": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request remitente1": {
        "main": [
          [
            {
              "node": "Procesar Adjuntos1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request adjunto1": {
        "main": [
          [
            {
              "node": "HTTP Request remitente1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Token y Estructura1": {
        "main": [
          [
            {
              "node": "ARCHIVO_VALIDO1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marcar como Leído1": {
        "main": [
          [
            {
              "node": "HTTP Request adjunto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Registros1": {
        "main": [
          [
            {
              "node": "Creacion_excel_errores1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Creacion_excel_errores1": {
        "main": [
          [
            {
              "node": "¿Tiene Válidos?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "htmlContent1": {
        "main": [
          [
            {
              "node": "RESUMEN_CON_ERRORES1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RESUMEN_CON_ERRORES1": {
        "main": [
          [
            {
              "node": "Log - Inválidos1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "htmlContent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request — Descargar XLSX1": {
        "main": [
          [
            {
              "node": "Base64 — XLSX1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request — Descargar PDF1": {
        "main": [
          [
            {
              "node": "Base64 — PDF1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "body_formato_errado1": {
        "main": [
          [
            {
              "node": "Notificacion_formato_errado1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base64 — XLSX1": {
        "main": [
          [
            {
              "node": "HTTP Request — Descargar PDF1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base64 — PDF1": {
        "main": [
          [
            {
              "node": "¿Archivo excel?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "body_sin_excel1": {
        "main": [
          [
            {
              "node": "Rechazo - Sin Excel1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rechazo - Sin Excel1": {
        "main": [
          [
            {
              "node": "Log - Sin Excel1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ARCHIVO_VALIDO1": {
        "main": [
          [
            {
              "node": "Obtener Token Zeus1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request — Descargar XLSX1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Archivo excel?1": {
        "main": [
          [
            {
              "node": "body_formato_errado1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "body_sin_excel1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notificacion_formato_errado1": {
        "main": [
          [
            {
              "node": "Log - Formato Incorrecto1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Token Zeus1": {
        "main": [
          [
            {
              "node": "Validar Registros1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Outlook - Recibir Correo": {
        "main": [
          [
            {
              "node": "Verificar Asunto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Asunto": {
        "main": [
          [
            {
              "node": "Marcar como Leído",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Ignorar Correo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Procesar Adjuntos": {
        "main": [
          [
            {
              "node": "Validar Token y Estructura",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Tiene Válidos?": {
        "main": [
          [
            {
              "node": "Generar Excel Válidos",
              "type": "main",
              "index": 0
            },
            {
              "node": "Preparar PDFs",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Preparar Registros PG": {
        "main": [
          [
            {
              "node": "Insertar PostgreSQL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Subir Excel OneDrive": {
        "main": [
          [
            {
              "node": "Log - Cargue Exitoso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar PDFs": {
        "main": [
          [
            {
              "node": "HTTP Request Subir PDFs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generar Excel Válidos": {
        "main": [
          [
            {
              "node": "Subir Excel OneDrive",
              "type": "main",
              "index": 0
            },
            {
              "node": "Preparar Registros PG",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insertar PostgreSQL": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request remitente": {
        "main": [
          [
            {
              "node": "Procesar Adjuntos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request adjunto": {
        "main": [
          [
            {
              "node": "HTTP Request remitente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Token y Estructura": {
        "main": [
          [
            {
              "node": "ARCHIVO_VALIDO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marcar como Leído": {
        "main": [
          [
            {
              "node": "HTTP Request adjunto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar Registros": {
        "main": [
          [
            {
              "node": "Creacion_excel_errores",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Creacion_excel_errores": {
        "main": [
          [
            {
              "node": "¿Tiene Válidos?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "htmlContent": {
        "main": [
          [
            {
              "node": "RESUMEN_CON_ERRORES",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RESUMEN_CON_ERRORES": {
        "main": [
          [
            {
              "node": "Log - Inválidos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "htmlContent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request — Descargar XLSX": {
        "main": [
          [
            {
              "node": "Base64 — XLSX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request — Descargar PDF": {
        "main": [
          [
            {
              "node": "Base64 — PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "body_formato_errado": {
        "main": [
          [
            {
              "node": "Notificacion_formato_errado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base64 — XLSX": {
        "main": [
          [
            {
              "node": "HTTP Request — Descargar PDF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base64 — PDF": {
        "main": [
          [
            {
              "node": "¿Archivo excel?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "body_sin_excel": {
        "main": [
          [
            {
              "node": "Rechazo - Sin Excel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Rechazo - Sin Excel": {
        "main": [
          [
            {
              "node": "Log - Sin Excel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "ARCHIVO_VALIDO": {
        "main": [
          [
            {
              "node": "Obtener Token Zeus",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request — Descargar XLSX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Archivo excel?": {
        "main": [
          [
            {
              "node": "body_formato_errado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "body_sin_excel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notificacion_formato_errado": {
        "main": [
          [
            {
              "node": "Log - Formato Incorrecto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Token Zeus": {
        "main": [
          [
            {
              "node": "Validar Registros",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version b3734a1a",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-07T22:13:45.117Z",
        "id": 665,
        "workflowId": "7bw4Kpkca6usGm2A3DMDw",
        "versionId": "b3734a1a-2a33-46af-81ee-1afed0c81085",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}