workflows/copia_principal__HJZMmngSuieLiOVO.json
{
  "updatedAt": "2026-01-21T13:22:45.000Z",
  "createdAt": "2026-01-20T20:11:32.049Z",
  "id": "HJZMmngSuieLiOVO",
  "name": "copia principal",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -912,
        432
      ],
      "id": "768f0bd7-d29c-4f79-918c-d6492aa9349a",
      "name": "WhatsApp Trigger",
      "webhookId": "daaa9d41-9c99-4bb9-9cad-d1a272fae914",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "7JhPt9ZBkG9oy2Wq",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1680,
        736
      ],
      "id": "7bbe39d7-73b8-4cd8-a3ee-0c4fb205608e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "height": 144,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        64
      ],
      "typeVersion": 1,
      "id": "5d79c751-da10-491e-a932-d4a082115c1c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        -640,
        1088
      ],
      "id": "d50c2217-0d4a-4f86-84fd-ae47555cf320",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "model": "mistral-small-2501",
        "options": {}
      },
      "type": "***REDACTED***",
      "typeVersion": 1,
      "position": [
        -912,
        1168
      ],
      "id": "ec0656d4-a984-4b12-89f6-c860816a6c5c",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "dXZYi4sCIQBWTVxB",
          "name": "Mistral Cloud account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "AQUI PROBANDO\nTOBI"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -560,
        -32
      ],
      "id": "986200a5-9f4b-499b-87a9-c6707692ff0d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1312,
        976
      ],
      "id": "7e920a2a-299d-45f2-86d2-bc63be9299f0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7291f0da-77da-4ae0-83da-45748c25cd39"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e39f65c9-87fb-4a86-acbc-e3eef1f748e2",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "sede",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": false,
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1456,
        320
      ],
      "id": "88bdab66-2495-4c19-9930-908ffee4204d",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54b93fa-f647-4c2e-be2f-08f6ac71d7ee",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        336
      ],
      "id": "bb5b5437-d421-455b-93c2-4f5e624eae2f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.messages.from}}_buffer7",
        "messageData": "***REDACTED***",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -464,
        432
      ],
      "id": "aed5109c-3bc1-43c9-9e78-ab5e929eb882",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "tPxbxqyFtLGojnZw",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -240,
        432
      ],
      "id": "250a3a72-e93e-473c-93c6-d87f846f3ece",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "tPxbxqyFtLGojnZw",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "***REDACTED***",
                    "rightValue": "***REDACTED***",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "d9859c5d-e5a0-47be-9804-d24d6973fae1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Inactividad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7eeee9c2-021b-429f-b17f-0d5dbb665a40",
                    "leftValue": "***REDACTED***",
                    "rightValue": "={{  $now.minus(3,'seconds').toUTC() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -16,
        320
      ],
      "id": "fc632c4b-2714-4ee3-8a66-964248cdf9a6",
      "name": "Switch1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        528
      ],
      "id": "3a966690-3ec8-42fd-9609-79c02a57e2df",
      "name": "Wait",
      "webhookId": "42e25b68-a449-4a55-914f-c414045ffc0b"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        208,
        144
      ],
      "id": "19b295e8-1475-4277-82d2-b3679e7ca888",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        208,
        336
      ],
      "id": "db82c94e-6fac-46a2-9ef7-fa8c9ee5571f",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "tPxbxqyFtLGojnZw",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5899a8c-06bf-4901-9972-c12513e8a2a1",
              "name": "display_phone_number",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "1570c3ca-d4e0-42c3-9c48-b7b776f2994f",
              "name": "phone_number_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "cd1a903b-8391-4d1c-98f4-a4611bd95361",
              "name": "profile_name",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "dcc9656c-3c11-4df2-97ed-a899c1af4997",
              "name": "wa_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "8a3a7c0e-d255-4d27-950e-8e4bae62fc09",
              "name": "messages.id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "b54751e9-2b2a-4226-8955-6dc9bd6de56b",
              "name": "messages.text.body",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "195b93fc-f323-481e-b848-3b3912485341",
              "name": "messages.type",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "4b539b2a-3e35-4d0e-a4d5-2ddac8d0ff23",
              "name": "messages.timestamp",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "909d85fe-690b-4595-9c15-5eec17846bf1",
              "name": "messages.from",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "32bf99da-d883-4422-bd85-a3e3d5693695",
              "name": "messages.text",
              "value": "***REDACTED***",
              "type": "object"
            },
            {
              "id": "549c960e-6cec-40a2-bf41-2246b79f2c4e",
              "name": "messages.text.body",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        432
      ],
      "id": "16be014a-6a23-4bf6-ad46-2e9c8385d631",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2320,
        304
      ],
      "id": "4f76e901-d2dc-4ef4-b492-78dc44258807",
      "name": "Merge"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "SEDES SERSOCIAL",
          "cachedResultUrl": "***REDACTED***"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja1",
          "cachedResultUrl": "***REDACTED***"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1824,
        960
      ],
      "id": "9738a9cb-9256-4c5e-8073-115a2c0fca3a",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aDaUg0dQ2hQRfilV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "batching": {
          "delayBetweenBatches": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        656,
        336
      ],
      "id": "cb05133d-aae6-46c5-aa95-9d69174e7d44",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "372bba1d-32e0-4a5e-af40-79c1b9061821",
              "name": "intent",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1232,
        336
      ],
      "id": "c0f819d4-43cf-45c9-847a-41537d12038c",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        336
      ],
      "id": "7a945faa-9091-4d7a-8bb3-875874def0c2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/workflow/4lmOH2EOOrd3Nwno"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1888,
        144
      ],
      "id": "cee6b5d7-f18c-44ad-bf10-8fc1e5a2f5a2",
      "name": "GESTION DE CITAS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/workflow/LFDfvdamMM7kre9h"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1888,
        336
      ],
      "id": "32014995-2d4e-4e34-81ce-72f86bd4a4b9",
      "name": "INFORMACION DE SEDES"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        736,
        560
      ],
      "id": "148cdf29-1082-44ad-bbd6-4259c6b77733",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "={{ $json.output.Response.Parte1 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2544,
        336
      ],
      "id": "928ce6eb-fdc9-4c0f-b4b4-6d0a914bcffe",
      "name": "Respuesta",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        2000,
        960
      ],
      "id": "4f302213-be2d-4303-a6dd-d4bb39a78d7f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d55e3fd-04de-4b67-bd7f-9d88d6f57882",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2752,
        336
      ],
      "id": "b1701a62-fb71-4359-85ad-86207451a905",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3040,
        320
      ],
      "id": "22a0a489-e3ef-445f-85ad-065c40919ca3",
      "name": "Respuesta1",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        2288,
        144
      ],
      "id": "02e51def-b520-4923-a027-dae9fb4ccfb5",
      "name": "Respuesta2",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "***REDACTED***",
        "sessionTTL": 3600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1664,
        944
      ],
      "id": "48365ef2-2add-41b8-b684-4376ee628613",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "tPxbxqyFtLGojnZw",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GESTION DE CITAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INFORMACION DE SEDES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GESTION DE CITAS": {
      "main": [
        [
          {
            "node": "Respuesta2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFORMACION DE SEDES": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "203425fc-b0a8-4594-ac9c-c4476a112d41",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-22T19:24:54.675Z",
      "createdAt": "2026-01-22T19:24:54.675Z",
      "role": "workflow:owner",
      "workflowId": "HJZMmngSuieLiOVO",
      "projectId": "EBZGwgHNf54my5Ji",
      "project": {
        "updatedAt": "2026-01-22T19:43:29.746Z",
        "createdAt": "2026-01-22T19:42:30.105Z",
        "id": "EBZGwgHNf54my5Ji",
        "name": "Neyla Polo <npolov@sersocial.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:42:30.105Z",
            "createdAt": "2026-01-22T19:42:30.105Z",
            "userId": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
            "projectId": "EBZGwgHNf54my5Ji",
            "user": {
              "updatedAt": "2026-03-05T05:18:56.188Z",
              "createdAt": "2026-01-22T19:42:30.105Z",
              "id": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
              "email": "npolov@sersocial.org",
              "firstName": "Neyla",
              "lastName": "Polo",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:43:34.370Z",
                "personalization_survey_n8n_version": "1.121.2"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4lmOH2EOOrd3Nwno",
                "userActivated": true,
                "userActivatedAt": 1769195420470,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770846671088
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}