workflows/copia_sedes_8__tsmAukSEOrj6Pbzn.json
{
  "updatedAt": "2026-03-19T15:11:47.790Z",
  "createdAt": "2026-01-20T20:13:00.621Z",
  "id": "tsmAukSEOrj6Pbzn",
  "name": "copia sedes 8",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensaje"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8633394d-980e-4e08-9c8c-226dea603878",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        352,
        0
      ],
      "id": "2a421451-0a4e-4b1d-8910-58bf9dbdf52d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        224
      ],
      "id": "2958df2d-1816-4739-8144-950c01793040",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $workflow.id }}"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        304,
        224
      ],
      "id": "51ad1b09-cbf9-46ea-86c8-3868e475c7d7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "***REDACTED***",
        "documentId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "SEDES SERSOCIAL",
          "cachedResultUrl": "***REDACTED***"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja1",
          "cachedResultUrl": "***REDACTED***"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        224
      ],
      "id": "773d76e0-0cfb-4a0a-bfd2-286dbe775c69",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aDaUg0dQ2hQRfilV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        688,
        224
      ],
      "id": "bba95005-b7b0-4600-bb89-abe6af1ec062",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "915f9d1f-0b37-4387-8ca8-34abbe3dad80",
  "activeVersionId": null,
  "versionCounter": 26,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-22T19:24:54.675Z",
      "createdAt": "2026-01-22T19:24:54.675Z",
      "role": "workflow:owner",
      "workflowId": "tsmAukSEOrj6Pbzn",
      "projectId": "EBZGwgHNf54my5Ji",
      "project": {
        "updatedAt": "2026-01-22T19:43:29.746Z",
        "createdAt": "2026-01-22T19:42:30.105Z",
        "id": "EBZGwgHNf54my5Ji",
        "name": "Neyla Polo <npolov@sersocial.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:42:30.105Z",
            "createdAt": "2026-01-22T19:42:30.105Z",
            "userId": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
            "projectId": "EBZGwgHNf54my5Ji",
            "user": {
              "updatedAt": "2026-03-05T05:18:56.188Z",
              "createdAt": "2026-01-22T19:42:30.105Z",
              "id": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
              "email": "npolov@sersocial.org",
              "firstName": "Neyla",
              "lastName": "Polo",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:43:34.370Z",
                "personalization_survey_n8n_version": "1.121.2"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4lmOH2EOOrd3Nwno",
                "userActivated": true,
                "userActivatedAt": 1769195420470,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770846671088
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}