workflows/Dashboard_sarai__rd7x4drTeICT_YDTRpevy.json
{
  "updatedAt": "2026-03-17T20:45:32.337Z",
  "createdAt": "2026-03-17T19:54:55.515Z",
  "id": "rd7x4drTeICT_YDTRpevy",
  "name": "Dashboard sarai",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "dashboard-data",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "16c22aee-63b2-42f1-980d-2f0bcaeb0942",
      "name": "Webhook",
      "webhookId": "63134e6e-bd1b-47f7-92e9-32e728860a4a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "dd25492f-35a8-45ee-8e9b-fad6c24ab4b6",
      "name": "Obtener pacientes",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        0
      ],
      "id": "2184bd45-d216-41d7-9fff-f5a4707e0c82",
      "name": "Obtener slots activos",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "61d7a764-fced-4260-8d1e-e0a519973840",
      "name": "Armar respuesta"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ],
      "id": "8f17b6e2-cb33-41b3-80d8-1d35e1ac4199",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Obtener pacientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener pacientes": {
      "main": [
        [
          {
            "node": "Obtener slots activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener slots activos": {
      "main": [
        [
          {
            "node": "Armar respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar respuesta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3be9a060-34ea-4fdd-8455-febee409c170",
  "activeVersionId": "3be9a060-34ea-4fdd-8455-febee409c170",
  "versionCounter": 39,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-17T19:54:55.515Z",
      "createdAt": "2026-03-17T19:54:55.515Z",
      "role": "workflow:owner",
      "workflowId": "rd7x4drTeICT_YDTRpevy",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-04-10T11:44:41.129Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-17T20:45:43.164Z",
    "createdAt": "2026-03-17T20:45:32.338Z",
    "versionId": "3be9a060-34ea-4fdd-8455-febee409c170",
    "workflowId": "rd7x4drTeICT_YDTRpevy",
    "nodes": [
      {
        "parameters": {
          "path": "dashboard-data",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "id": "16c22aee-63b2-42f1-980d-2f0bcaeb0942",
        "name": "Webhook",
        "webhookId": "63134e6e-bd1b-47f7-92e9-32e728860a4a"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          208,
          0
        ],
        "id": "dd25492f-35a8-45ee-8e9b-fad6c24ab4b6",
        "name": "Obtener pacientes",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          400,
          0
        ],
        "id": "2184bd45-d216-41d7-9fff-f5a4707e0c82",
        "name": "Obtener slots activos",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          0
        ],
        "id": "61d7a764-fced-4260-8d1e-e0a519973840",
        "name": "Armar respuesta"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ $json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          800,
          0
        ],
        "id": "8f17b6e2-cb33-41b3-80d8-1d35e1ac4199",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Obtener pacientes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener pacientes": {
        "main": [
          [
            {
              "node": "Obtener slots activos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener slots activos": {
        "main": [
          [
            {
              "node": "Armar respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Armar respuesta": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version 3be9a060",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-17T20:45:43.159Z",
        "id": 282,
        "workflowId": "rd7x4drTeICT_YDTRpevy",
        "versionId": "3be9a060-34ea-4fdd-8455-febee409c170",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}