workflows/GESTION_CITAS__kxHCsXKdVTcKN6sbWhMBS.json
{
  "updatedAt": "2026-04-24T19:14:56.043Z",
  "createdAt": "2026-04-13T19:37:57.076Z",
  "id": "kxHCsXKdVTcKN6sbWhMBS",
  "name": "GESTION_CITAS",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensaje"
            },
            {
              "name": "intent"
            },
            {
              "name": "telefono"
            },
            {
              "name": "raw"
            },
            {
              "name": "phone_number_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2848,
        1952
      ],
      "id": "91a5c676-6c8c-429a-b361-1833bd880ba4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/WQ65T0ACkIUy8PO80bZWV",
          "cachedResultName": "VALIDAR DERECHOS DE USUARIO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "datos_paciente": "***REDACTED***"
          },
          "matchingColumns": [
            "datos_paciente"
          ],
          "schema": [
            {
              "id": "datos_paciente",
              "displayName": "datos_paciente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1648,
        976
      ],
      "id": "eb0e32f1-c2ef-4ee5-be17-dda0d0b3eab0",
      "name": "Call 'VALIDAR DERECHOS DE USUARIO'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        640
      ],
      "id": "28207edb-c1ff-4330-ad54-4ae1e8ccdaf8",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "iniciar_identificacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0ba28855-ff10-48a6-adf2-01e295293b51"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iniciar_identificacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d37e21d4-8e41-45d6-b571-eb1fb065ff51",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_tipo_doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_tipo_doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6d63a1dc-c37e-4eb7-a808-5786d19a2fbb",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_numero_doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_numero_doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "91f00516-1ed5-4b36-a03a-f10b2fd42c22",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_especialidad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_especialidad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c5864cca-7f18-429a-8fbb-c2f3a442885f",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "continuar_sin_id",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continuar_sin_id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c350bafb-bcf0-4f32-905a-b566475588aa",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "esperando_datos_registro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "esperando_datos_registro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f36047e-d8eb-4ee0-93fc-88183fb39edd",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_asunto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_asunto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "884e001f-031f-4e51-bf8f-99d036c8c3f9",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_programacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_programacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "afe214ed-fbd5-49be-98ea-a2238b4a1a32",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_punto_atencion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_punto_atencion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567891",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_telefono_registro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_telefono_registro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f2b3c4d5-e6f7-8901-bcde-f12345678902",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_correo_registro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_correo_registro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f3c4d5e6-f7a8-9012-cdef-123456789013",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_direccion_registro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_direccion_registro"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1952,
        1792
      ],
      "id": "166bf5d7-e9b3-44ff-a97e-5f4fbad2fab9",
      "name": "Qué hacer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1488,
        384
      ],
      "id": "d1ba845d-e937-4035-b76c-a0a7937eee74",
      "name": "PEDIR_TIPO_DOC",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1680,
        384
      ],
      "id": "85da4f0c-eb55-4291-bbc6-1de048987037",
      "name": "guardar estado",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1248,
        560
      ],
      "id": "ebc1406f-af8a-467b-bf74-44287f1f2850",
      "name": "guardar estado1",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "852e224f-acfd-446f-a248-5652a3c64731",
              "leftValue": "={{ $json.valido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1504,
        640
      ],
      "id": "134bf697-9591-4756-bea3-68e7913ee1bd",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1296,
        384
      ],
      "id": "00f414d3-2e8c-4a30-938e-c18bb2361346",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
          "cachedResultName": "OBTENER TOKEN ZEUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        192,
        1120
      ],
      "id": "226003be-a8c6-40b4-b8ac-04e946081041",
      "name": "Call 'OBTENER TOKEN ZEUS'",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1008,
        560
      ],
      "id": "31c06b2b-9397-4949-b001-5ce64002e8bd",
      "name": "PEDIR_NUM_DOC",
      "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1248,
        736
      ],
      "id": "4293f7d2-de94-4477-85fc-f6e8e8d8af70",
      "name": "PEDIR_NUEVAMENTE_TIPO_DOC",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $input.item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2240,
        1328
      ],
      "id": "2cd6288f-3afc-4f94-8ed4-7757dc0ebb18",
      "name": "ESPECIALIDAD",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35b82148-a69e-4b1a-abeb-a81a86d351a1",
              "leftValue": "={{ $json?.mensaje_error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1456,
        976
      ],
      "id": "8dc544b6-b34f-48e7-9fc1-3e4175f2c0df",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "={{ $json.mensaje_error }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1232,
        912
      ],
      "id": "b8d9ec23-8fad-45e5-8e7f-2b791ffb365a",
      "name": "PEDIR_NUM_DOC1",
      "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "NumeroIdentificacion",
              "value": "***REDACTED***"
            },
            {
              "name": "TipoIdentificacion",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        400,
        1120
      ],
      "id": "f255e07d-5d4c-4de4-a345-d90655f31691",
      "name": "Consultar usuario en Zeus"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1344,
        1104
      ],
      "id": "9821131f-9aa6-441f-83ae-5ea3a79767b9",
      "name": "guardar estado2",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        1104
      ],
      "id": "dc416660-c69d-4b41-ae07-a0087fb52686",
      "name": "VALIDAR CONTRATOS"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "estado_raw",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2624,
        1952
      ],
      "id": "082e7e2f-febc-4631-84e4-535fece52441",
      "name": "Leer Estado Paciente",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2176,
        1952
      ],
      "id": "83bf3b75-cf47-441a-85be-dc68ef6def5b",
      "name": "Verificar Identificación"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        1952
      ],
      "id": "f6761c74-95ce-49e3-b95f-66f9426ee01a",
      "name": "Preparar Contexto"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        1104
      ],
      "id": "ff082cee-f943-484b-8049-d2860ee0e4ba",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        1328
      ],
      "id": "430038cc-02dd-4d72-8fde-017a87fc69c2",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1232,
        1312
      ],
      "id": "f87717c7-1b78-4483-a48a-707c1c334a88",
      "name": "Consultar asuntos",
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        1104
      ],
      "id": "29d78c26-bde7-4b81-8b65-17a4e70cc466",
      "name": "consultar especialidad",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1312
      ],
      "id": "e6e3f7f7-2bc2-4d2e-afe1-05d9d2120f52",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $input.first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -848,
        1312
      ],
      "id": "f45a0d11-a21a-446b-8c42-fe1a5a9d8df9",
      "name": "ASUNTOS",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idPuntoAtencion",
              "value": "***REDACTED***"
            },
            {
              "name": "Asunto",
              "value": "***REDACTED***"
            },
            {
              "name": "fecha",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1152,
        2224
      ],
      "id": "4c5ed5e2-7c67-4a38-86e6-7e1042f17a70",
      "name": "HTTP Request",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        2224
      ],
      "id": "9c3634f8-c1af-4e10-9e3e-1bf665a8f191",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        2224
      ],
      "id": "004a46ec-64e9-4f32-b3fa-cb2f7a4d343e",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        2224
      ],
      "id": "9355915e-817a-4c22-9e19-ea3988897b33",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c43d2f75-f4ae-41e5-833c-3642155f946b",
              "leftValue": "***REDACTED***",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        1120
      ],
      "id": "ea3460af-7b77-41dc-906a-52903730998c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1632,
        1312
      ],
      "id": "f99c9ccc-3da2-4742-964a-0593d37ad94a",
      "name": "guardar estado4",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -624,
        2224
      ],
      "id": "6d23149c-bfe1-457c-b3f2-8895ebd4c074",
      "name": "guardar estado5",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -448,
        2224
      ],
      "id": "8458729c-628d-4974-9f03-b6ec9564ac2e",
      "name": "Send message1",
      "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1536,
        1984
      ],
      "id": "b0c44b36-a997-4c73-b086-444ea7f461d0",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        1984
      ],
      "id": "12d4260c-ca26-4daf-94e2-0cc0a2c85719",
      "name": "Agendar en Zeus"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        1984
      ],
      "id": "ab5be455-cf40-48ce-acec-330cf48f2d26",
      "name": "Preparar datos agendamiento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ce8110f0-7fcf-4b5a-8a4c-0df868a40ccd",
              "leftValue": "={{  $json.Datos }}",
              "rightValue": "vacio",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -752,
        1984
      ],
      "id": "2211e028-753b-4da6-8a43-66551f8f4b3f",
      "name": "If4"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -464,
        2064
      ],
      "id": "12fd52fe-8b43-4f0b-a6a0-a039a7a969ac",
      "name": "Send message2",
      "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "81ff375a-d0d8-4137-a46f-3919591bc1d1",
              "leftValue": "***REDACTED***",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "73fcac26-aea8-40ec-b381-6112bed9c739",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        1904
      ],
      "id": "75d79580-29ef-46a8-b8f2-dd3b64d186d4",
      "name": "If5"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -256,
        2064
      ],
      "id": "1370a84e-da7f-4f0e-bc9c-2f78b930c5a5",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        1120
      ],
      "id": "2b4eb0cd-4ea7-463f-adcc-dec2dd7346d8",
      "name": "Consultar Punto de atencion",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "empresas",
          "mode": "list",
          "cachedResultName": "empresas"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "codigo",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -416,
        1120
      ],
      "id": "f7004594-e021-4a84-8833-72789a96ea5e",
      "name": "Contrato Empresa",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        1120
      ],
      "id": "80950880-b7fe-4694-9669-e693ab293690",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1136,
        1824
      ],
      "id": "c34bf2ab-ef9d-49c5-8e12-38221f8487b9",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        1824
      ],
      "id": "937298fa-5437-472e-8eea-afc4032ce8b1",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        1824
      ],
      "id": "9bec8139-defd-4ee8-bd3b-57d37114fa3a",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $input.first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -736,
        1824
      ],
      "id": "aa3a2347-b7d3-4914-9477-38a35f14a3a3",
      "name": "Puntos de atencion",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1536,
        1824
      ],
      "id": "9df16783-af45-4d7c-a03a-2f4431bc1e69",
      "name": "guardar estado6",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -256,
        1888
      ],
      "id": "f4d9651e-2c46-40c3-b22d-57429d2d9606",
      "name": "Send message3",
      "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -80,
        1888
      ],
      "id": "0e9b2b74-7f94-4aca-91c9-da89f31c289c",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        976,
        1280
      ],
      "id": "7eaf9d43-9721-426a-a571-ebf7ce69caed",
      "name": "guardar estado pedir telefono",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1328,
        1280
      ],
      "id": "3422a9bc-b7dd-4cf3-96d7-a2ba3adc4a26",
      "name": "PEDIR_TELEFONO_REGISTRO",
      "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1536,
        2416
      ],
      "id": "e89fa400-d0ca-4a71-9e2c-b152597f352a",
      "name": "guardar estado pedir correo",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1312,
        2416
      ],
      "id": "97e8be1d-eae7-4e5a-89a3-9356dd7f3a09",
      "name": "PEDIR_CORREO_REGISTRO",
      "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1536,
        2608
      ],
      "id": "bda46435-27a4-40fd-9e76-13444dee0bcb",
      "name": "guardar estado pedir direccion",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1328,
        2608
      ],
      "id": "8720197c-03b4-4cb1-96c2-77963956f0ea",
      "name": "PEDIR_DIRECCION_REGISTRO",
      "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        2816
      ],
      "id": "6008713e-429f-461a-97de-240cbad99e0b",
      "name": "Preparar datos registro"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
          "cachedResultName": "OBTENER TOKEN ZEUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1280,
        2816
      ],
      "id": "b53c2cc2-c7d0-4db7-9443-57191a260320",
      "name": "Call 'OBTENER TOKEN ZEUS' for Registro",
      "executeOnce": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "NumeroIdentificacion",
              "value": "***REDACTED***"
            },
            {
              "name": "TipoIdentificacion",
              "value": "***REDACTED***"
            },
            {
              "name": "Primernom",
              "value": "***REDACTED***"
            },
            {
              "name": "Primerape",
              "value": "***REDACTED***"
            },
            {
              "name": "Segundoape",
              "value": "***REDACTED***"
            },
            {
              "name": "Fechanaci",
              "value": "***REDACTED***"
            },
            {
              "name": "Sexo",
              "value": "***REDACTED***"
            },
            {
              "name": "Tipousuario",
              "value": "***REDACTED***"
            },
            {
              "name": "CodDep",
              "value": "***REDACTED***"
            },
            {
              "name": "CodMuni",
              "value": "***REDACTED***"
            },
            {
              "name": "Telefono",
              "value": "***REDACTED***"
            },
            {
              "name": "email",
              "value": "***REDACTED***"
            },
            {
              "name": "direccion",
              "value": "***REDACTED***"
            },
            {
              "name": "segundonom",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -992,
        2816
      ],
      "id": "789d81bb-ab72-4c7e-af34-adae61e68507",
      "name": "Registrar en Zeus"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ra1b2c3d4-e5f6-7890-abcd-ef1234567810",
              "leftValue": "={{ $json?.TieneErrores }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -736,
        2816
      ],
      "id": "8cbb8d11-691e-409c-b7cf-88bd295a7297",
      "name": "If Registro exitoso"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        2736
      ],
      "id": "6f29318d-5be8-4d0c-aefc-5e1cc71f58c7",
      "name": "Continuar tras registro"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -384,
        2912
      ],
      "id": "5427aadb-a316-4ad7-b25f-bfc82e67d8ee",
      "name": "Error registro Zeus",
      "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
          "cachedResultName": "OBTENER TOKEN ZEUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1536,
        2224
      ],
      "id": "a3645c48-591f-40b6-b981-1c9b649fca51",
      "name": "Call 'OBTENER TOKEN ZEUS' for Agenda1",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
          "cachedResultName": "OBTENER TOKEN ZEUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1168,
        1984
      ],
      "id": "57d7c8e6-7c08-412d-a957-42a75e2f94a8",
      "name": "Call 'OBTENER TOKEN ZEUS' for Agendar1",
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1536,
        1488
      ],
      "id": "3bcbbbc2-64b3-4697-84ba-9f67ee238268",
      "name": "continuar_sin_id_fin1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1552,
        1632
      ],
      "id": "2b4ea170-5751-4fa7-bec8-3dc494de2d61",
      "name": "esperando_datos_registro_fin1"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        1312
      ],
      "id": "b8ef96ec-4f0e-42e6-9b1f-1e2d1649bf2a",
      "name": "Validar ID Servicio1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 1800
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1152,
        2720
      ],
      "id": "f3edf96f-b232-4240-b028-cdef847f7d78",
      "name": "guardar estado12",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "tipos_regimen"
        },
        "where": {
          "values": [
            {
              "column": "codigo",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        1120
      ],
      "id": "aa0b8d30-49ee-42e8-b505-f9b3cb16660f",
      "name": "Consultar regimen",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -128,
        2912
      ],
      "id": "95b4b563-ea8c-445d-b6c5-78c00b4b820c",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d7bbeb09-30a3-4664-84e0-5356a0550d3a",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        1104
      ],
      "id": "3f9a73c3-8617-42b8-be81-6b8908a463f1",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -464,
        912
      ],
      "id": "ddd4c0c1-50b9-42db-9610-f406cb185add",
      "name": "Sin servicios habilitados",
      "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -272,
        912
      ],
      "id": "6b33bf6d-58b5-43c0-afdb-7d3708ea04d4",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        -1488,
        1136
      ],
      "id": "21468128-f507-48d4-8007-bd84b19f5dd9",
      "name": "PEDIR_NUM_DOC2",
      "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
      "credentials": {
        "whatsAppApi": {
          "id": "WgpWe0OcC2eioeBx",
          "name": "WhatsApp account 3"
        }
      }
    },
    {
      "parameters": {
        "toWhatsapp": true,
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        528,
        704
      ],
      "id": "443a923c-b786-49ad-98a2-0bf59b47aa71",
      "name": "Send an SMS/MMS/WhatsApp message"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Leer Estado Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'VALIDAR DERECHOS DE USUARIO'": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PEDIR_NUM_DOC2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qué hacer": {
      "main": [
        [
          {
            "node": "guardar estado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'VALIDAR DERECHOS DE USUARIO'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "guardar estado4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "continuar_sin_id_fin1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "esperando_datos_registro_fin1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "guardar estado6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'OBTENER TOKEN ZEUS' for Agenda1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "guardar estado pedir correo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "guardar estado pedir direccion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar datos registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PEDIR_TIPO_DOC": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado": {
      "main": [
        [
          {
            "node": "PEDIR_TIPO_DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado1": {
      "main": [
        [
          {
            "node": "PEDIR_NUM_DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "guardar estado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PEDIR_NUEVAMENTE_TIPO_DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'OBTENER TOKEN ZEUS'": {
      "main": [
        [
          {
            "node": "Consultar usuario en Zeus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "PEDIR_NUM_DOC1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "VALIDAR CONTRATOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar usuario en Zeus": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VALIDAR CONTRATOS": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado Paciente": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "Verificar Identificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Identificación": {
      "main": [
        [
          {
            "node": "Qué hacer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "consultar especialidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "ESPECIALIDAD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar especialidad": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar asuntos": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "ASUNTOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "guardar estado2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "guardar estado pedir telefono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado pedir telefono": {
      "main": [
        [
          {
            "node": "PEDIR_TELEFONO_REGISTRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado pedir correo": {
      "main": [
        [
          {
            "node": "PEDIR_CORREO_REGISTRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado pedir direccion": {
      "main": [
        [
          {
            "node": "PEDIR_DIRECCION_REGISTRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos registro": {
      "main": [
        [
          {
            "node": "Call 'OBTENER TOKEN ZEUS' for Registro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'OBTENER TOKEN ZEUS' for Registro": {
      "main": [
        [
          {
            "node": "Registrar en Zeus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar en Zeus": {
      "main": [
        [
          {
            "node": "If Registro exitoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Registro exitoso": {
      "main": [
        [
          {
            "node": "Continuar tras registro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error registro Zeus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar tras registro": {
      "main": [
        [
          {
            "node": "guardar estado12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado4": {
      "main": [
        [
          {
            "node": "Validar ID Servicio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "guardar estado5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado5": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Preparar datos agendamiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar datos agendamiento": {
      "main": [
        [
          {
            "node": "Call 'OBTENER TOKEN ZEUS' for Agendar1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar en Zeus": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message2": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Punto de atencion": {
      "main": [
        [
          {
            "node": "Consultar regimen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contrato Empresa": {
      "main": [
        [
          {
            "node": "Consultar Punto de atencion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Puntos de atencion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado6": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Send message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message3": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'OBTENER TOKEN ZEUS' for Agenda1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'OBTENER TOKEN ZEUS' for Agendar1": {
      "main": [
        [
          {
            "node": "Agendar en Zeus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar ID Servicio1": {
      "main": [
        [
          {
            "node": "Consultar asuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado12": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar regimen": {
      "main": [
        [
          {
            "node": "Call 'OBTENER TOKEN ZEUS'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error registro Zeus": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Sin servicios habilitados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contrato Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sin servicios habilitados": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "mensaje": "2",
          "intent": "agendar",
          "telefono": "573205943893",
          "phone_number_id": "1018630624675876"
        }
      }
    ]
  },
  "versionId": "b7e323f8-164f-4c0c-862d-67245c8205a8",
  "activeVersionId": "de1d5659-13c1-4e73-9c1f-173cf2ef70ba",
  "versionCounter": 2550,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-13T19:37:57.076Z",
      "createdAt": "2026-04-13T19:37:57.076Z",
      "role": "workflow:owner",
      "workflowId": "kxHCsXKdVTcKN6sbWhMBS",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-04-24T11:50:49.296Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-04-13T19:37:55.447Z",
      "createdAt": "2026-04-13T19:37:55.447Z",
      "id": "GeXMdnk5M7m34Z3t",
      "name": "chatbot-whatsapp"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-23T19:28:57.236Z",
    "createdAt": "2026-04-23T19:28:37.207Z",
    "versionId": "de1d5659-13c1-4e73-9c1f-173cf2ef70ba",
    "workflowId": "kxHCsXKdVTcKN6sbWhMBS",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "mensaje"
              },
              {
                "name": "intent"
              },
              {
                "name": "telefono"
              },
              {
                "name": "raw"
              },
              {
                "name": "phone_number_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2848,
          1952
        ],
        "id": "91a5c676-6c8c-429a-b361-1833bd880ba4",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/WQ65T0ACkIUy8PO80bZWV",
            "cachedResultName": "VALIDAR DERECHOS DE USUARIO"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "datos_paciente": "***REDACTED***"
            },
            "matchingColumns": [
              "datos_paciente"
            ],
            "schema": [
              {
                "id": "datos_paciente",
                "displayName": "datos_paciente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "object",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1648,
          976
        ],
        "id": "eb0e32f1-c2ef-4ee5-be17-dda0d0b3eab0",
        "name": "Call 'VALIDAR DERECHOS DE USUARIO'",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1664,
          640
        ],
        "id": "28207edb-c1ff-4330-ad54-4ae1e8ccdaf8",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "iniciar_identificacion",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "0ba28855-ff10-48a6-adf2-01e295293b51"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "iniciar_identificacion"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d37e21d4-8e41-45d6-b571-eb1fb065ff51",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_tipo_doc",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_tipo_doc"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "6d63a1dc-c37e-4eb7-a808-5786d19a2fbb",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_numero_doc",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_numero_doc"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "91f00516-1ed5-4b36-a03a-f10b2fd42c22",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_especialidad",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_especialidad"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c5864cca-7f18-429a-8fbb-c2f3a442885f",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "continuar_sin_id",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "continuar_sin_id"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c350bafb-bcf0-4f32-905a-b566475588aa",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "esperando_datos_registro",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "esperando_datos_registro"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4f36047e-d8eb-4ee0-93fc-88183fb39edd",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_asunto",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_asunto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "884e001f-031f-4e51-bf8f-99d036c8c3f9",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_programacion",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_programacion"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "afe214ed-fbd5-49be-98ea-a2238b4a1a32",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_punto_atencion",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_punto_atencion"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567891",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_telefono_registro",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_telefono_registro"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "f2b3c4d5-e6f7-8901-bcde-f12345678902",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_correo_registro",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_correo_registro"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "f3c4d5e6-f7a8-9012-cdef-123456789013",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_direccion_registro",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_direccion_registro"
              }
            ]
          },
          "options": {
            "allMatchingOutputs": false
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -1952,
          1792
        ],
        "id": "166bf5d7-e9b3-44ff-a97e-5f4fbad2fab9",
        "name": "Qué hacer"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1488,
          384
        ],
        "id": "d1ba845d-e937-4035-b76c-a0a7937eee74",
        "name": "PEDIR_TIPO_DOC",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -1680,
          384
        ],
        "id": "85da4f0c-eb55-4291-bbc6-1de048987037",
        "name": "guardar estado",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -1248,
          560
        ],
        "id": "ebc1406f-af8a-467b-bf74-44287f1f2850",
        "name": "guardar estado1",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "852e224f-acfd-446f-a248-5652a3c64731",
                "leftValue": "={{ $json.valido }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1504,
          640
        ],
        "id": "134bf697-9591-4756-bea3-68e7913ee1bd",
        "name": "If1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1296,
          384
        ],
        "id": "00f414d3-2e8c-4a30-938e-c18bb2361346",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
            "cachedResultName": "OBTENER TOKEN ZEUS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          192,
          1120
        ],
        "id": "226003be-a8c6-40b4-b8ac-04e946081041",
        "name": "Call 'OBTENER TOKEN ZEUS'",
        "executeOnce": true
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -1008,
          560
        ],
        "id": "31c06b2b-9397-4949-b001-5ce64002e8bd",
        "name": "PEDIR_NUM_DOC",
        "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1248,
          736
        ],
        "id": "4293f7d2-de94-4477-85fc-f6e8e8d8af70",
        "name": "PEDIR_NUEVAMENTE_TIPO_DOC",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $input.item.json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2240,
          1328
        ],
        "id": "2cd6288f-3afc-4f94-8ed4-7757dc0ebb18",
        "name": "ESPECIALIDAD",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "35b82148-a69e-4b1a-abeb-a81a86d351a1",
                "leftValue": "={{ $json?.mensaje_error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1456,
          976
        ],
        "id": "8dc544b6-b34f-48e7-9fc1-3e4175f2c0df",
        "name": "If2"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "={{ $json.mensaje_error }}",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -1232,
          912
        ],
        "id": "b8d9ec23-8fad-45e5-8e7f-2b791ffb365a",
        "name": "PEDIR_NUM_DOC1",
        "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "NumeroIdentificacion",
                "value": "***REDACTED***"
              },
              {
                "name": "TipoIdentificacion",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          400,
          1120
        ],
        "id": "f255e07d-5d4c-4de4-a345-d90655f31691",
        "name": "Consultar usuario en Zeus"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1344,
          1104
        ],
        "id": "9821131f-9aa6-441f-83ae-5ea3a79767b9",
        "name": "guardar estado2",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1232,
          1104
        ],
        "id": "dc416660-c69d-4b41-ae07-a0087fb52686",
        "name": "VALIDAR CONTRATOS"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "estado_raw",
          "key": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -2624,
          1952
        ],
        "id": "082e7e2f-febc-4631-84e4-535fece52441",
        "name": "Leer Estado Paciente",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2176,
          1952
        ],
        "id": "83bf3b75-cf47-441a-85be-dc68ef6def5b",
        "name": "Verificar Identificación"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2400,
          1952
        ],
        "id": "f6761c74-95ce-49e3-b95f-66f9426ee01a",
        "name": "Preparar Contexto"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1024,
          1104
        ],
        "id": "ff082cee-f943-484b-8049-d2860ee0e4ba",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2016,
          1328
        ],
        "id": "430038cc-02dd-4d72-8fde-017a87fc69c2",
        "name": "Code in JavaScript3"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1232,
          1312
        ],
        "id": "f87717c7-1b78-4483-a48a-707c1c334a88",
        "name": "Consultar asuntos",
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -848,
          1104
        ],
        "id": "29d78c26-bde7-4b81-8b65-17a4e70cc466",
        "name": "consultar especialidad",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1040,
          1312
        ],
        "id": "e6e3f7f7-2bc2-4d2e-afe1-05d9d2120f52",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $input.first().json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -848,
          1312
        ],
        "id": "f45a0d11-a21a-446b-8c42-fe1a5a9d8df9",
        "name": "ASUNTOS",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "idPuntoAtencion",
                "value": "***REDACTED***"
              },
              {
                "name": "Asunto",
                "value": "***REDACTED***"
              },
              {
                "name": "fecha",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1152,
          2224
        ],
        "id": "4c5ed5e2-7c67-4a38-86e6-7e1042f17a70",
        "name": "HTTP Request",
        "executeOnce": false
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1328,
          2224
        ],
        "id": "9c3634f8-c1af-4e10-9e3e-1bf665a8f191",
        "name": "Code in JavaScript4"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -976,
          2224
        ],
        "id": "004a46ec-64e9-4f32-b3fa-cb2f7a4d343e",
        "name": "Code in JavaScript5"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -800,
          2224
        ],
        "id": "9355915e-817a-4c22-9e19-ea3988897b33",
        "name": "Code in JavaScript6"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c43d2f75-f4ae-41e5-833c-3642155f946b",
                "leftValue": "***REDACTED***",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          848,
          1120
        ],
        "id": "ea3460af-7b77-41dc-906a-52903730998c",
        "name": "If"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -1632,
          1312
        ],
        "id": "f99c9ccc-3da2-4742-964a-0593d37ad94a",
        "name": "guardar estado4",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -624,
          2224
        ],
        "id": "6d23149c-bfe1-457c-b3f2-8895ebd4c074",
        "name": "guardar estado5",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -448,
          2224
        ],
        "id": "8458729c-628d-4974-9f03-b6ec9564ac2e",
        "name": "Send message1",
        "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1536,
          1984
        ],
        "id": "b0c44b36-a997-4c73-b086-444ea7f461d0",
        "name": "Code in JavaScript7"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "contentType": "=json",
          "specifyBody": "json",
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "jsonBody": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -976,
          1984
        ],
        "id": "12d4260c-ca26-4daf-94e2-0cc0a2c85719",
        "name": "Agendar en Zeus"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1328,
          1984
        ],
        "id": "ab5be455-cf40-48ce-acec-330cf48f2d26",
        "name": "Preparar datos agendamiento"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ce8110f0-7fcf-4b5a-8a4c-0df868a40ccd",
                "leftValue": "={{  $json.Datos }}",
                "rightValue": "vacio",
                "operator": {
                  "type": "array",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -752,
          1984
        ],
        "id": "2211e028-753b-4da6-8a43-66551f8f4b3f",
        "name": "If4"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -464,
          2064
        ],
        "id": "12fd52fe-8b43-4f0b-a6a0-a039a7a969ac",
        "name": "Send message2",
        "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "81ff375a-d0d8-4137-a46f-3919591bc1d1",
                "leftValue": "***REDACTED***",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              },
              {
                "id": "73fcac26-aea8-40ec-b381-6112bed9c739",
                "leftValue": "***REDACTED***",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -480,
          1904
        ],
        "id": "75d79580-29ef-46a8-b8f2-dd3b64d186d4",
        "name": "If5"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "***REDACTED***"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -256,
          2064
        ],
        "id": "1370a84e-da7f-4f0e-bc9c-2f78b930c5a5",
        "name": "Redis2",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -240,
          1120
        ],
        "id": "2b4eb0cd-4ea7-463f-adcc-dec2dd7346d8",
        "name": "Consultar Punto de atencion",
        "executeOnce": true,
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "empresas",
            "mode": "list",
            "cachedResultName": "empresas"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "codigo",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -416,
          1120
        ],
        "id": "f7004594-e021-4a84-8833-72789a96ea5e",
        "name": "Contrato Empresa",
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          1120
        ],
        "id": "80950880-b7fe-4694-9669-e693ab293690",
        "name": "Code in JavaScript8"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1136,
          1824
        ],
        "id": "c34bf2ab-ef9d-49c5-8e12-38221f8487b9",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1328,
          1824
        ],
        "id": "937298fa-5437-472e-8eea-afc4032ce8b1",
        "name": "Code in JavaScript9"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -928,
          1824
        ],
        "id": "9bec8139-defd-4ee8-bd3b-57d37114fa3a",
        "name": "Code in JavaScript10"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $input.first().json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -736,
          1824
        ],
        "id": "aa3a2347-b7d3-4914-9477-38a35f14a3a3",
        "name": "Puntos de atencion",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -1536,
          1824
        ],
        "id": "9df16783-af45-4d7c-a03a-2f4431bc1e69",
        "name": "guardar estado6",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -256,
          1888
        ],
        "id": "f4d9651e-2c46-40c3-b22d-57429d2d9606",
        "name": "Send message3",
        "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "***REDACTED***"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -80,
          1888
        ],
        "id": "0e9b2b74-7f94-4aca-91c9-da89f31c289c",
        "name": "Redis3",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          976,
          1280
        ],
        "id": "7eaf9d43-9721-426a-a571-ebf7ce69caed",
        "name": "guardar estado pedir telefono",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          1328,
          1280
        ],
        "id": "3422a9bc-b7dd-4cf3-96d7-a2ba3adc4a26",
        "name": "PEDIR_TELEFONO_REGISTRO",
        "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -1536,
          2416
        ],
        "id": "e89fa400-d0ca-4a71-9e2c-b152597f352a",
        "name": "guardar estado pedir correo",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -1312,
          2416
        ],
        "id": "97e8be1d-eae7-4e5a-89a3-9356dd7f3a09",
        "name": "PEDIR_CORREO_REGISTRO",
        "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -1536,
          2608
        ],
        "id": "bda46435-27a4-40fd-9e76-13444dee0bcb",
        "name": "guardar estado pedir direccion",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -1328,
          2608
        ],
        "id": "8720197c-03b4-4cb1-96c2-77963956f0ea",
        "name": "PEDIR_DIRECCION_REGISTRO",
        "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1568,
          2816
        ],
        "id": "6008713e-429f-461a-97de-240cbad99e0b",
        "name": "Preparar datos registro"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
            "cachedResultName": "OBTENER TOKEN ZEUS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1280,
          2816
        ],
        "id": "b53c2cc2-c7d0-4db7-9443-57191a260320",
        "name": "Call 'OBTENER TOKEN ZEUS' for Registro",
        "executeOnce": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "NumeroIdentificacion",
                "value": "***REDACTED***"
              },
              {
                "name": "TipoIdentificacion",
                "value": "***REDACTED***"
              },
              {
                "name": "Primernom",
                "value": "***REDACTED***"
              },
              {
                "name": "Primerape",
                "value": "***REDACTED***"
              },
              {
                "name": "Segundoape",
                "value": "***REDACTED***"
              },
              {
                "name": "Fechanaci",
                "value": "***REDACTED***"
              },
              {
                "name": "Sexo",
                "value": "***REDACTED***"
              },
              {
                "name": "Tipousuario",
                "value": "***REDACTED***"
              },
              {
                "name": "CodDep",
                "value": "***REDACTED***"
              },
              {
                "name": "CodMuni",
                "value": "***REDACTED***"
              },
              {
                "name": "Telefono",
                "value": "***REDACTED***"
              },
              {
                "name": "email",
                "value": "***REDACTED***"
              },
              {
                "name": "direccion",
                "value": "***REDACTED***"
              },
              {
                "name": "segundonom",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -992,
          2816
        ],
        "id": "789d81bb-ab72-4c7e-af34-adae61e68507",
        "name": "Registrar en Zeus"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ra1b2c3d4-e5f6-7890-abcd-ef1234567810",
                "leftValue": "={{ $json?.TieneErrores }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -736,
          2816
        ],
        "id": "8cbb8d11-691e-409c-b7cf-88bd295a7297",
        "name": "If Registro exitoso"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -384,
          2736
        ],
        "id": "6f29318d-5be8-4d0c-aefc-5e1cc71f58c7",
        "name": "Continuar tras registro"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -384,
          2912
        ],
        "id": "5427aadb-a316-4ad7-b25f-bfc82e67d8ee",
        "name": "Error registro Zeus",
        "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
            "cachedResultName": "OBTENER TOKEN ZEUS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1536,
          2224
        ],
        "id": "a3645c48-591f-40b6-b981-1c9b649fca51",
        "name": "Call 'OBTENER TOKEN ZEUS' for Agenda1",
        "executeOnce": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
            "cachedResultName": "OBTENER TOKEN ZEUS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1168,
          1984
        ],
        "id": "57d7c8e6-7c08-412d-a957-42a75e2f94a8",
        "name": "Call 'OBTENER TOKEN ZEUS' for Agendar1",
        "executeOnce": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1536,
          1488
        ],
        "id": "3bcbbbc2-64b3-4697-84ba-9f67ee238268",
        "name": "continuar_sin_id_fin1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1552,
          1632
        ],
        "id": "2b4ea170-5751-4fa7-bec8-3dc494de2d61",
        "name": "esperando_datos_registro_fin1"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1456,
          1312
        ],
        "id": "b8ef96ec-4f0e-42e6-9b1f-1e2d1649bf2a",
        "name": "Validar ID Servicio1"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 1800
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1152,
          2720
        ],
        "id": "f3edf96f-b232-4240-b028-cdef847f7d78",
        "name": "guardar estado12",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "tipos_regimen"
          },
          "where": {
            "values": [
              {
                "column": "codigo",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -48,
          1120
        ],
        "id": "aa0b8d30-49ee-42e8-b505-f9b3cb16660f",
        "name": "Consultar regimen",
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "***REDACTED***"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -128,
          2912
        ],
        "id": "95b4b563-ea8c-445d-b6c5-78c00b4b820c",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d7bbeb09-30a3-4664-84e0-5356a0550d3a",
                "leftValue": "***REDACTED***",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -640,
          1104
        ],
        "id": "3f9a73c3-8617-42b8-be81-6b8908a463f1",
        "name": "If3"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -464,
          912
        ],
        "id": "ddd4c0c1-50b9-42db-9610-f406cb185add",
        "name": "Sin servicios habilitados",
        "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "***REDACTED***"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -272,
          912
        ],
        "id": "6b33bf6d-58b5-43c0-afdb-7d3708ea04d4",
        "name": "Redis4",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          -1488,
          1136
        ],
        "id": "21468128-f507-48d4-8007-bd84b19f5dd9",
        "name": "PEDIR_NUM_DOC2",
        "webhookId": "c630469c-165a-459b-9ce3-47b8f0fe93bf",
        "credentials": {
          "whatsAppApi": {
            "id": "WgpWe0OcC2eioeBx",
            "name": "WhatsApp account 3"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Leer Estado Paciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'VALIDAR DERECHOS DE USUARIO'": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "PEDIR_NUM_DOC2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Qué hacer": {
        "main": [
          [
            {
              "node": "guardar estado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'VALIDAR DERECHOS DE USUARIO'",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "guardar estado4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "continuar_sin_id_fin1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "esperando_datos_registro_fin1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "guardar estado6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'OBTENER TOKEN ZEUS' for Agenda1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "guardar estado pedir correo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "guardar estado pedir direccion",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Preparar datos registro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PEDIR_TIPO_DOC": {
        "main": [
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado": {
        "main": [
          [
            {
              "node": "PEDIR_TIPO_DOC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado1": {
        "main": [
          [
            {
              "node": "PEDIR_NUM_DOC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "guardar estado1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "PEDIR_NUEVAMENTE_TIPO_DOC",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'OBTENER TOKEN ZEUS'": {
        "main": [
          [
            {
              "node": "Consultar usuario en Zeus",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "PEDIR_NUM_DOC1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "VALIDAR CONTRATOS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar usuario en Zeus": {
        "main": [
          [
            {
              "node": "Code in JavaScript8",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado2": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "VALIDAR CONTRATOS": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Estado Paciente": {
        "main": [
          [
            {
              "node": "Preparar Contexto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Contexto": {
        "main": [
          [
            {
              "node": "Verificar Identificación",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Identificación": {
        "main": [
          [
            {
              "node": "Qué hacer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "consultar especialidad",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript3": {
        "main": [
          [
            {
              "node": "ESPECIALIDAD",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "consultar especialidad": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar asuntos": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "ASUNTOS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript4": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript5": {
        "main": [
          [
            {
              "node": "Code in JavaScript6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "guardar estado2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "guardar estado pedir telefono",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado pedir telefono": {
        "main": [
          [
            {
              "node": "PEDIR_TELEFONO_REGISTRO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado pedir correo": {
        "main": [
          [
            {
              "node": "PEDIR_CORREO_REGISTRO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado pedir direccion": {
        "main": [
          [
            {
              "node": "PEDIR_DIRECCION_REGISTRO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar datos registro": {
        "main": [
          [
            {
              "node": "Call 'OBTENER TOKEN ZEUS' for Registro",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'OBTENER TOKEN ZEUS' for Registro": {
        "main": [
          [
            {
              "node": "Registrar en Zeus",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Registrar en Zeus": {
        "main": [
          [
            {
              "node": "If Registro exitoso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Registro exitoso": {
        "main": [
          [
            {
              "node": "Continuar tras registro",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error registro Zeus",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Continuar tras registro": {
        "main": [
          [
            {
              "node": "guardar estado12",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado4": {
        "main": [
          [
            {
              "node": "Validar ID Servicio1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript6": {
        "main": [
          [
            {
              "node": "guardar estado5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado5": {
        "main": [
          [
            {
              "node": "Send message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript7": {
        "main": [
          [
            {
              "node": "Preparar datos agendamiento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar datos agendamiento": {
        "main": [
          [
            {
              "node": "Call 'OBTENER TOKEN ZEUS' for Agendar1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agendar en Zeus": {
        "main": [
          [
            {
              "node": "If4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If4": {
        "main": [
          [
            {
              "node": "If5",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send message2": {
        "main": [
          [
            {
              "node": "Redis2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Punto de atencion": {
        "main": [
          [
            {
              "node": "Consultar regimen",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Contrato Empresa": {
        "main": [
          [
            {
              "node": "Consultar Punto de atencion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript8": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript9": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript10": {
        "main": [
          [
            {
              "node": "Puntos de atencion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Code in JavaScript10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado6": {
        "main": [
          [
            {
              "node": "Code in JavaScript9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If5": {
        "main": [
          [
            {
              "node": "Send message3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send message3": {
        "main": [
          [
            {
              "node": "Redis3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'OBTENER TOKEN ZEUS' for Agenda1": {
        "main": [
          [
            {
              "node": "Code in JavaScript4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'OBTENER TOKEN ZEUS' for Agendar1": {
        "main": [
          [
            {
              "node": "Agendar en Zeus",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar ID Servicio1": {
        "main": [
          [
            {
              "node": "Consultar asuntos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado12": {
        "main": [
          [
            {
              "node": "Code in JavaScript3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar regimen": {
        "main": [
          [
            {
              "node": "Call 'OBTENER TOKEN ZEUS'",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Error registro Zeus": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [
            {
              "node": "Sin servicios habilitados",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Contrato Empresa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sin servicios habilitados": {
        "main": [
          [
            {
              "node": "Redis4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version de1d5659",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-23T19:28:57.234Z",
        "id": 562,
        "workflowId": "kxHCsXKdVTcKN6sbWhMBS",
        "versionId": "de1d5659-13c1-4e73-9c1f-173cf2ef70ba",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}