workflows/GESTION_CITAS__kxHCsXKdVTcKN6sbWhMBS.json
{
  "updatedAt": "2026-06-03T20:56:04.474Z",
  "createdAt": "2026-04-13T19:37:57.076Z",
  "id": "kxHCsXKdVTcKN6sbWhMBS",
  "name": "GESTION_CITAS",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensaje"
            },
            {
              "name": "intent"
            },
            {
              "name": "telefono"
            },
            {
              "name": "raw"
            },
            {
              "name": "phone_number_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        46240,
        11168
      ],
      "id": "8804570f-aca4-45fc-a7de-3a49e95cbadd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "estado_raw",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        46464,
        11168
      ],
      "id": "a972a7b7-0a52-4290-b89b-26e06850eeb5",
      "name": "Leer Estado Paciente",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        46688,
        11168
      ],
      "id": "7a14a27e-3df8-488c-ba3c-29b6dd020805",
      "name": "Preparar Contexto"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        46912,
        11168
      ],
      "id": "192611e7-1e2d-4d21-86d3-24ae10e43448",
      "name": "Verificar Identificación"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "iniciar_identificacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0ba28855-ff10-48a6-adf2-01e295293b51"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "iniciar_identificacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "91f00516-1ed5-4b36-a03a-f10b2fd42c22",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_especialidad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_especialidad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c5864cca-7f18-429a-8fbb-c2f3a442885f",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "continuar_sin_id",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "continuar_sin_id"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c350bafb-bcf0-4f32-905a-b566475588aa",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "esperando_datos_registro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "esperando_datos_registro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f36047e-d8eb-4ee0-93fc-88183fb39edd",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_asunto",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_asunto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "884e001f-031f-4e51-bf8f-99d036c8c3f9",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_programacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_programacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "afe214ed-fbd5-49be-98ea-a2238b4a1a32",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_punto_atencion",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_punto_atencion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4ede937d-f4ab-4936-a47c-411a1bb3b010",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_id_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_id_cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567813",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_confirmacion_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_confirmacion_cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3d4e5f6-a7b8-9012-cdef-123456789015",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_confirmacion_identidad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_confirmacion_identidad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b2c3d4e5-f6a7-8901-bcde-f12345678914",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "cancelar_flujo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar_flujo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "flow-reg-001",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_flow_registro",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_flow_registro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "flow-id-001",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "recibir_flow_identificacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_flow_identificacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ya-id-001",
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "ya_identificado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ya_identificado"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "FALLBACK",
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        47136,
        10960
      ],
      "id": "8da0d61a-acae-4ab6-bc71-029f10980415",
      "name": "Qué hacer"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "WF_AUTENTICACION",
          "cachedResultUrl": "/workflow/bp0H42Oq-q_wVbZkqy5f0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "intent": "***REDACTED***",
            "accion": "***REDACTED***",
            "estado": "***REDACTED***",
            "tipo_documento": "***REDACTED***",
            "numero_documento": "***REDACTED***",
            "datos_usuario": "***REDACTED***",
            "telefono": "***REDACTED***",
            "phone_number_id": "***REDACTED***",
            "raw": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo_documento",
              "displayName": "tipo_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero_documento",
              "displayName": "numero_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos_usuario",
              "displayName": "datos_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone_number_id",
              "displayName": "phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw",
              "displayName": "raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "573a71fb-86b6-470b-94f6-ff5fe9f9f9d7",
      "name": "Call WF_AUTENTICACION",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        47424,
        10992
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "WF_CITA",
          "cachedResultUrl": "/workflow/02D76EWnNwV5JRIKGQtV6"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "intent": "***REDACTED***",
            "accion": "***REDACTED***",
            "estado": "***REDACTED***",
            "tipo_documento": "***REDACTED***",
            "numero_documento": "***REDACTED***",
            "datos_usuario": "***REDACTED***",
            "telefono": "***REDACTED***",
            "phone_number_id": "***REDACTED***",
            "raw": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo_documento",
              "displayName": "tipo_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero_documento",
              "displayName": "numero_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos_usuario",
              "displayName": "datos_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone_number_id",
              "displayName": "phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw",
              "displayName": "raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "c21173dd-8311-4a60-83ea-079a37afc523",
      "name": "Call WF_CITA",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        47424,
        11168
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "WF_REGISTRO",
          "cachedResultUrl": "/workflow/9I7-9Llh9YGz-P1Bm0gNr"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "intent": "***REDACTED***",
            "accion": "***REDACTED***",
            "estado": "***REDACTED***",
            "tipo_documento": "***REDACTED***",
            "numero_documento": "***REDACTED***",
            "datos_usuario": "***REDACTED***",
            "telefono": "***REDACTED***",
            "phone_number_id": "***REDACTED***",
            "raw": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "accion",
              "displayName": "accion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo_documento",
              "displayName": "tipo_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "numero_documento",
              "displayName": "numero_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "datos_usuario",
              "displayName": "datos_usuario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "phone_number_id",
              "displayName": "phone_number_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw",
              "displayName": "raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a9fa8c6f-74e1-46f9-8cbe-4554591aa77c",
      "name": "Call WF_REGISTRO",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        47424,
        11344
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Leer Estado Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado Paciente": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "Verificar Identificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Identificación": {
      "main": [
        [
          {
            "node": "Qué hacer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qué hacer": {
      "main": [
        [
          {
            "node": "Call WF_AUTENTICACION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_CITA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_AUTENTICACION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_REGISTRO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_CITA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_CITA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_CITA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_CITA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_CITA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_AUTENTICACION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_CITA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_REGISTRO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_AUTENTICACION",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call WF_AUTENTICACION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b4805f59-6007-45f3-85a4-07cceeb57029",
  "activeVersionId": "b4805f59-6007-45f3-85a4-07cceeb57029",
  "versionCounter": 5522,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-13T19:37:57.076Z",
      "createdAt": "2026-04-13T19:37:57.076Z",
      "role": "workflow:owner",
      "workflowId": "kxHCsXKdVTcKN6sbWhMBS",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-06-12T23:00:22.334Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-05-15T14:38:37.293Z",
      "createdAt": "2026-03-03T19:34:15.068Z",
      "id": "M63Xu3JDOVoP0xRM",
      "name": "flujo whatsapp 🟢💬"
    },
    {
      "updatedAt": "2026-04-13T19:37:55.447Z",
      "createdAt": "2026-04-13T19:37:55.447Z",
      "id": "GeXMdnk5M7m34Z3t",
      "name": "chatbot-whatsapp"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-04T12:09:42.149Z",
    "createdAt": "2026-06-03T20:56:04.475Z",
    "versionId": "b4805f59-6007-45f3-85a4-07cceeb57029",
    "workflowId": "kxHCsXKdVTcKN6sbWhMBS",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "mensaje"
              },
              {
                "name": "intent"
              },
              {
                "name": "telefono"
              },
              {
                "name": "raw"
              },
              {
                "name": "phone_number_id"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          46240,
          11168
        ],
        "id": "8804570f-aca4-45fc-a7de-3a49e95cbadd",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "estado_raw",
          "key": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          46464,
          11168
        ],
        "id": "a972a7b7-0a52-4290-b89b-26e06850eeb5",
        "name": "Leer Estado Paciente",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          46688,
          11168
        ],
        "id": "7a14a27e-3df8-488c-ba3c-29b6dd020805",
        "name": "Preparar Contexto"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          46912,
          11168
        ],
        "id": "192611e7-1e2d-4d21-86d3-24ae10e43448",
        "name": "Verificar Identificación"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "iniciar_identificacion",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "0ba28855-ff10-48a6-adf2-01e295293b51"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "iniciar_identificacion"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "91f00516-1ed5-4b36-a03a-f10b2fd42c22",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_especialidad",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_especialidad"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c5864cca-7f18-429a-8fbb-c2f3a442885f",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "continuar_sin_id",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "continuar_sin_id"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c350bafb-bcf0-4f32-905a-b566475588aa",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "esperando_datos_registro",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "esperando_datos_registro"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4f36047e-d8eb-4ee0-93fc-88183fb39edd",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_asunto",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_asunto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "884e001f-031f-4e51-bf8f-99d036c8c3f9",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_programacion",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_programacion"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "afe214ed-fbd5-49be-98ea-a2238b4a1a32",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_punto_atencion",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_punto_atencion"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "4ede937d-f4ab-4936-a47c-411a1bb3b010",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_id_cita",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_id_cita"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567813",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_confirmacion_cita",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_confirmacion_cita"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "c3d4e5f6-a7b8-9012-cdef-123456789015",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_confirmacion_identidad",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_confirmacion_identidad"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678914",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "cancelar_flujo",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancelar_flujo"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "flow-reg-001",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_flow_registro",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_flow_registro"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "flow-id-001",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "recibir_flow_identificacion",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_flow_identificacion"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "ya-id-001",
                      "leftValue": "={{ $json.accion }}",
                      "rightValue": "ya_identificado",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "ya_identificado"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "FALLBACK",
            "allMatchingOutputs": false
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          47136,
          10960
        ],
        "id": "8da0d61a-acae-4ab6-bc71-029f10980415",
        "name": "Qué hacer"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "WF_AUTENTICACION",
            "cachedResultUrl": "/workflow/bp0H42Oq-q_wVbZkqy5f0"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "***REDACTED***",
              "intent": "***REDACTED***",
              "accion": "***REDACTED***",
              "estado": "***REDACTED***",
              "tipo_documento": "***REDACTED***",
              "numero_documento": "***REDACTED***",
              "datos_usuario": "***REDACTED***",
              "telefono": "***REDACTED***",
              "phone_number_id": "***REDACTED***",
              "raw": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "intent",
                "displayName": "intent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "accion",
                "displayName": "accion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "estado",
                "displayName": "estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "tipo_documento",
                "displayName": "tipo_documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "numero_documento",
                "displayName": "numero_documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "datos_usuario",
                "displayName": "datos_usuario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone_number_id",
                "displayName": "phone_number_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "raw",
                "displayName": "raw",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "id": "573a71fb-86b6-470b-94f6-ff5fe9f9f9d7",
        "name": "Call WF_AUTENTICACION",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          47424,
          10992
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "WF_CITA",
            "cachedResultUrl": "/workflow/02D76EWnNwV5JRIKGQtV6"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "***REDACTED***",
              "intent": "***REDACTED***",
              "accion": "***REDACTED***",
              "estado": "***REDACTED***",
              "tipo_documento": "***REDACTED***",
              "numero_documento": "***REDACTED***",
              "datos_usuario": "***REDACTED***",
              "telefono": "***REDACTED***",
              "phone_number_id": "***REDACTED***",
              "raw": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "intent",
                "displayName": "intent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "accion",
                "displayName": "accion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "estado",
                "displayName": "estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "tipo_documento",
                "displayName": "tipo_documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "numero_documento",
                "displayName": "numero_documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "datos_usuario",
                "displayName": "datos_usuario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone_number_id",
                "displayName": "phone_number_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "raw",
                "displayName": "raw",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "id": "c21173dd-8311-4a60-83ea-079a37afc523",
        "name": "Call WF_CITA",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          47424,
          11168
        ]
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "WF_REGISTRO",
            "cachedResultUrl": "/workflow/9I7-9Llh9YGz-P1Bm0gNr"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "mensaje": "***REDACTED***",
              "intent": "***REDACTED***",
              "accion": "***REDACTED***",
              "estado": "***REDACTED***",
              "tipo_documento": "***REDACTED***",
              "numero_documento": "***REDACTED***",
              "datos_usuario": "***REDACTED***",
              "telefono": "***REDACTED***",
              "phone_number_id": "***REDACTED***",
              "raw": "***REDACTED***"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "mensaje",
                "displayName": "mensaje",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "intent",
                "displayName": "intent",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "accion",
                "displayName": "accion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "estado",
                "displayName": "estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "tipo_documento",
                "displayName": "tipo_documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "numero_documento",
                "displayName": "numero_documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "datos_usuario",
                "displayName": "datos_usuario",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "phone_number_id",
                "displayName": "phone_number_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "raw",
                "displayName": "raw",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ]
          },
          "options": {}
        },
        "id": "a9fa8c6f-74e1-46f9-8cbe-4554591aa77c",
        "name": "Call WF_REGISTRO",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          47424,
          11344
        ]
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Leer Estado Paciente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Estado Paciente": {
        "main": [
          [
            {
              "node": "Preparar Contexto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Contexto": {
        "main": [
          [
            {
              "node": "Verificar Identificación",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar Identificación": {
        "main": [
          [
            {
              "node": "Qué hacer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Qué hacer": {
        "main": [
          [
            {
              "node": "Call WF_AUTENTICACION",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_CITA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_AUTENTICACION",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_REGISTRO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_CITA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_CITA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_CITA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_CITA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_CITA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_AUTENTICACION",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_CITA",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_REGISTRO",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_AUTENTICACION",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call WF_AUTENTICACION",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version b4805f59",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-04T12:09:42.147Z",
        "id": 1027,
        "workflowId": "kxHCsXKdVTcKN6sbWhMBS",
        "versionId": "b4805f59-6007-45f3-85a4-07cceeb57029",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}