workflows/Gestion_de_citas__4lmOH2EOOrd3Nwno.json
{
  "updatedAt": "2026-02-03T19:22:54.666Z",
  "createdAt": "2026-01-15T18:40:40.070Z",
  "id": "4lmOH2EOOrd3Nwno",
  "name": "Gestion de citas",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensaje"
            },
            {
              "name": "telefono"
            },
            {
              "name": "paciente_id",
              "type": "number"
            },
            {
              "name": "profesional_id",
              "type": "number"
            },
            {
              "name": "fecha"
            },
            {
              "name": "hora"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -672,
        -128
      ],
      "id": "a09e4733-b2a7-4fd5-b997-583ffa875eef",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16,
        -128
      ],
      "id": "13c9ecc0-ae19-43a7-a251-e17980ddb74d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {
          "queryReplacement": "***REDACTED***"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -192,
        96
      ],
      "id": "7ad70773-0873-4646-bda3-15dfa0631acb",
      "name": "consultar_paciente",
      "credentials": {
        "postgres": {
          "id": "cffLg1U8OTnicsUa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -576,
        96
      ],
      "id": "e662315f-7e34-4f34-9fac-24b53a75da00",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "***REDACTED***",
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {
          "queryReplacement": "***REDACTED***"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        0,
        96
      ],
      "id": "64083f79-c897-41bc-91fe-f4a52c2171fa",
      "name": "consultar_disponibilidad",
      "credentials": {
        "postgres": {
          "id": "cffLg1U8OTnicsUa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "especialidades"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        176,
        96
      ],
      "id": "013b1c71-e5f6-40e7-a51e-05685165c9e5",
      "name": "consultar_especialidades",
      "credentials": {
        "postgres": {
          "id": "cffLg1U8OTnicsUa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "***REDACTED***",
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {
          "queryReplacement": "***REDACTED***"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        288,
        112
      ],
      "id": "e18c581c-045e-4f56-bdab-fac40bc5522c",
      "name": "crear_cita",
      "credentials": {
        "postgres": {
          "id": "cffLg1U8OTnicsUa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefono }}",
        "sessionTTL": 3600,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -352,
        96
      ],
      "id": "ec16e222-27bd-4d20-933e-fa5ecb08c680",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "***REDACTED***",
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {
          "queryReplacement": "***REDACTED***"
        }
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        464,
        112
      ],
      "id": "b1be73b2-dede-4159-8767-fe0ca1de8ab5",
      "name": "consultar_cita",
      "credentials": {
        "postgres": {
          "id": "cffLg1U8OTnicsUa",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "***REDACTED***",
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "citas",
          "mode": "list",
          "cachedResultName": "citas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "estado": "={{'CANCELADA'}}",
            "id": "***REDACTED***",
            "observaciones": "***REDACTED***"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "paciente_id",
              "displayName": "paciente_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profesional_id",
              "displayName": "profesional_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sede_id",
              "displayName": "sede_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "servicio_o_motivo",
              "displayName": "servicio_o_motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fecha_cita",
              "displayName": "fecha_cita",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hora_inicio",
              "displayName": "hora_inicio",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hora_fin",
              "displayName": "hora_fin",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "observaciones",
              "displayName": "observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        624,
        96
      ],
      "id": "317f692a-0b09-4e6c-be63-5d5d298152ad",
      "name": "cancelar_cita",
      "credentials": {
        "postgres": {
          "id": "cffLg1U8OTnicsUa",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_paciente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "consultar_disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_especialidades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "consultar_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_cita": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "b65d0a39-ce51-4ec3-8127-33db344d78cf",
  "activeVersionId": "b65d0a39-ce51-4ec3-8127-33db344d78cf",
  "versionCounter": 126,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-22T19:24:54.675Z",
      "createdAt": "2026-01-22T19:24:54.675Z",
      "role": "workflow:owner",
      "workflowId": "4lmOH2EOOrd3Nwno",
      "projectId": "EBZGwgHNf54my5Ji",
      "project": {
        "updatedAt": "2026-01-22T19:43:29.746Z",
        "createdAt": "2026-01-22T19:42:30.105Z",
        "id": "EBZGwgHNf54my5Ji",
        "name": "Neyla Polo <npolov@sersocial.org>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:42:30.105Z",
            "createdAt": "2026-01-22T19:42:30.105Z",
            "userId": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
            "projectId": "EBZGwgHNf54my5Ji",
            "user": {
              "updatedAt": "2026-03-05T05:18:56.188Z",
              "createdAt": "2026-01-22T19:42:30.105Z",
              "id": "2dbaefe0-4051-4bdc-a630-2ebab7cc33e5",
              "email": "npolov@sersocial.org",
              "firstName": "Neyla",
              "lastName": "Polo",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:43:34.370Z",
                "personalization_survey_n8n_version": "1.121.2"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "4lmOH2EOOrd3Nwno",
                "userActivated": true,
                "userActivatedAt": 1769195420470,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1770846671088
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-03T19:22:54.676Z",
    "createdAt": "2026-02-03T19:22:54.676Z",
    "versionId": "b65d0a39-ce51-4ec3-8127-33db344d78cf",
    "workflowId": "4lmOH2EOOrd3Nwno",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "mensaje"
              },
              {
                "name": "telefono"
              },
              {
                "name": "paciente_id",
                "type": "number"
              },
              {
                "name": "profesional_id",
                "type": "number"
              },
              {
                "name": "fecha"
              },
              {
                "name": "hora"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -672,
          -128
        ],
        "id": "a09e4733-b2a7-4fd5-b997-583ffa875eef",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.mensaje }}",
          "options": {
            "systemMessage": "***REDACTED***"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -16,
          -128
        ],
        "id": "13c9ecc0-ae19-43a7-a251-e17980ddb74d",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {
            "queryReplacement": "***REDACTED***"
          }
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          -192,
          96
        ],
        "id": "7ad70773-0873-4646-bda3-15dfa0631acb",
        "name": "consultar_paciente",
        "credentials": {
          "postgres": {
            "id": "cffLg1U8OTnicsUa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "***REDACTED***"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -576,
          96
        ],
        "id": "e662315f-7e34-4f34-9fac-24b53a75da00",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "dNAey8tcxmUMRffx",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "***REDACTED***",
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {
            "queryReplacement": "***REDACTED***"
          }
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          0,
          96
        ],
        "id": "64083f79-c897-41bc-91fe-f4a52c2171fa",
        "name": "consultar_disponibilidad",
        "credentials": {
          "postgres": {
            "id": "cffLg1U8OTnicsUa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "especialidades"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          176,
          96
        ],
        "id": "013b1c71-e5f6-40e7-a51e-05685165c9e5",
        "name": "consultar_especialidades",
        "credentials": {
          "postgres": {
            "id": "cffLg1U8OTnicsUa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "***REDACTED***",
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {
            "queryReplacement": "***REDACTED***"
          }
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          288,
          112
        ],
        "id": "e18c581c-045e-4f56-bdab-fac40bc5522c",
        "name": "crear_cita",
        "credentials": {
          "postgres": {
            "id": "cffLg1U8OTnicsUa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.telefono }}",
          "sessionTTL": 3600,
          "contextWindowLength": 20
        },
        "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
        "typeVersion": 1.5,
        "position": [
          -352,
          96
        ],
        "id": "ec16e222-27bd-4d20-933e-fa5ecb08c680",
        "name": "Redis Chat Memory",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "***REDACTED***",
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {
            "queryReplacement": "***REDACTED***"
          }
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          464,
          112
        ],
        "id": "b1be73b2-dede-4159-8767-fe0ca1de8ab5",
        "name": "consultar_cita",
        "credentials": {
          "postgres": {
            "id": "cffLg1U8OTnicsUa",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "***REDACTED***",
          "operation": "update",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "citas",
            "mode": "list",
            "cachedResultName": "citas"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "estado": "={{'CANCELADA'}}",
              "id": "***REDACTED***",
              "observaciones": "***REDACTED***"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "paciente_id",
                "displayName": "paciente_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "profesional_id",
                "displayName": "profesional_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "sede_id",
                "displayName": "sede_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "servicio_o_motivo",
                "displayName": "servicio_o_motivo",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "fecha_cita",
                "displayName": "fecha_cita",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "hora_inicio",
                "displayName": "hora_inicio",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "time",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "hora_fin",
                "displayName": "hora_fin",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "time",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "estado",
                "displayName": "estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "observaciones",
                "displayName": "observaciones",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "fecha_creacion",
                "displayName": "fecha_creacion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.6,
        "position": [
          624,
          96
        ],
        "id": "317f692a-0b09-4e6c-be63-5d5d298152ad",
        "name": "cancelar_cita",
        "credentials": {
          "postgres": {
            "id": "cffLg1U8OTnicsUa",
            "name": "Postgres account"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "consultar_paciente": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "consultar_disponibilidad": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "consultar_especialidades": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "crear_cita": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Redis Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "consultar_cita": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "cancelar_cita": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Neyla Polo",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-03T19:22:54.666Z",
        "id": 8,
        "workflowId": "4lmOH2EOOrd3Nwno",
        "versionId": "b65d0a39-ce51-4ec3-8127-33db344d78cf",
        "event": "activated",
        "userId": null
      }
    ]
  }
}