workflows/get_paciente_pendiente__OAhFO3OsIEvGPsN2.json
{
  "updatedAt": "2026-03-16T21:29:46.150Z",
  "createdAt": "2026-02-04T20:19:26.832Z",
  "id": "OAhFO3OsIEvGPsN2",
  "name": "get_paciente_pendiente",
  "description": "",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        -256
      ],
      "id": "0d568d36-873a-48f4-9d25-d9c11b751c86",
      "name": "tomar_paciente",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1376,
        -128
      ],
      "id": "450ce673-d1b3-4be9-9c82-a9f2598d6f7d",
      "name": "obtener_paciente_pendiente",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6948bfac-b6a6-4232-a75a-98a78a97746c",
              "leftValue": "***REDACTED***",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1152,
        -128
      ],
      "id": "5017c9b2-ee84-4d7e-b9f0-27da1a0c85f5",
      "name": "***REDACTED***",
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get_paciente_pendiente",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1568,
        -128
      ],
      "id": "b5f868cd-5a6e-48c5-912c-39710ae6cba1",
      "name": "get_paciente_pendiente",
      "webhookId": "435a2fab-0a21-4862-947f-d925a3e7830a",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"existe\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -880,
        -32
      ],
      "id": "45a755c7-a067-488c-8874-0ce7f2b33fa6",
      "name": "paciente_no_encontrado",
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "***REDACTED***",
        "contextWindowLength": 10
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        -432,
        48
      ],
      "id": "f79c7100-900d-401a-ae38-bae97ee7075c",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -608,
        48
      ],
      "id": "13e08130-7ae9-4b69-877b-1b33875f59ae",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "JtHsW2zgXJTWoMao",
          "name": "OpenAi account 4"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/workflow/LTmtmcMGQaHqcOnO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "documento": "={{ $json.documento }}",
            "tipo_documento": "={{ $json.tipo_documento }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "documento",
              "displayName": "documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo_documento",
              "displayName": "tipo_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -272,
        48
      ],
      "id": "181384da-dc54-4887-9f9a-899eb339eb03",
      "name": "citas_zeus",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -528,
        -256
      ],
      "id": "c2decc94-d5ed-4966-aa6b-70eeaf4b8e39",
      "name": "Agente_mensajero",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "***REDACTED***",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "***REDACTED***"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        352,
        -256
      ],
      "id": "b621287d-c779-4291-9aec-f927484655ed",
      "name": "devolviendo",
      "disabled": true
    },
    {
      "parameters": {
        "resume": "webhook",
        "limitWaitTime": true,
        "resumeAmount": 600,
        "resumeUnit": "seconds",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        -256
      ],
      "id": "ca0360c7-9a1c-49af-9575-42a4389b1125",
      "name": "Wait",
      "webhookId": "963fa0c2-74ae-4230-a4e6-865e73d960f8",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        -256
      ],
      "id": "8d4e8a4a-425f-4faa-ade0-757a808317c2",
      "name": "Procesar_Eleccion",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -256
      ],
      "id": "46acd57a-9056-478a-827e-75501d3291eb",
      "name": "respuesta_formateada",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -256
      ],
      "id": "28bf1088-9a47-446f-ae56-7edc1a4cb9b9",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "resume": "webhook",
        "limitWaitTime": true,
        "resumeAmount": 600,
        "resumeUnit": "seconds",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        272
      ],
      "id": "9e56ca7a-8a97-4ba9-bd5a-fce83cdd6a2e",
      "name": "Wait1",
      "webhookId": "963fa0c2-74ae-4230-a4e6-865e73d960f8",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        1328
      ],
      "id": "567a57a9-fda1-454a-9ec8-754c78492d53",
      "name": "Crear llamada en Retell1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DIdSQ2VED0gyDQyv",
          "name": "APIKEYSARAI"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "***REDACTED***",
        "contextWindowLength": 10
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        464,
        1520
      ],
      "id": "2e25b2fd-36cb-46aa-b0ac-e23eafef8253",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        336,
        1552
      ],
      "id": "6db97381-13de-4e0f-9dfa-e4ff51466600",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JtHsW2zgXJTWoMao",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/workflow/LTmtmcMGQaHqcOnO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "documento": "={{ $json.documento }}",
            "tipo_documento": "={{ $json.tipo_documento }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "documento",
              "displayName": "documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tipo_documento",
              "displayName": "tipo_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        576,
        1536
      ],
      "id": "8c29c63f-423e-4e63-92e4-22b7b0f8f66e",
      "name": "citas_zeus1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        384,
        1328
      ],
      "id": "6d02cf5f-73b1-4311-87d3-404c99c3edfb",
      "name": "Agente_mensajero1",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3312,
        1440
      ],
      "id": "4a016452-dfed-4985-8c20-ff109aeb0046",
      "name": "Trigger 8am",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2336,
        976
      ],
      "id": "f426eef0-09ed-44e1-bab9-12e2770c0078",
      "name": "obtener_paciente_pendiente2",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-paciente",
              "leftValue": "***REDACTED***",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2080,
        976
      ],
      "id": "b6320bcc-d2c3-46a9-9a96-67a439203e92",
      "name": "¿Paciente encontrado?"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        1456
      ],
      "id": "c41d0187-9f8e-4e5d-93e5-2d0382cfcfeb",
      "name": "Sin pacientes pendientes"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        -1552,
        976
      ],
      "id": "4cd693f0-1219-47d1-b0de-d3091c2a8ace",
      "name": "Consultar_disponibilidades"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1200,
        976
      ],
      "id": "fc144294-194f-47d9-83a5-87712a6eb53d",
      "name": "Guardar opciones raw",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -832,
        976
      ],
      "id": "09ee150e-e2bb-43f3-bfa9-8fd14551d507",
      "name": "Guardar call_id",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1808,
        960
      ],
      "id": "ffcb056f-9c16-478d-bd76-76a0cb5a1ef8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1296,
        1424
      ],
      "id": "f0f2d930-fd3d-43e7-bdae-43d0c30b6d71",
      "name": "Wait2",
      "webhookId": "3f2927fa-d8d5-4fa1-93d6-41d42dae68d9"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        1600
      ],
      "id": "9cfd36ad-78d2-4202-91a4-9d54579531b8",
      "name": "formatearRespuesta1",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        976
      ],
      "id": "448d64fa-425c-4c2e-9462-34a8f4beb255",
      "name": "formatearRespuesta"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2608,
        976
      ],
      "id": "2c0fcfb4-74b0-43ae-99db-9f3ff5cfa10e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        960
      ],
      "id": "741aa69b-ced4-4fe4-ab28-1de9edf3e4cb",
      "name": "Crear llamada en Retell3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DIdSQ2VED0gyDQyv",
          "name": "APIKEYSARAI"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        976
      ],
      "id": "6ce717dd-7cf0-456f-9aaf-5b6d9136568b",
      "name": "Crear llamada en Retell",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DIdSQ2VED0gyDQyv",
          "name": "APIKEYSARAI"
        }
      }
    }
  ],
  "connections": {
    "tomar_paciente": {
      "main": [
        [
          {
            "node": "Agente_mensajero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener_paciente_pendiente": {
      "main": [
        [
          {
            "node": "***REDACTED***",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paciente encontrado con contactado en NO?": {
      "main": [
        [
          {
            "node": "tomar_paciente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "paciente_no_encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_paciente_pendiente": {
      "main": [
        [
          {
            "node": "obtener_paciente_pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agente_mensajero",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_mensajero",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "citas_zeus": {
      "ai_tool": [
        [
          {
            "node": "Agente_mensajero",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente_mensajero": {
      "main": [
        [
          {
            "node": "respuesta_formateada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "devolviendo": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Procesar_Eleccion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "respuesta_formateada": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "devolviendo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "paciente_no_encontrado": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        []
      ]
    },
    "Crear llamada en Retell1": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente_mensajero1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente_mensajero1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "citas_zeus1": {
      "ai_tool": [
        [
          {
            "node": "Agente_mensajero1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente_mensajero1": {
      "main": [
        [
          {
            "node": "Crear llamada en Retell1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger 8am": {
      "main": [
        []
      ]
    },
    "obtener_paciente_pendiente2": {
      "main": [
        [
          {
            "node": "¿Paciente encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Paciente encontrado?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin pacientes pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar_disponibilidades": {
      "main": [
        [
          {
            "node": "formatearRespuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar opciones raw": {
      "main": [
        [
          {
            "node": "Crear llamada en Retell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Consultar_disponibilidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar call_id": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatearRespuesta1": {
      "main": [
        []
      ]
    },
    "formatearRespuesta": {
      "main": [
        [
          {
            "node": "Guardar opciones raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "obtener_paciente_pendiente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear llamada en Retell3": {
      "main": [
        []
      ]
    },
    "Crear llamada en Retell": {
      "main": [
        [
          {
            "node": "Guardar call_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Trigger 8am": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "2f9f59ec-3c21-4bcc-992b-24c181dba0c3",
  "activeVersionId": "dab715ca-4ea3-4a08-bbb2-d29d8e66d59d",
  "versionCounter": 764,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-04T20:19:26.832Z",
      "createdAt": "2026-02-04T20:19:26.832Z",
      "role": "workflow:owner",
      "workflowId": "OAhFO3OsIEvGPsN2",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-03-18T12:43:19.027Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-02-04T20:18:39.085Z",
      "createdAt": "2026-02-04T20:18:39.085Z",
      "id": "2EO9Ro2seknMiiVu",
      "name": "DEL ADMIN ☺️"
    },
    {
      "updatedAt": "2026-02-04T21:56:48.941Z",
      "createdAt": "2026-02-04T21:56:48.941Z",
      "id": "S7UevxOArIeglzP8",
      "name": "🟢"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-05T21:58:05.156Z",
    "createdAt": "2026-03-05T21:58:03.904Z",
    "versionId": "dab715ca-4ea3-4a08-bbb2-d29d8e66d59d",
    "workflowId": "OAhFO3OsIEvGPsN2",
    "nodes": [
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -880,
          -256
        ],
        "id": "0d568d36-873a-48f4-9d25-d9c11b751c86",
        "name": "tomar_paciente",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1376,
          -128
        ],
        "id": "450ce673-d1b3-4be9-9c82-a9f2598d6f7d",
        "name": "obtener_paciente_pendiente",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "Postgres account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "6948bfac-b6a6-4232-a75a-98a78a97746c",
                "leftValue": "***REDACTED***",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1152,
          -128
        ],
        "id": "5017c9b2-ee84-4d7e-b9f0-27da1a0c85f5",
        "name": "***REDACTED***",
        "disabled": true
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "get_paciente_pendiente",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1568,
          -128
        ],
        "id": "b5f868cd-5a6e-48c5-912c-39710ae6cba1",
        "name": "get_paciente_pendiente",
        "webhookId": "435a2fab-0a21-4862-947f-d925a3e7830a",
        "disabled": true
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\n  \"existe\": false\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -880,
          -32
        ],
        "id": "45a755c7-a067-488c-8874-0ce7f2b33fa6",
        "name": "paciente_no_encontrado",
        "disabled": true
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "***REDACTED***",
          "contextWindowLength": 10
        },
        "type": "***REDACTED***",
        "typeVersion": 1.3,
        "position": [
          -432,
          48
        ],
        "id": "f79c7100-900d-401a-ae38-bae97ee7075c",
        "name": "Postgres Chat Memory1",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "Postgres account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "***REDACTED***"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -608,
          48
        ],
        "id": "13e08130-7ae9-4b69-877b-1b33875f59ae",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "JtHsW2zgXJTWoMao",
            "name": "OpenAi account 4"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "id",
            "cachedResultUrl": "/workflow/LTmtmcMGQaHqcOnO"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "documento": "={{ $json.documento }}",
              "tipo_documento": "={{ $json.tipo_documento }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "documento",
                "displayName": "documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "tipo_documento",
                "displayName": "tipo_documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          -272,
          48
        ],
        "id": "181384da-dc54-4887-9f9a-899eb339eb03",
        "name": "citas_zeus",
        "disabled": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "***REDACTED***",
          "options": {
            "systemMessage": "***REDACTED***"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -528,
          -256
        ],
        "id": "c2decc94-d5ed-4966-aa6b-70eeaf4b8e39",
        "name": "Agente_mensajero",
        "disabled": true
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "***REDACTED***",
          "options": {
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "***REDACTED***"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          352,
          -256
        ],
        "id": "b621287d-c779-4291-9aec-f927484655ed",
        "name": "devolviendo",
        "disabled": true
      },
      {
        "parameters": {
          "resume": "webhook",
          "limitWaitTime": true,
          "resumeAmount": 600,
          "resumeUnit": "seconds",
          "options": {}
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          560,
          -256
        ],
        "id": "ca0360c7-9a1c-49af-9575-42a4389b1125",
        "name": "Wait",
        "webhookId": "963fa0c2-74ae-4230-a4e6-865e73d960f8",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          -256
        ],
        "id": "8d4e8a4a-425f-4faa-ade0-757a808317c2",
        "name": "Procesar_Eleccion",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -128,
          -256
        ],
        "id": "46acd57a-9056-478a-827e-75501d3291eb",
        "name": "respuesta_formateada",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          -256
        ],
        "id": "28bf1088-9a47-446f-ae56-7edc1a4cb9b9",
        "name": "Code in JavaScript",
        "disabled": true
      },
      {
        "parameters": {
          "resume": "webhook",
          "limitWaitTime": true,
          "resumeAmount": 600,
          "resumeUnit": "seconds",
          "options": {}
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          496,
          272
        ],
        "id": "9e56ca7a-8a97-4ba9-bd5a-fce83cdd6a2e",
        "name": "Wait1",
        "webhookId": "963fa0c2-74ae-4230-a4e6-865e73d960f8",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          784,
          1328
        ],
        "id": "567a57a9-fda1-454a-9ec8-754c78492d53",
        "name": "Crear llamada en Retell1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "DIdSQ2VED0gyDQyv",
            "name": "APIKEYSARAI"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "***REDACTED***",
          "contextWindowLength": 10
        },
        "type": "***REDACTED***",
        "typeVersion": 1.3,
        "position": [
          464,
          1520
        ],
        "id": "2e25b2fd-36cb-46aa-b0ac-e23eafef8253",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "Postgres account 2"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "***REDACTED***"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          336,
          1552
        ],
        "id": "6db97381-13de-4e0f-9dfa-e4ff51466600",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "JtHsW2zgXJTWoMao",
            "name": "OpenAi account 4"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "id",
            "cachedResultUrl": "/workflow/LTmtmcMGQaHqcOnO"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "documento": "={{ $json.documento }}",
              "tipo_documento": "={{ $json.tipo_documento }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "documento",
                "displayName": "documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "tipo_documento",
                "displayName": "tipo_documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        },
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          576,
          1536
        ],
        "id": "8c29c63f-423e-4e63-92e4-22b7b0f8f66e",
        "name": "citas_zeus1",
        "disabled": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "***REDACTED***",
          "options": {
            "systemMessage": "***REDACTED***"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          384,
          1328
        ],
        "id": "6d02cf5f-73b1-4311-87d3-404c99c3edfb",
        "name": "Agente_mensajero1",
        "disabled": true
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 16,
                "triggerAtMinute": 20
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -2608,
          1136
        ],
        "id": "4a016452-dfed-4985-8c20-ff109aeb0046",
        "name": "Trigger 8am"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -2304,
          1152
        ],
        "id": "f426eef0-09ed-44e1-bab9-12e2770c0078",
        "name": "obtener_paciente_pendiente2",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "check-paciente",
                "leftValue": "***REDACTED***",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2080,
          976
        ],
        "id": "b6320bcc-d2c3-46a9-9a96-67a439203e92",
        "name": "¿Paciente encontrado?"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2080,
          1456
        ],
        "id": "c41d0187-9f8e-4e5d-93e5-2d0382cfcfeb",
        "name": "Sin pacientes pendientes"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "id"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.1,
        "position": [
          -1552,
          976
        ],
        "id": "4cd693f0-1219-47d1-b0de-d3091c2a8ace",
        "name": "Consultar_disponibilidades"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -1200,
          976
        ],
        "id": "fc144294-194f-47d9-83a5-87712a6eb53d",
        "name": "Guardar opciones raw",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -832,
          976
        ],
        "id": "09ee150e-e2bb-43f3-bfa9-8fd14551d507",
        "name": "Guardar call_id",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1808,
          960
        ],
        "id": "ffcb056f-9c16-478d-bd76-76a0cb5a1ef8",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1296,
          1424
        ],
        "id": "f0f2d930-fd3d-43e7-bdae-43d0c30b6d71",
        "name": "Wait2",
        "webhookId": "3f2927fa-d8d5-4fa1-93d6-41d42dae68d9"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          64,
          1600
        ],
        "id": "9cfd36ad-78d2-4202-91a4-9d54579531b8",
        "name": "formatearRespuesta1",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1360,
          976
        ],
        "id": "448d64fa-425c-4c2e-9462-34a8f4beb255",
        "name": "formatearRespuesta"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -2608,
          944
        ],
        "id": "2c0fcfb4-74b0-43ae-99db-9f3ff5cfa10e",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -608,
          960
        ],
        "id": "741aa69b-ced4-4fe4-ab28-1de9edf3e4cb",
        "name": "Crear llamada en Retell3",
        "credentials": {
          "httpHeaderAuth": {
            "id": "DIdSQ2VED0gyDQyv",
            "name": "APIKEYSARAI"
          }
        },
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1008,
          976
        ],
        "id": "6ce717dd-7cf0-456f-9aaf-5b6d9136568b",
        "name": "Crear llamada en Retell",
        "credentials": {
          "httpHeaderAuth": {
            "id": "DIdSQ2VED0gyDQyv",
            "name": "APIKEYSARAI"
          }
        }
      }
    ],
    "connections": {
      "tomar_paciente": {
        "main": [
          [
            {
              "node": "Agente_mensajero",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "obtener_paciente_pendiente": {
        "main": [
          [
            {
              "node": "***REDACTED***",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "paciente encontrado con contactado en NO?": {
        "main": [
          [
            {
              "node": "tomar_paciente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "paciente_no_encontrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "get_paciente_pendiente": {
        "main": [
          [
            {
              "node": "obtener_paciente_pendiente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory1": {
        "ai_memory": [
          [
            {
              "node": "Agente_mensajero",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Agente_mensajero",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "citas_zeus": {
        "ai_tool": [
          [
            {
              "node": "Agente_mensajero",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Agente_mensajero": {
        "main": [
          [
            {
              "node": "respuesta_formateada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "devolviendo": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Procesar_Eleccion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "respuesta_formateada": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "devolviendo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "paciente_no_encontrado": {
        "main": [
          []
        ]
      },
      "Wait1": {
        "main": [
          []
        ]
      },
      "Crear llamada en Retell1": {
        "main": [
          []
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "Agente_mensajero1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Agente_mensajero1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "citas_zeus1": {
        "ai_tool": [
          [
            {
              "node": "Agente_mensajero1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Agente_mensajero1": {
        "main": [
          [
            {
              "node": "Crear llamada en Retell1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger 8am": {
        "main": [
          [
            {
              "node": "obtener_paciente_pendiente2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "obtener_paciente_pendiente2": {
        "main": [
          [
            {
              "node": "¿Paciente encontrado?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Paciente encontrado?": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sin pacientes pendientes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar_disponibilidades": {
        "main": [
          [
            {
              "node": "formatearRespuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar opciones raw": {
        "main": [
          [
            {
              "node": "Crear llamada en Retell",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Consultar_disponibilidades",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar call_id": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formatearRespuesta1": {
        "main": [
          []
        ]
      },
      "formatearRespuesta": {
        "main": [
          [
            {
              "node": "Guardar opciones raw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          []
        ]
      },
      "Crear llamada en Retell3": {
        "main": [
          []
        ]
      },
      "Crear llamada en Retell": {
        "main": [
          [
            {
              "node": "Guardar call_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version dab715ca",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-05T21:58:05.153Z",
        "id": 172,
        "workflowId": "OAhFO3OsIEvGPsN2",
        "versionId": "dab715ca-4ea3-4a08-bbb2-d29d8e66d59d",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}