workflows/INFORMACIÓN_SEDES__NDgPUqxm4BJZJ6LfOj19K.json
{
  "updatedAt": "2026-03-03T19:38:10.279Z",
  "createdAt": "2026-03-03T19:38:00.158Z",
  "id": "NDgPUqxm4BJZJ6LfOj19K",
  "name": "INFORMACIÓN SEDES",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensaje"
            },
            {
              "name": "telefono"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        -128
      ],
      "id": "5af1ec6f-a9bd-4e73-a42d-fbf3bc396249",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16,
        -128
      ],
      "id": "042b23e0-1266-495c-96ca-0d909e76b593",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -272,
        112
      ],
      "id": "2ca876e3-4059-4c04-85b3-588d8613efff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "***REDACTED***",
        "documentId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "SEDES SERSOCIAL",
          "cachedResultUrl": "***REDACTED***"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja1",
          "cachedResultUrl": "***REDACTED***"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        128,
        96
      ],
      "id": "9d680cb1-6b79-47e7-82c1-bc2e501ece1e",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aDaUg0dQ2hQRfilV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        304,
        112
      ],
      "id": "f45d8f8f-213a-45a7-b045-dfd80b5122d9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$json.telefono}}",
        "sessionTTL": 3600,
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -80,
        112
      ],
      "id": "c8b55407-72c6-41f5-91ab-13b2145f8b44",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c6af292e-2fcd-4db0-9be4-893a78c27da5",
  "activeVersionId": "c6af292e-2fcd-4db0-9be4-893a78c27da5",
  "versionCounter": 11,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-03T19:38:00.158Z",
      "createdAt": "2026-03-03T19:38:00.158Z",
      "role": "workflow:owner",
      "workflowId": "NDgPUqxm4BJZJ6LfOj19K",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-03-18T12:43:19.027Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-18",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-03T19:34:15.068Z",
      "createdAt": "2026-03-03T19:34:15.068Z",
      "id": "M63Xu3JDOVoP0xRM",
      "name": "flujo whatsapp"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-03T20:27:42.217Z",
    "createdAt": "2026-03-03T19:38:00.158Z",
    "versionId": "c6af292e-2fcd-4db0-9be4-893a78c27da5",
    "workflowId": "NDgPUqxm4BJZJ6LfOj19K",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "mensaje"
              },
              {
                "name": "telefono"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -368,
          -128
        ],
        "id": "5af1ec6f-a9bd-4e73-a42d-fbf3bc396249",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.mensaje }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "***REDACTED***"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -16,
          -128
        ],
        "id": "042b23e0-1266-495c-96ca-0d909e76b593",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "***REDACTED***"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -272,
          112
        ],
        "id": "2ca876e3-4059-4c04-85b3-588d8613efff",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "dNAey8tcxmUMRffx",
            "name": "OpenAi account 2"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "***REDACTED***",
          "documentId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "SEDES SERSOCIAL",
            "cachedResultUrl": "***REDACTED***"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja1",
            "cachedResultUrl": "***REDACTED***"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTool",
        "typeVersion": 4.7,
        "position": [
          128,
          96
        ],
        "id": "9d680cb1-6b79-47e7-82c1-bc2e501ece1e",
        "name": "Get row(s) in sheet in Google Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "aDaUg0dQ2hQRfilV",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "***REDACTED***"
        },
        "type": "***REDACTED***",
        "typeVersion": 1.3,
        "position": [
          304,
          112
        ],
        "id": "f45d8f8f-213a-45a7-b045-dfd80b5122d9",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{$json.telefono}}",
          "sessionTTL": 3600,
          "contextWindowLength": 15
        },
        "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
        "typeVersion": 1.5,
        "position": [
          -80,
          112
        ],
        "id": "c8b55407-72c6-41f5-91ab-13b2145f8b44",
        "name": "Redis Chat Memory",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet in Google Sheets": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Agent",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Redis Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version c6af292e",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-03T20:27:42.213Z",
        "id": 140,
        "workflowId": "NDgPUqxm4BJZJ6LfOj19K",
        "versionId": "c6af292e-2fcd-4db0-9be4-893a78c27da5",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}