workflows/My_workflow_10__vgrt8ndnieyx63QLNTqAC.json
{
  "updatedAt": "2026-03-16T16:32:19.727Z",
  "createdAt": "2026-03-16T15:48:42.831Z",
  "id": "vgrt8ndnieyx63QLNTqAC",
  "name": "My workflow 10",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "***REDACTED***"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -992,
        112
      ],
      "id": "ce57df2d-9706-4265-abcf-a6e374d4fdb5",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -752,
        112
      ],
      "id": "0611f271-65b1-4900-8ed2-f98035e21f10",
      "name": "Redis GET mutual_token",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        112
      ],
      "id": "7f10deb2-bf49-447f-8330-6c6a72d7aca5",
      "name": "Code: evaluar token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-token-valido",
              "leftValue": "={{ $json.tokenValido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        112
      ],
      "id": "df922a06-b2c2-4234-b8c8-d616a1c4c8f5",
      "name": "IF: ¿token válido?"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -64
      ],
      "id": "50ddb019-76c4-4305-aa75-d411abba6098",
      "name": "Code: token existente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            },
            {
              "name": "client_id",
              "value": "***REDACTED***"
            },
            {
              "name": "username",
              "value": "***REDACTED***"
            },
            {
              "name": "password",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -32,
        288
      ],
      "id": "e87961ae-676b-4970-af32-4c59a1b98c53",
      "name": "HTTP: Login Mutual",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3100
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        192,
        224
      ],
      "id": "fb5246d9-0567-4159-bc5a-1d630fbd28e3",
      "name": "Redis SET mutual_token",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        288
      ],
      "id": "9e11f08f-438c-4ba3-934d-1cac82ca8619",
      "name": "Code: nuevo token"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        112
      ],
      "id": "86e64960-b6f9-4f16-8f1b-9cca3f2427c5",
      "name": "Merge token"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "***REDACTED***"
            },
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            },
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        112
      ],
      "id": "1375db49-0876-48ee-9f0c-686d7f703e67",
      "name": "Validar derechos de usuario",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        112
      ],
      "id": "654d221e-ed01-49a5-866a-4b1d96cbd863",
      "name": "Limpiar datos Mutual"
    },
    {
      "parameters": {
        "errorMessage": "***REDACTED***"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1136,
        352
      ],
      "id": "26bfdad1-6afa-49bf-accd-b4be65c2c57c",
      "name": "Error validar derechos de usuario"
    },
    {
      "parameters": {
        "errorMessage": "Error al hacer login en Mutual"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        208,
        448
      ],
      "id": "18493c7b-cc44-42a6-9b76-1b17e3d040b8",
      "name": "Error login Mutual"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Redis GET mutual_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis GET mutual_token": {
      "main": [
        [
          {
            "node": "Code: evaluar token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: evaluar token": {
      "main": [
        [
          {
            "node": "IF: ¿token válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿token válido?": {
      "main": [
        [
          {
            "node": "Code: token existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Login Mutual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: token existente": {
      "main": [
        [
          {
            "node": "Merge token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Login Mutual": {
      "main": [
        [
          {
            "node": "Redis SET mutual_token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error login Mutual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis SET mutual_token": {
      "main": [
        [
          {
            "node": "Code: nuevo token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: nuevo token": {
      "main": [
        [
          {
            "node": "Merge token",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge token": {
      "main": [
        [
          {
            "node": "Validar derechos de usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar derechos de usuario": {
      "main": [
        [
          {
            "node": "Limpiar datos Mutual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error validar derechos de usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ffd87b1c-1cad-4452-8c73-05fa71f59609",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-16T15:48:42.831Z",
      "createdAt": "2026-03-16T15:48:42.831Z",
      "role": "workflow:owner",
      "workflowId": "vgrt8ndnieyx63QLNTqAC",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-04-01T11:49:08.193Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}