workflows/OBTENER_TOKEN_ZEUS__8QAWBLL5xzNT3DoYH-AW6.json
{
  "updatedAt": "2026-03-16T18:11:53.835Z",
  "createdAt": "2026-03-02T18:19:48.549Z",
  "id": "8QAWBLL5xzNT3DoYH-AW6",
  "name": "OBTENER TOKEN ZEUS",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        -128
      ],
      "id": "5903b052-672e-4aa1-ae40-ac389fae1321",
      "name": "VERIFICAR TOKEN ZEUS"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "310c7d09-4c9d-426f-830b-5c6525211358",
              "leftValue": "={{ $json.tokenValido}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -96,
        -128
      ],
      "id": "dce711f9-ff4d-4e01-be18-05deed924b90",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        320
      ],
      "id": "cd905aa9-1cc2-4595-82cb-3d90f282d09f",
      "name": "Guardar token ZEUS",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -320,
        208
      ],
      "id": "55f8155f-dafb-4c03-aaf9-644e7a3d1b33",
      "name": "Login para obtener token Zeus",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        -128
      ],
      "id": "832d0127-cd0d-47f2-82b1-7b0bf25badc0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d24da8b-b85b-4d56-844f-92b645421203",
              "name": "token",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -144
      ],
      "id": "4bfa4c18-599c-41d1-8a35-273f40f3a494",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5e686b8-8476-470d-8529-06e500b7956f",
              "name": "token",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        192
      ],
      "id": "3b5b07b9-f81a-46cb-9253-004daee0dd23",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        512,
        32
      ],
      "id": "94f291d4-faca-459b-bb0c-621d8f1360e4",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "token_zeus",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -496,
        -128
      ],
      "id": "03190218-3621-48cf-a579-14b36059da5c",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "token_zeus",
        "value": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -112,
        192
      ],
      "id": "68fa733e-b65c-45e2-b3c2-d2214d2be18c",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        192
      ],
      "id": "b0c1f6a8-6cf7-42c4-871b-23474990ee1a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "errorMessage": "Error al hacer login en Zeus"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -208,
        432
      ],
      "id": "9cef0e1a-a859-43c3-b109-d53c0a8af2bc",
      "name": "Stop and Error"
    }
  ],
  "connections": {
    "VERIFICAR TOKEN ZEUS": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Login para obtener token Zeus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login para obtener token Zeus": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar token ZEUS": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "VERIFICAR TOKEN ZEUS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "3Vu-CTnntajBc_pVDnku_"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "15a03ec5-c2ce-400d-9131-182b4376685e",
  "activeVersionId": "15a03ec5-c2ce-400d-9131-182b4376685e",
  "versionCounter": 171,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T18:19:48.549Z",
      "createdAt": "2026-03-02T18:19:48.549Z",
      "role": "workflow:owner",
      "workflowId": "8QAWBLL5xzNT3DoYH-AW6",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-04-03T12:14:01.168Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-16T18:12:15.294Z",
    "createdAt": "2026-03-16T18:11:40.013Z",
    "versionId": "15a03ec5-c2ce-400d-9131-182b4376685e",
    "workflowId": "8QAWBLL5xzNT3DoYH-AW6",
    "nodes": [
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -304,
          -128
        ],
        "id": "5903b052-672e-4aa1-ae40-ac389fae1321",
        "name": "VERIFICAR TOKEN ZEUS"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "310c7d09-4c9d-426f-830b-5c6525211358",
                "leftValue": "={{ $json.tokenValido}}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -96,
          -128
        ],
        "id": "dce711f9-ff4d-4e01-be18-05deed924b90",
        "name": "If5"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -752,
          320
        ],
        "id": "cd905aa9-1cc2-4595-82cb-3d90f282d09f",
        "name": "Guardar token ZEUS",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -320,
          208
        ],
        "id": "55f8155f-dafb-4c03-aaf9-644e7a3d1b33",
        "name": "Login para obtener token Zeus",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -688,
          -128
        ],
        "id": "832d0127-cd0d-47f2-82b1-7b0bf25badc0",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1d24da8b-b85b-4d56-844f-92b645421203",
                "name": "token",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          304,
          -144
        ],
        "id": "4bfa4c18-599c-41d1-8a35-273f40f3a494",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d5e686b8-8476-470d-8529-06e500b7956f",
                "name": "token",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          352,
          192
        ],
        "id": "3b5b07b9-f81a-46cb-9253-004daee0dd23",
        "name": "Edit Fields1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          512,
          32
        ],
        "id": "94f291d4-faca-459b-bb0c-621d8f1360e4",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "value",
          "key": "token_zeus",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -496,
          -128
        ],
        "id": "03190218-3621-48cf-a579-14b36059da5c",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "token_zeus",
          "value": "***REDACTED***"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -112,
          192
        ],
        "id": "68fa733e-b65c-45e2-b3c2-d2214d2be18c",
        "name": "Redis1",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          112,
          192
        ],
        "id": "b0c1f6a8-6cf7-42c4-871b-23474990ee1a",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "errorMessage": "Error al hacer login en Zeus"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -208,
          432
        ],
        "id": "9cef0e1a-a859-43c3-b109-d53c0a8af2bc",
        "name": "Stop and Error"
      }
    ],
    "connections": {
      "VERIFICAR TOKEN ZEUS": {
        "main": [
          [
            {
              "node": "If5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If5": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Login para obtener token Zeus",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Login para obtener token Zeus": {
        "main": [
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar token ZEUS": {
        "main": [
          []
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "VERIFICAR TOKEN ZEUS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version 15a03ec5",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-16T18:12:15.292Z",
        "id": 250,
        "workflowId": "8QAWBLL5xzNT3DoYH-AW6",
        "versionId": "15a03ec5-c2ce-400d-9131-182b4376685e",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}