workflows/PREDIAGNOSTICA_CANCER_PROSTATA__7bw4Kpkca6usGm2A3DMDw.json
{
  "updatedAt": "2026-04-13T15:00:09.428Z",
  "createdAt": "2026-04-13T14:40:29.194Z",
  "id": "7bw4Kpkca6usGm2A3DMDw",
  "name": "PREDIAGNOSTICA_CANCER_PROSTATA",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "raw",
        "filters": {},
        "options": {}
      },
      "id": "ddc85f3d-7fcf-4695-803b-88b6e207ced4",
      "name": "Outlook - Recibir Correo",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -3408,
        288
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.subject }}",
              "rightValue": "COHORTE | PREDIAGNOSTICA_CANCER_PROSTATA",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "id": "84c8745c-44ed-4581-9eba-5fee58ba87aa"
            },
            {
              "id": "014a4ce1-02cc-4059-b344-baa30bfac097",
              "leftValue": "={{ $json.isDraft.toString() }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a5131053-ecfa-45ce-a446-0355654f7d47",
      "name": "Verificar Asunto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3136,
        288
      ]
    },
    {
      "parameters": {},
      "id": "bc81a545-982f-4d8b-be9a-0df049fc2ea7",
      "name": "Ignorar Correo",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -2848,
        544
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "***REDACTED***"
      },
      "id": "b05c6cd5-12bc-4211-9ac4-4851ccac0d06",
      "name": "Procesar Adjuntos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tieneValidos }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "3e36f576-4dbf-403a-8510-fed5b5c10b80"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2579fc28-4009-49a2-b89a-62ab0bc12761",
      "name": "¿Tiene Válidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1344,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "a077fd76-a7fa-40f2-a691-26c5aaf41001",
      "name": "Preparar Registros PG",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        176
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "validXlsx",
        "options": {}
      },
      "id": "b6e61eaa-d2bb-44e1-970b-edb6adde1bf9",
      "name": "Subir Excel OneDrive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        0
      ],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "0351f55b-f804-48d9-a915-843983455901",
      "name": "Preparar PDFs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -256
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "ebc7e414-a4af-4a8f-b795-b31be04f1594",
      "name": "Generar Excel Válidos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        96
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_de_reporte",
              "displayName": "fecha_de_reporte",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nit_de_la_ips",
              "displayName": "nit_de_la_ips",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "codigo_de_habilitacion",
              "displayName": "codigo_de_habilitacion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tipo_de_documento",
              "displayName": "tipo_de_documento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "numero_de_documento",
              "displayName": "numero_de_documento",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "primer_nombre",
              "displayName": "primer_nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segundo_nombre",
              "displayName": "segundo_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "primer_apellido",
              "displayName": "primer_apellido",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "segundo_apellido",
              "displayName": "segundo_apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "direccion_de_residencia",
              "displayName": "direccion_de_residencia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono_celular_1",
              "displayName": "telefono_celular_1",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono_celular_2",
              "displayName": "telefono_celular_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "escolaridad",
              "displayName": "escolaridad",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ocupacion",
              "displayName": "ocupacion",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clasificacion_de_caso",
              "displayName": "clasificacion_de_caso",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cie10_principal",
              "displayName": "cie10_principal",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_de_diagnostico",
              "displayName": "fecha_de_diagnostico",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cie10_relacionado",
              "displayName": "cie10_relacionado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_ingreso_al_programa",
              "displayName": "fecha_ingreso_al_programa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "clasificacion_clinica",
              "displayName": "clasificacion_clinica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "riesgo_patologico",
              "displayName": "riesgo_patologico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "remitido_a",
              "displayName": "remitido_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_1_psiquiatria",
              "displayName": "atencion_1_psiquiatria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_2_psiquiatria",
              "displayName": "atencion_2_psiquiatria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_3_psiquiatria",
              "displayName": "atencion_3_psiquiatria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_4_psiquiatria",
              "displayName": "atencion_4_psiquiatria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_5_psiquiatria",
              "displayName": "atencion_5_psiquiatria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_6_psiquiatria",
              "displayName": "atencion_6_psiquiatria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_7_psiquiatria",
              "displayName": "atencion_7_psiquiatria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_8_psiquiatria",
              "displayName": "atencion_8_psiquiatria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs_psiquiatria",
              "displayName": "obs_psiquiatria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_1_psiq_infantil",
              "displayName": "atencion_1_psiq_infantil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_2_psiq_infantil",
              "displayName": "atencion_2_psiq_infantil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_3_psiq_infantil",
              "displayName": "atencion_3_psiq_infantil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_4_psiq_infantil",
              "displayName": "atencion_4_psiq_infantil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_5_psiq_infantil",
              "displayName": "atencion_5_psiq_infantil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_6_psiq_infantil",
              "displayName": "atencion_6_psiq_infantil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs_psiq_infantil",
              "displayName": "obs_psiq_infantil",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_1_trabajo_social",
              "displayName": "atencion_1_trabajo_social",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_2_trabajo_social",
              "displayName": "atencion_2_trabajo_social",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_3_trabajo_social",
              "displayName": "atencion_3_trabajo_social",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_4_trabajo_social",
              "displayName": "atencion_4_trabajo_social",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_5_trabajo_social",
              "displayName": "atencion_5_trabajo_social",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs_trabajo_social",
              "displayName": "obs_trabajo_social",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_1_med_experto",
              "displayName": "atencion_1_med_experto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_2_med_experto",
              "displayName": "atencion_2_med_experto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_3_med_experto",
              "displayName": "atencion_3_med_experto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_4_med_experto",
              "displayName": "atencion_4_med_experto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_5_med_experto",
              "displayName": "atencion_5_med_experto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs_med_experto",
              "displayName": "obs_med_experto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_1_terap_ocupacional",
              "displayName": "atencion_1_terap_ocupacional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_2_terap_ocupacional",
              "displayName": "atencion_2_terap_ocupacional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_3_terap_ocupacional",
              "displayName": "atencion_3_terap_ocupacional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs_terap_ocupacional",
              "displayName": "obs_terap_ocupacional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_1_neuropsicologia",
              "displayName": "atencion_1_neuropsicologia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_2_neuropsicologia",
              "displayName": "atencion_2_neuropsicologia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_3_neuropsicologia",
              "displayName": "atencion_3_neuropsicologia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs_neuropsicologia",
              "displayName": "obs_neuropsicologia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_1_visita_domiciliaria",
              "displayName": "atencion_1_visita_domiciliaria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "atencion_2_visita_domiciliaria",
              "displayName": "atencion_2_visita_domiciliaria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs_visita_domiciliaria",
              "displayName": "obs_visita_domiciliaria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_unidad_de_analisis_integral",
              "displayName": "fecha_unidad_de_analisis_integral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "obs_unidad_de_analisis",
              "displayName": "obs_unidad_de_analisis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "correo_remitente",
              "displayName": "correo_remitente",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_cargue",
              "displayName": "fecha_cargue",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "archivo_origen",
              "displayName": "archivo_origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "archivo_validado",
              "displayName": "archivo_validado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fila_origen",
              "displayName": "fila_origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": false
        }
      },
      "id": "3bf11d6d-5f35-49d5-9fc0-60e09f652780",
      "name": "Insertar PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -256,
        176
      ],
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2848,
        320
      ],
      "id": "efdeb25e-bae8-4d34-bac1-fa6eda3dfd4e",
      "name": "HTTP Request remitente",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2848,
        160
      ],
      "id": "5fd55569-523e-427d-9e66-50140efee147",
      "name": "HTTP Request adjunto",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "8683cb94-7aea-4353-8559-35572501dcc5",
      "name": "Validar Token y Estructura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        320
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        -256
      ],
      "id": "0b50a145-492a-4d2f-9c36-3133923ec298",
      "name": "HTTP Request Subir PDFs",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "TuAoJsXaUmvhXNhz",
          "name": "Microsoft Outlook account"
        },
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "isRead",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2848,
        16
      ],
      "id": "fde2026a-e1e1-411a-90af-5dde5281f341",
      "name": "Marcar como Leído",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "b71d3535-ebda-47e1-9fb0-89d431c22210",
      "name": "Validar Registros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1520,
        304
      ],
      "id": "7c7bb148-f1b2-41e2-827d-ee85468282f3",
      "name": "Creacion_excel_errores"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        656
      ],
      "id": "e8d24f0b-a4f5-44b2-8a1b-d13cbe82da16",
      "name": "Log - Sin Excel",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        464
      ],
      "id": "9e0984c8-02b8-4740-9683-694d2c84b495",
      "name": "Log - Formato Incorrecto",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        288
      ],
      "id": "57e4109d-f860-4b89-8690-ceed28d3444b",
      "name": "htmlContent"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        288
      ],
      "id": "842937be-2904-4c4f-b625-39faddfde22a",
      "name": "Log - Inválidos",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        288
      ],
      "id": "5937ff50-31a7-42db-b086-f56601c37a81",
      "name": "RESUMEN_CON_ERRORES",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        288
      ],
      "id": "2b8575e0-9fcf-4a10-b1a1-9eaae81700f3",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        0
      ],
      "id": "3496b92d-d276-46af-a429-1483bfbdc3a8",
      "name": "Log - Cargue Exitoso",
      "credentials": {
        "postgres": {
          "id": "pxYcXS4TtrueoWal",
          "name": "Cohortes - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1760,
        480
      ],
      "id": "a470707b-9c66-41ae-8fde-fc18c710e0e9",
      "name": "HTTP Request — Descargar XLSX",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        },
        "microsoftOutlookOAuth2Api": {
          "id": "TuAoJsXaUmvhXNhz",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOneDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1360,
        480
      ],
      "id": "a64fd4ce-c84a-45ee-a9a8-3a8290f60af1",
      "name": "HTTP Request — Descargar PDF",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "6kKCKl73UBzntENo",
          "name": "Microsoft Drive account"
        },
        "microsoftOutlookOAuth2Api": {
          "id": "TuAoJsXaUmvhXNhz",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        464
      ],
      "id": "e84d78af-346d-40a6-9bf6-0121e9d0875e",
      "name": "body_formato_errado"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "xlsxBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1552,
        480
      ],
      "id": "1353f755-0940-4086-840c-be87191942d3",
      "name": "Base64 — XLSX"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "destinationKey": "pdfBase64",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1168,
        480
      ],
      "id": "7774b8a5-1dba-4266-beb8-8754db91f6f0",
      "name": "Base64 — PDF"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        656
      ],
      "id": "87d042fe-903d-4232-90b3-a3562e711bbd",
      "name": "body_sin_excel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        656
      ],
      "id": "7c5ade6e-a683-48aa-9594-8f976e43ff91",
      "name": "Rechazo - Sin Excel",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.xlsxKey }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "59aa5725-e090-4644-88c0-e2e42455eb2c"
            },
            {
              "id": "ab24695f-e912-4859-b1f4-03ced1e74a90",
              "leftValue": "={{ $json.tokenValido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b476253-5bc6-4c4d-ab40-32b3a2dcf875",
      "name": "ARCHIVO_VALIDO",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2208,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "d1fd2218-d822-4eaf-b6ed-8945621e2980",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9497bd1f-78ed-4a06-93a7-67c3bd94bb84",
      "name": "¿Archivo excel?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -960,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOutlookOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -480,
        464
      ],
      "id": "951e39d4-60b4-4a50-8960-37a19cd20457",
      "name": "Notificacion_formato_errado",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "czvuJ0pPWCOnCKA4",
          "name": "Microsoft Outlook account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            },
            {
              "name": "client_id",
              "value": "***REDACTED***"
            },
            {
              "name": "username",
              "value": "***REDACTED***"
            },
            {
              "name": "password",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2000,
        224
      ],
      "id": "9142b9fd-8ef4-4d2c-9420-50f4c094bae8",
      "name": "Obtener Token Zeus"
    }
  ],
  "connections": {
    "Outlook - Recibir Correo": {
      "main": [
        [
          {
            "node": "Verificar Asunto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Asunto": {
      "main": [
        [
          {
            "node": "Marcar como Leído",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignorar Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Adjuntos": {
      "main": [
        [
          {
            "node": "Validar Token y Estructura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Válidos?": {
      "main": [
        [
          {
            "node": "Generar Excel Válidos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar PDFs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Preparar Registros PG": {
      "main": [
        [
          {
            "node": "Insertar PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir Excel OneDrive": {
      "main": [
        [
          {
            "node": "Log - Cargue Exitoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar PDFs": {
      "main": [
        [
          {
            "node": "HTTP Request Subir PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Excel Válidos": {
      "main": [
        [
          {
            "node": "Subir Excel OneDrive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Preparar Registros PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar PostgreSQL": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request remitente": {
      "main": [
        [
          {
            "node": "Procesar Adjuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request adjunto": {
      "main": [
        [
          {
            "node": "HTTP Request remitente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Token y Estructura": {
      "main": [
        [
          {
            "node": "ARCHIVO_VALIDO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como Leído": {
      "main": [
        [
          {
            "node": "HTTP Request adjunto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Registros": {
      "main": [
        [
          {
            "node": "Creacion_excel_errores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creacion_excel_errores": {
      "main": [
        [
          {
            "node": "¿Tiene Válidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "htmlContent": {
      "main": [
        [
          {
            "node": "RESUMEN_CON_ERRORES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RESUMEN_CON_ERRORES": {
      "main": [
        [
          {
            "node": "Log - Inválidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "htmlContent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Descargar XLSX": {
      "main": [
        [
          {
            "node": "Base64 — XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request — Descargar PDF": {
      "main": [
        [
          {
            "node": "Base64 — PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body_formato_errado": {
      "main": [
        [
          {
            "node": "Notificacion_formato_errado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 — XLSX": {
      "main": [
        [
          {
            "node": "HTTP Request — Descargar PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 — PDF": {
      "main": [
        [
          {
            "node": "¿Archivo excel?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "body_sin_excel": {
      "main": [
        [
          {
            "node": "Rechazo - Sin Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechazo - Sin Excel": {
      "main": [
        [
          {
            "node": "Log - Sin Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ARCHIVO_VALIDO": {
      "main": [
        [
          {
            "node": "Obtener Token Zeus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request — Descargar XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Archivo excel?": {
      "main": [
        [
          {
            "node": "body_formato_errado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "body_sin_excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificacion_formato_errado": {
      "main": [
        [
          {
            "node": "Log - Formato Incorrecto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Token Zeus": {
      "main": [
        [
          {
            "node": "Validar Registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Outlook - Recibir Correo": [
      {
        "json": {
          "@odata.etag": "***REDACTED***",
          "id": "***REDACTED***",
          "createdDateTime": "2026-04-09T17:29:53Z",
          "lastModifiedDateTime": "2026-04-09T17:30:09Z",
          "changeKey": "CQAAABYAAADzHuOTpCRfTLq6vT6B/O9TAAAVzGZy",
          "categories": [],
          "receivedDateTime": "2026-04-09T17:29:53Z",
          "sentDateTime": "2026-04-09T17:29:45Z",
          "hasAttachments": true,
          "internetMessageId": "***REDACTED***",
          "subject": "COHORTE | SALUD_MENTAL | Prueba",
          "bodyPreview": "***REDACTED***",
          "importance": "normal",
          "parentFolderId": "***REDACTED***",
          "conversationId": "***REDACTED***",
          "conversationIndex": "AQHcyEZ1CjhfsNZj4UmO4eoURuZHqg==",
          "isDeliveryReceiptRequested": null,
          "isReadReceiptRequested": false,
          "isRead": false,
          "isDraft": false,
          "webLink": "***REDACTED***",
          "inferenceClassification": "focused",
          "body": {
            "contentType": "html",
            "content": "***REDACTED***"
          },
          "sender": {
            "emailAddress": {
              "name": "Activamente",
              "address": "activamente@mutualser.org"
            }
          },
          "from": {
            "emailAddress": {
              "name": "Activamente",
              "address": "activamente@mutualser.org"
            }
          },
          "toRecipients": [
            {
              "emailAddress": {
                "name": "reporte.saludmental",
                "address": "reporte.saludmental@sersocial.org"
              }
            }
          ],
          "ccRecipients": [],
          "bccRecipients": [],
          "replyTo": [],
          "flag": {
            "flagStatus": "notFlagged"
          }
        }
      }
    ]
  },
  "versionId": "9dbb2842-4109-4768-97fb-458bbb8e9d01",
  "activeVersionId": null,
  "versionCounter": 13,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-13T14:40:29.194Z",
      "createdAt": "2026-04-13T14:40:29.194Z",
      "role": "workflow:owner",
      "workflowId": "7bw4Kpkca6usGm2A3DMDw",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-04-16T11:52:04.306Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-16",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}