workflows/SAGIC__ABfKIcvf0tTodbOiL-RJt.json
{
  "updatedAt": "2026-03-27T19:53:45.552Z",
  "createdAt": "2026-03-25T13:58:10.714Z",
  "id": "ABfKIcvf0tTodbOiL-RJt",
  "name": "SAGIC",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "pacientes_sospecha_colon"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "tipo_documento",
              "value": "***REDACTED***"
            },
            {
              "column": "documento",
              "value": "***REDACTED***"
            },
            {
              "column": "fecha_cita_agendada",
              "value": "***REDACTED***"
            },
            {
              "column": "hora_cita_agendada",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        16,
        -80
      ],
      "id": "7b44abd8-0087-464b-a678-3906c8b60ef6",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -432,
        32
      ],
      "id": "aaf3ce30-4a85-49d5-a9b5-89290fc1f15c",
      "name": "TIPOS_DOCUMENTO",
      "credentials": {
        "httpBearerAuth": {
          "id": "gjLnEKyE1CZgTHAM",
          "name": "SAGIC"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "***REDACTED***"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        32
      ],
      "id": "780ac7e8-a01e-4ad2-9b8b-a017ca2c01d6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -80
      ],
      "id": "b23b3b49-08b5-4292-8aa9-5c9f1731e201",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dca90c68-cbdc-4af8-a393-5abb9a629c3d",
              "leftValue": "={{ $json.result }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -176
      ],
      "id": "ec773cab-24c5-4a5e-9b44-4b565796c791",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        928,
        -160
      ],
      "id": "91e7455b-f41e-4777-b112-8d9e6a0c569a",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1584,
        -160
      ],
      "id": "d794cc3d-a9f6-49d4-b17c-33d6b849f987",
      "name": "HTTP Request2",
      "credentials": {
        "httpBearerAuth": {
          "id": "gjLnEKyE1CZgTHAM",
          "name": "SAGIC"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6526a5b4-f0f3-4965-979b-cb6db6268c02",
              "name": "id",
              "value": "***REDACTED***",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -160
      ],
      "id": "0cfb926d-4584-4ea4-8b9a-4705e741ce5f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "errorMessage": "Error al obtener el usuario en sagic"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        464,
        32
      ],
      "id": "3dcaaad8-29db-46e9-9580-6ea79e53ea55",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        -80
      ],
      "id": "e2e52009-b896-48d3-b072-f0c898e1d0a0",
      "name": "obtener_usuario",
      "credentials": {
        "httpBearerAuth": {
          "id": "gjLnEKyE1CZgTHAM",
          "name": "SAGIC"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        -336
      ],
      "id": "71660f31-7aa8-46f8-80db-d531b35d7d14",
      "name": "crear_usuario",
      "credentials": {
        "httpBearerAuth": {
          "id": "gjLnEKyE1CZgTHAM",
          "name": "SAGIC"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "Error al registrar el usuario en sagic"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        880,
        -480
      ],
      "id": "b4529f3e-fbb8-491b-ba15-42ecaa9c1f79",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "errorMessage": "error al crear el caso en sagic"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1872,
        -144
      ],
      "id": "97227532-0a3e-4b2e-b920-f3f626bfb606",
      "name": "Stop and Error2"
    },
    {
      "parameters": {
        "errorMessage": "***REDACTED***"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -208,
        128
      ],
      "id": "3930b912-5ed2-44cf-86a2-08e51fcd0c21",
      "name": "Stop and Error3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1376,
        -160
      ],
      "id": "a91a2ea6-8fc0-4684-a56b-55fc83fa97a0",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "gjLnEKyE1CZgTHAM",
          "name": "SAGIC"
        }
      }
    }
  ],
  "connections": {
    "TIPOS_DOCUMENTO": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "TIPOS_DOCUMENTO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "obtener_usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "crear_usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtener_usuario": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear_usuario": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1450747f-75aa-46e6-81ae-7d06dd1cdc86",
  "activeVersionId": "1450747f-75aa-46e6-81ae-7d06dd1cdc86",
  "versionCounter": 517,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-25T13:58:10.714Z",
      "createdAt": "2026-03-25T13:58:10.714Z",
      "role": "workflow:owner",
      "workflowId": "ABfKIcvf0tTodbOiL-RJt",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-04-01T11:49:08.193Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-03-27T20:00:59.571Z",
    "createdAt": "2026-03-27T19:53:45.554Z",
    "versionId": "1450747f-75aa-46e6-81ae-7d06dd1cdc86",
    "workflowId": "ABfKIcvf0tTodbOiL-RJt",
    "nodes": [
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "pacientes_sospecha_colon"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "tipo_documento",
                "value": "***REDACTED***"
              },
              {
                "column": "documento",
                "value": "***REDACTED***"
              },
              {
                "column": "fecha_cita_agendada",
                "value": "***REDACTED***"
              },
              {
                "column": "hora_cita_agendada",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          16,
          -80
        ],
        "id": "7b44abd8-0087-464b-a678-3906c8b60ef6",
        "name": "Select rows from a table",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -432,
          32
        ],
        "id": "aaf3ce30-4a85-49d5-a9b5-89290fc1f15c",
        "name": "TIPOS_DOCUMENTO",
        "credentials": {
          "httpBearerAuth": {
            "id": "gjLnEKyE1CZgTHAM",
            "name": "SAGIC"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "***REDACTED***"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -656,
          32
        ],
        "id": "780ac7e8-a01e-4ad2-9b8b-a017ca2c01d6",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -208,
          -80
        ],
        "id": "b23b3b49-08b5-4292-8aa9-5c9f1731e201",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "dca90c68-cbdc-4af8-a393-5abb9a629c3d",
                "leftValue": "={{ $json.result }}",
                "rightValue": "",
                "operator": {
                  "type": "array",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          464,
          -176
        ],
        "id": "ec773cab-24c5-4a5e-9b44-4b565796c791",
        "name": "If"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          928,
          -160
        ],
        "id": "91e7455b-f41e-4777-b112-8d9e6a0c569a",
        "name": "Merge"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1584,
          -160
        ],
        "id": "d794cc3d-a9f6-49d4-b17c-33d6b849f987",
        "name": "HTTP Request2",
        "credentials": {
          "httpBearerAuth": {
            "id": "gjLnEKyE1CZgTHAM",
            "name": "SAGIC"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6526a5b4-f0f3-4965-979b-cb6db6268c02",
                "name": "id",
                "value": "***REDACTED***",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1136,
          -160
        ],
        "id": "0cfb926d-4584-4ea4-8b9a-4705e741ce5f",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "errorMessage": "Error al obtener el usuario en sagic"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          464,
          32
        ],
        "id": "3dcaaad8-29db-46e9-9580-6ea79e53ea55",
        "name": "Stop and Error"
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpBearerAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          240,
          -80
        ],
        "id": "e2e52009-b896-48d3-b072-f0c898e1d0a0",
        "name": "obtener_usuario",
        "credentials": {
          "httpBearerAuth": {
            "id": "gjLnEKyE1CZgTHAM",
            "name": "SAGIC"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          688,
          -336
        ],
        "id": "71660f31-7aa8-46f8-80db-d531b35d7d14",
        "name": "crear_usuario",
        "credentials": {
          "httpBearerAuth": {
            "id": "gjLnEKyE1CZgTHAM",
            "name": "SAGIC"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "errorMessage": "Error al registrar el usuario en sagic"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          880,
          -480
        ],
        "id": "b4529f3e-fbb8-491b-ba15-42ecaa9c1f79",
        "name": "Stop and Error1"
      },
      {
        "parameters": {
          "errorMessage": "error al crear el caso en sagic"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          1872,
          -144
        ],
        "id": "97227532-0a3e-4b2e-b920-f3f626bfb606",
        "name": "Stop and Error2"
      },
      {
        "parameters": {
          "errorMessage": "***REDACTED***"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          -208,
          128
        ],
        "id": "3930b912-5ed2-44cf-86a2-08e51fcd0c21",
        "name": "Stop and Error3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "httpBearerAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1376,
          -160
        ],
        "id": "a91a2ea6-8fc0-4684-a56b-55fc83fa97a0",
        "name": "HTTP Request",
        "credentials": {
          "httpBearerAuth": {
            "id": "gjLnEKyE1CZgTHAM",
            "name": "SAGIC"
          }
        }
      }
    ],
    "connections": {
      "TIPOS_DOCUMENTO": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "TIPOS_DOCUMENTO",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "obtener_usuario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "crear_usuario",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "obtener_usuario": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "crear_usuario": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Stop and Error1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [],
          [
            {
              "node": "Stop and Error2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version 1450747f",
    "description": "***REDACTED***",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-27T20:00:59.570Z",
        "id": 401,
        "workflowId": "ABfKIcvf0tTodbOiL-RJt",
        "versionId": "1450747f-75aa-46e6-81ae-7d06dd1cdc86",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}