workflows/SARAI_-_LLAMADAS__OAhFO3OsIEvGPsN2.json
{
  "updatedAt": "2026-05-25T20:11:01.517Z",
  "createdAt": "2026-02-04T20:19:26.832Z",
  "id": "OAhFO3OsIEvGPsN2",
  "name": "SARAI - LLAMADAS",
  "description": "***REDACTED***",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2336,
        976
      ],
      "id": "f426eef0-09ed-44e1-bab9-12e2770c0078",
      "name": "obtener_paciente_pendiente2",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "conexión sarai"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-paciente",
              "leftValue": "***REDACTED***",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2080,
        976
      ],
      "id": "b6320bcc-d2c3-46a9-9a96-67a439203e92",
      "name": "¿Paciente encontrado?"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        1216
      ],
      "id": "c41d0187-9f8e-4e5d-93e5-2d0382cfcfeb",
      "name": "Sin pacientes pendientes"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -976,
        976
      ],
      "id": "fc144294-194f-47d9-83a5-87712a6eb53d",
      "name": "Guardar opciones raw",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "conexión sarai"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -512,
        960
      ],
      "id": "09ee150e-e2bb-43f3-bfa9-8fd14551d507",
      "name": "Guardar call_id",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "conexión sarai"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1600,
        960
      ],
      "id": "ffcb056f-9c16-478d-bd76-76a0cb5a1ef8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -496,
        1216
      ],
      "id": "f0f2d930-fd3d-43e7-bdae-43d0c30b6d71",
      "name": "Wait2",
      "webhookId": "3f2927fa-d8d5-4fa1-93d6-41d42dae68d9"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        976
      ],
      "id": "448d64fa-425c-4c2e-9462-34a8f4beb255",
      "name": "formatearRespuesta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        976
      ],
      "id": "6ce717dd-7cf0-456f-9aaf-5b6d9136568b",
      "name": "Crear llamada en Retell",
      "notesInFlow": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "DIdSQ2VED0gyDQyv",
          "name": "APIKEYSARAIFSS2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2576,
        976
      ],
      "id": "474f2439-4100-45f9-8663-4381c28ef8d1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1fc55c00-04f3-4a4e-a425-ae5ccd46f40d",
              "name": "call_id",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -784,
        592
      ],
      "id": "00bc74a3-9c5e-467a-89c0-99f4fdfce15d",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/n8n/workflow/LTmtmcMGQaHqcOnO"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "documento": "={{ $json.documento }}",
            "tipo_documento": "={{ $json.tipo_documento }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "documento",
              "displayName": "documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "tipo_documento",
              "displayName": "tipo_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1376,
        976
      ],
      "id": "723e9b53-79b6-49f1-b005-a21928ce15b3",
      "name": "Consultar_disponibilidades"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -768,
        1216
      ],
      "id": "b203cc60-0c5f-42f6-9d91-ea0037f684d4",
      "name": "Marcar error Retell",
      "credentials": {
        "postgres": {
          "id": "G8jOYC5TFqNr9NA3",
          "name": "conexión sarai"
        }
      }
    }
  ],
  "connections": {
    "obtener_paciente_pendiente2": {
      "main": [
        [
          {
            "node": "¿Paciente encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Paciente encontrado?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin pacientes pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar opciones raw": {
      "main": [
        [
          {
            "node": "Crear llamada en Retell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Consultar_disponibilidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar call_id": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatearRespuesta": {
      "main": [
        [
          {
            "node": "Guardar opciones raw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear llamada en Retell": {
      "main": [
        [
          {
            "node": "Guardar call_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar error Retell",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "obtener_paciente_pendiente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Consultar_disponibilidades": {
      "main": [
        [
          {
            "node": "formatearRespuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar error Retell": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Trigger 8am": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "daade80d-eeb7-4b93-b4c5-3fd48f401b1b",
  "activeVersionId": "daade80d-eeb7-4b93-b4c5-3fd48f401b1b",
  "versionCounter": 1000,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-04T20:19:26.832Z",
      "createdAt": "2026-02-04T20:19:26.832Z",
      "role": "workflow:owner",
      "workflowId": "OAhFO3OsIEvGPsN2",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-06-05T11:39:46.568Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-04-16T21:08:33.019Z",
      "createdAt": "2026-04-16T21:08:33.019Z",
      "id": "oAU4h6efQRYRWcQU",
      "name": "Sarai 📲"
    },
    {
      "updatedAt": "2026-02-04T21:56:48.941Z",
      "createdAt": "2026-02-04T21:56:48.941Z",
      "id": "S7UevxOArIeglzP8",
      "name": "🟢"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-25T20:21:04.708Z",
    "createdAt": "2026-05-25T20:11:01.518Z",
    "versionId": "daade80d-eeb7-4b93-b4c5-3fd48f401b1b",
    "workflowId": "OAhFO3OsIEvGPsN2",
    "nodes": [
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -2336,
          976
        ],
        "id": "f426eef0-09ed-44e1-bab9-12e2770c0078",
        "name": "obtener_paciente_pendiente2",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "conexión sarai"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "check-paciente",
                "leftValue": "***REDACTED***",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -2080,
          976
        ],
        "id": "b6320bcc-d2c3-46a9-9a96-67a439203e92",
        "name": "¿Paciente encontrado?"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2080,
          1216
        ],
        "id": "c41d0187-9f8e-4e5d-93e5-2d0382cfcfeb",
        "name": "Sin pacientes pendientes"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -976,
          976
        ],
        "id": "fc144294-194f-47d9-83a5-87712a6eb53d",
        "name": "Guardar opciones raw",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "conexión sarai"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -512,
          960
        ],
        "id": "09ee150e-e2bb-43f3-bfa9-8fd14551d507",
        "name": "Guardar call_id",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "conexión sarai"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1600,
          960
        ],
        "id": "ffcb056f-9c16-478d-bd76-76a0cb5a1ef8",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "amount": 60
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -496,
          1216
        ],
        "id": "f0f2d930-fd3d-43e7-bdae-43d0c30b6d71",
        "name": "Wait2",
        "webhookId": "3f2927fa-d8d5-4fa1-93d6-41d42dae68d9"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1152,
          976
        ],
        "id": "448d64fa-425c-4c2e-9462-34a8f4beb255",
        "name": "formatearRespuesta"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {
            "timeout": 10000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -784,
          976
        ],
        "id": "6ce717dd-7cf0-456f-9aaf-5b6d9136568b",
        "name": "Crear llamada en Retell",
        "notesInFlow": false,
        "credentials": {
          "httpHeaderAuth": {
            "id": "DIdSQ2VED0gyDQyv",
            "name": "APIKEYSARAIFSS2"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 16
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -2576,
          976
        ],
        "id": "474f2439-4100-45f9-8663-4381c28ef8d1",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1fc55c00-04f3-4a4e-a425-ae5ccd46f40d",
                "name": "call_id",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -784,
          592
        ],
        "id": "00bc74a3-9c5e-467a-89c0-99f4fdfce15d",
        "name": "Edit Fields",
        "disabled": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "id",
            "cachedResultUrl": "/n8n/workflow/LTmtmcMGQaHqcOnO"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "documento": "={{ $json.documento }}",
              "tipo_documento": "={{ $json.tipo_documento }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "documento",
                "displayName": "documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "tipo_documento",
                "displayName": "tipo_documento",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              },
              {
                "id": "email",
                "displayName": "email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -1376,
          976
        ],
        "id": "723e9b53-79b6-49f1-b005-a21928ce15b3",
        "name": "Consultar_disponibilidades"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -768,
          1216
        ],
        "id": "b203cc60-0c5f-42f6-9d91-ea0037f684d4",
        "name": "Marcar error Retell",
        "credentials": {
          "postgres": {
            "id": "G8jOYC5TFqNr9NA3",
            "name": "conexión sarai"
          }
        }
      }
    ],
    "connections": {
      "obtener_paciente_pendiente2": {
        "main": [
          [
            {
              "node": "¿Paciente encontrado?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Paciente encontrado?": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sin pacientes pendientes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar opciones raw": {
        "main": [
          [
            {
              "node": "Crear llamada en Retell",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Consultar_disponibilidades",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar call_id": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "formatearRespuesta": {
        "main": [
          [
            {
              "node": "Guardar opciones raw",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Crear llamada en Retell": {
        "main": [
          [
            {
              "node": "Guardar call_id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Marcar error Retell",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "obtener_paciente_pendiente2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          []
        ]
      },
      "Consultar_disponibilidades": {
        "main": [
          [
            {
              "node": "formatearRespuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marcar error Retell": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version daade80d",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-25T20:21:04.706Z",
        "id": 889,
        "workflowId": "OAhFO3OsIEvGPsN2",
        "versionId": "daade80d-eeb7-4b93-b4c5-3fd48f401b1b",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}