workflows/TEST_CHATBOT_WHATSAPP__w9WxH5ehHNebFaQtfQwJN.json
{
  "updatedAt": "2026-03-05T15:40:32.768Z",
  "createdAt": "2026-03-04T06:20:23.216Z",
  "id": "w9WxH5ehHNebFaQtfQwJN",
  "name": "TEST_CHATBOT_WHATSAPP",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        6736,
        -128
      ],
      "id": "9d62ee7b-f6f4-4743-a96a-4485c6f9355d",
      "name": "WhatsApp Trigger",
      "webhookId": "daaa9d41-9c99-4bb9-9cad-d1a272fae914",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "yccDYm5IQmgRwVoE",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].text.body }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "fc965780-4470-4fa3-9b6f-68f1d11554e5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXTO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "842e3ea2-055b-4e55-bf50-b73ca3ddaf07",
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AUDIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "img-1",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IMAGEN"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "flo-1",
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "interactive",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FLOW_RESPONSE"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "DESCONOCIDO"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        7056,
        -128
      ],
      "id": "0595f1e6-47ac-4832-aaf5-4008da4fad83",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5899a8c-06bf-4901-9972-c12513e8a2a1",
              "name": "display_phone_number",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "1570c3ca-d4e0-42c3-9c48-b7b776f2994f",
              "name": "phone_number_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "cd1a903b-8391-4d1c-98f4-a4611bd95361",
              "name": "profile_name",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "dcc9656c-3c11-4df2-97ed-a899c1af4997",
              "name": "wa_id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "8a3a7c0e-d255-4d27-950e-8e4bae62fc09",
              "name": "messages.id",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "b54751e9-2b2a-4226-8955-6dc9bd6de56b",
              "name": "messages.text.body",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "195b93fc-f323-481e-b848-3b3912485341",
              "name": "messages.type",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "4b539b2a-3e35-4d0e-a4d5-2ddac8d0ff23",
              "name": "messages.timestamp",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "909d85fe-690b-4595-9c15-5eec17846bf1",
              "name": "messages.from",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "32bf99da-d883-4422-bd85-a3e3d5693695",
              "name": "messages.text",
              "value": "***REDACTED***",
              "type": "object"
            },
            {
              "id": "549c960e-6cec-40a2-bf41-2246b79f2c4e",
              "name": "messages.text.body",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7376,
        -128
      ],
      "id": "d7c72fb7-6b5f-4eff-878b-aa89228b5713",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.messages.from}}_buffer7",
        "messageData": "***REDACTED***",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        7696,
        -128
      ],
      "id": "3605fcd7-c542-40db-bcf1-f46c51fb34cd",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "messages",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8016,
        -128
      ],
      "id": "8b4c96de-7eb9-4422-bec5-6a95392936f5",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "***REDACTED***",
                    "rightValue": "***REDACTED***",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "d9859c5d-e5a0-47be-9804-d24d6973fae1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Inactividad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7eeee9c2-021b-429f-b17f-0d5dbb665a40",
                    "leftValue": "***REDACTED***",
                    "rightValue": "***REDACTED***",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        8336,
        -128
      ],
      "id": "b0085638-b339-4f19-9731-730bc7720574",
      "name": "Switch1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        8336,
        -368
      ],
      "id": "d254ca5b-c3d6-4014-8006-8c329f82af1c",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "***REDACTED***"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        8656,
        -128
      ],
      "id": "609172dc-760c-4957-b119-5b2c7a4d4c45",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8336,
        112
      ],
      "id": "e71bee7d-d22c-43b3-bda6-638135c8d1d5",
      "name": "Wait",
      "webhookId": "42e25b68-a449-4a55-914f-c414045ffc0b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a54b93fa-f647-4c2e-be2f-08f6ac71d7ee",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8976,
        -128
      ],
      "id": "74b87996-008a-49cf-a07e-cffc2524f58a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        7376,
        272
      ],
      "id": "43ace89b-6e57-42cb-97e7-56c53655d76b",
      "name": "Obtener audio",
      "webhookId": "3847188a-68b1-4c1d-a237-0a3d45f75b31",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7696,
        272
      ],
      "id": "d0d7ff0a-4f49-49c6-ae1d-47d00917eba7",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "p7JIZsChNoDJfzR0",
          "name": "Header Auth account 3"
        },
        "httpBearerAuth": {
          "id": "SstTWntbtINflkHf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        8016,
        272
      ],
      "id": "83d98ee5-0362-4bd6-819c-9b06cc3fd874",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        8336,
        272
      ],
      "id": "712fd242-4899-4bb5-9bf8-dfc95c860a16",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "517999d6-31d4-45bd-aba7-a8b49b0ef41e",
              "name": "text",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8656,
        272
      ],
      "id": "9c3351f0-5480-4510-b2bc-e9cec9ed6a7d",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1a4d37a-d087-4665-bb41-28d9a4a7fe38",
              "name": "mensaje",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9296,
        -128
      ],
      "id": "da418085-5f6e-4ecc-b4dd-a7a9c52c1d92",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "509bd307-b787-4ab8-a5d8-9fd3f6926995",
      "name": "Sanitizar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9616,
        -128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "batching": {
          "delayBetweenBatches": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        9936,
        -128
      ],
      "id": "6ec67f3b-6c3f-42b8-a716-82e3972857cd",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10256,
        -128
      ],
      "id": "0168627f-f682-4105-9fe4-0a802b6c0e66",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "372bba1d-32e0-4a5e-af40-79c1b9061821",
              "name": "intent",
              "value": "***REDACTED***",
              "type": "string"
            },
            {
              "id": "lang-001",
              "name": "lang",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        10576,
        -128
      ],
      "id": "e8f83c24-c158-4a5d-bfd0-c75f9d9ed5b3",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "session_config",
        "key": "***REDACTED***",
        "options": {}
      },
      "id": "7505b5db-d277-4780-8f75-cf898c7ab351",
      "name": "Leer Config Sesión",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        10896,
        -128
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "6d4c8f33-ef29-4259-8eb5-36f39d7d40f8",
      "name": "Gestionar Idioma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11216,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 86400
      },
      "id": "6d470bff-3b38-478c-bc00-c82dc872530c",
      "name": "Guardar Config Sesión",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        11216,
        112
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s1",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENDAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s2",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "consultar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONSULTAR CITA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s3",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "cancelar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCELAR CITA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s4",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "afiliacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AFILIACION"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "s5",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "sedes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SEDES"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "ignoreCase": true,
          "renameFallbackOutput": "OTHER"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        11536,
        -128
      ],
      "id": "6e1a2f02-4ddc-4f07-889d-5853825050a8",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "63ecf24d-5814-4a20-a383-0be9c6e3dadc",
      "name": "Preparar Flow",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11856,
        -368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppTriggerApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "id": "b1754cf6-ecab-4ed4-bee1-3e2067e3862f",
      "name": "Enviar Flow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12176,
        -368
      ],
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "yccDYm5IQmgRwVoE",
          "name": "WhatsApp OAuth account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/n8n/workflow/NDgPUqxm4BJZJ6LfOj19K"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        11856,
        -128
      ],
      "id": "f82a40b3-7e64-4586-8776-29229edbb73f",
      "name": "INFORMACION DE SEDES"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "***REDACTED***",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "***REDACTED***"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        11856,
        112
      ],
      "id": "b7453818-ca60-467e-a289-bc3648654839",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        12176,
        -32
      ],
      "id": "89e7d41c-e964-4a12-a947-4f44d18e4fd9",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "={{ $json.output.Parte1 }}",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        12496,
        -32
      ],
      "id": "27f2f3f1-cd4e-4379-aad4-c32c9f0053ff",
      "name": "Respuesta",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2d55e3fd-04de-4b67-bd7f-9d88d6f57882",
              "leftValue": "***REDACTED***",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        12816,
        -32
      ],
      "id": "43fef53f-f70b-497e-8a1c-ca669d41c50c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        13136,
        -32
      ],
      "id": "bbb79ee1-00b3-48cf-8ea1-692ceb062181",
      "name": "Respuesta1",
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        11856,
        368
      ],
      "id": "8482195e-3796-40d9-9aed-829da1916992",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "***REDACTED***"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        9936,
        176
      ],
      "id": "f39395b2-4aa7-41f0-9ddd-b5e158788bbf",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "dNAey8tcxmUMRffx",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "***REDACTED***",
        "sessionTTL": 1800,
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        12176,
        368
      ],
      "id": "7149df6c-c2a0-4d56-89d8-83033b7cb762",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja1",
          "cachedResultUrl": "***REDACTED***"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        12496,
        368
      ],
      "id": "88770512-e4c8-4ebb-9901-0f94f5696cc1",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "aDaUg0dQ2hQRfilV",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "***REDACTED***"
      },
      "type": "***REDACTED***",
      "typeVersion": 1.3,
      "position": [
        12816,
        368
      ],
      "id": "79562102-2ab1-43d6-9384-e123b792bc19",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "id": "9c355407-51d5-4bc9-bb2e-3fd2280326bb",
      "name": "Respuesta Imagen",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        7376,
        624
      ],
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "3bce51b1-3da8-4133-bf14-6fa6f7736b0a",
      "name": "Manejar Flow Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7376,
        784
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1",
                    "leftValue": "={{ $json.flow_intent }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AGENDAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f2",
                    "leftValue": "={{ $json.flow_intent }}",
                    "rightValue": "consultar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CONSULTAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3",
                    "leftValue": "={{ $json.flow_intent }}",
                    "rightValue": "cancelar_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCELAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f4",
                    "leftValue": "={{ $json.flow_intent }}",
                    "rightValue": "afiliacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AFILIACION"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "ERROR"
        }
      },
      "id": "b6e0a2cb-2fad-49d3-aa7d-839ddc40c2b6",
      "name": "Switch Flow Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        7744,
        768
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id",
          "cachedResultUrl": "/n8n/workflow/cJfEP-s0H3glzuJcpbO3T"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje": "***REDACTED***",
            "telefono": "={{ $json.telefono }}",
            "flow_intent": "={{ $json.flow_intent }}",
            "flow_data": "***REDACTED***"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "flow_intent",
              "displayName": "flow_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "flow_data",
              "displayName": "flow_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8144,
        672
      ],
      "id": "c4f745e8-4fd8-4661-bf14-075e191197ed",
      "name": "GESTION DE CITAS"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $json.telefono }}",
            "flow_data": "***REDACTED***"
          },
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true,
          "schema": [
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "flow_data",
              "displayName": "flow_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "26fc8f07-37be-4737-b740-956146dfd1b0",
      "name": "AFILIACION (desde Flow)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        8144,
        864
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "1146c4b4-699e-482f-afac-cd8b5954b50c",
      "name": "Confirmar WA",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        8544,
        768
      ],
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "84604d29-150c-4b05-907e-8ce2a0ad4cba",
      "name": "Error Flow WA",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        8144,
        1072
      ],
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "id": "09a09467-75ff-45bb-855c-d13d81c2f242",
      "name": "Respuesta Desconocida",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        7376,
        928
      ],
      "webhookId": "ffcd17ac-8396-43d3-85cc-1f0b2610e76b",
      "credentials": {
        "whatsAppApi": {
          "id": "Tt1jdP4FqS0LhYTX",
          "name": "WhatsApp account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## VOZ",
        "height": 256,
        "width": 1456
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        7392,
        144
      ],
      "typeVersion": 1,
      "id": "9aa261ed-f4a7-406d-b092-6f3450cc3ad4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## TEXTO",
        "height": 608,
        "width": 1456,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7392,
        -464
      ],
      "id": "4b6ba37a-99b5-4376-b06f-10b6a1bf8aae",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obtener audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Imagen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manejar Flow Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Desconocida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Sanitizar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sanitizar Entrada": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Leer Config Sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Config Sesión": {
      "main": [
        [
          {
            "node": "Gestionar Idioma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestionar Idioma": {
      "main": [
        [
          {
            "node": "Guardar Config Sesión",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Preparar Flow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Flow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Flow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Flow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "INFORMACION DE SEDES",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Flow": {
      "main": [
        [
          {
            "node": "Enviar Flow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INFORMACION DE SEDES": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respuesta1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manejar Flow Response": {
      "main": [
        [
          {
            "node": "Switch Flow Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Flow Intent": {
      "main": [
        [
          {
            "node": "GESTION DE CITAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GESTION DE CITAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GESTION DE CITAS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AFILIACION (desde Flow)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Flow WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GESTION DE CITAS": {
      "main": [
        [
          {
            "node": "Confirmar WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AFILIACION (desde Flow)": {
      "main": [
        [
          {
            "node": "Confirmar WA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "a94b5348-3d51-4100-b3db-b39c5dc2be27",
  "activeVersionId": null,
  "versionCounter": 42,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-04T06:20:23.216Z",
      "createdAt": "2026-03-04T06:20:23.216Z",
      "role": "workflow:owner",
      "workflowId": "w9WxH5ehHNebFaQtfQwJN",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-04-10T11:44:41.129Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-13T21:22:04.748Z",
      "createdAt": "2026-01-13T21:22:04.748Z",
      "id": "fikbPaiMxfrzFfMz",
      "name": "test"
    },
    {
      "updatedAt": "2026-03-03T19:34:15.068Z",
      "createdAt": "2026-03-03T19:34:15.068Z",
      "id": "M63Xu3JDOVoP0xRM",
      "name": "flujo whatsapp"
    }
  ],
  "activeVersion": null
}