workflows/VALIDAR_DERECHOS_DE_USUARIO__WQ65T0ACkIUy8PO80bZWV.json
{
  "updatedAt": "2026-06-04T17:29:47.674Z",
  "createdAt": "2026-03-03T18:20:57.454Z",
  "id": "WQ65T0ACkIUy8PO80bZWV",
  "name": "VALIDAR DERECHOS DE USUARIO",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        720
      ],
      "id": "c03aa9fd-3f39-4ac3-96a4-203faa22d023",
      "name": "Verificar token MUTUAL",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        720
      ],
      "id": "48b85851-4a99-4212-a4ad-1c625f67fca2",
      "name": "Guardar Token MUTUAL",
      "disabled": true
    },
    {
      "parameters": {
        "content": "***REDACTED***",
        "height": 704,
        "width": 2772
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1466,
        -464
      ],
      "typeVersion": 1,
      "id": "3208c854-8474-4616-9778-18ad3a1cc9a9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "28c040d0-7874-45f0-841e-41e82f08598b",
              "leftValue": "={{ $json.tokenValido}}",
              "rightValue": "={{ true }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        720
      ],
      "id": "d3928d9b-9e9d-4f74-acbe-61052465b0fe",
      "name": "Token válido",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -112
      ],
      "id": "e1df5b57-384c-4638-a1b1-83c502c8033d",
      "name": "Limpiar datos Mutual",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        624
      ],
      "id": "a3da46fa-c0ab-4c9c-bc45-58e98980f506",
      "name": "Merge1",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            },
            {
              "name": "client_id",
              "value": "***REDACTED***"
            },
            {
              "name": "username",
              "value": "***REDACTED***"
            },
            {
              "name": "password",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        816
      ],
      "id": "ca1a22d2-8da1-4a34-a6b8-dea4e842e0ce",
      "name": "Login para obtener token MUTUAL",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "***REDACTED***"
            },
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            },
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        -16
      ],
      "id": "d7142554-0499-4abd-b3b8-2495555c44c8",
      "name": "Validar derechos de usuario",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b140a3bd-14f7-494d-98d1-ae9cc669a70f",
              "name": "token",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        528
      ],
      "id": "9a8573dc-af62-48d2-bb23-498de4518bd5",
      "name": "Edit Fields2",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45e20681-a2e5-4383-8021-806ec29bd9b8",
              "name": "token",
              "value": "***REDACTED***",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        720
      ],
      "id": "ce397af1-8560-4bca-a9de-d9f34231c416",
      "name": "Edit Fields3",
      "disabled": true
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "***REDACTED***"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -464,
        1648
      ],
      "id": "10eb13d8-d971-45dc-b22c-f5a7923fcedd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        624
      ],
      "id": "adacce89-a8f3-4e42-8a46-8ef48717ac91",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        1136
      ],
      "id": "5c1ef3ae-a0fd-4fb2-81d2-f0ce4a2a51e2",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "errorMessage": "Error al loguerme en mutual"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        208,
        912
      ],
      "id": "07f6983d-aaed-4127-83a4-4d976f7dfd73",
      "name": "Error loguin",
      "disabled": true
    },
    {
      "parameters": {
        "errorMessage": "***REDACTED***"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        208,
        80
      ],
      "id": "888814a5-bb7f-423d-9436-501cf044ea3e",
      "name": "Error validar derechos de usuario",
      "disabled": true
    },
    {
      "parameters": {
        "content": "**Manejo de errores** ",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        1952
      ],
      "typeVersion": 1,
      "id": "844abd6c-f9db-4d96-b3cf-4afc278a1da9",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        -16
      ],
      "id": "4d91bbb7-7664-46e0-80ee-5ac117f49f73",
      "name": "Code in JavaScript",
      "executeOnce": true,
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -464,
        304
      ],
      "id": "4d341c16-6b90-42f7-838e-fa2e6525ff58",
      "name": "Merge2",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -240,
        -16
      ],
      "id": "6d1b2a65-aa48-4714-aa33-a1ee62ff19af",
      "name": "Merge3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -240,
        1648
      ],
      "id": "5276c8b7-47de-4663-9b01-1ade8287d58d",
      "name": "Redis GET mutual_token",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        1648
      ],
      "id": "23f1b541-07e9-41dd-a49c-c1d5a9840532",
      "name": "Code: evaluar token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-token-valido",
              "leftValue": "={{ $json.tokenValido }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        1648
      ],
      "id": "0b8776b3-7195-4b6d-b46e-2d0016c9d47e",
      "name": "IF: ¿token válido?"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1456
      ],
      "id": "69ffb13b-3381-448c-9c23-207d62b7f9ba",
      "name": "Code: token existente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "password"
            },
            {
              "name": "client_id",
              "value": "***REDACTED***"
            },
            {
              "name": "username",
              "value": "***REDACTED***"
            },
            {
              "name": "password",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        1744
      ],
      "id": "3a553864-d9db-4841-9c59-54fb1a795995",
      "name": "HTTP: Login Mutual",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "executeOnce": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3100
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        656,
        1648
      ],
      "id": "d51ba666-d660-4959-9c1e-6c6951756820",
      "name": "Redis SET mutual_token",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        1648
      ],
      "id": "caee07d7-4890-476f-bcae-becac748f7cb",
      "name": "Code: nuevo token"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1104,
        1552
      ],
      "id": "a3eb35fb-d876-4ae0-86f9-b572519c8f08",
      "name": "Merge token"
    },
    {
      "parameters": {
        "errorMessage": "Error al hacer login en Mutual"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        656,
        1840
      ],
      "id": "9221fbd5-144d-47d6-9694-775c341e90d9",
      "name": "Error login Mutual"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "***REDACTED***"
            },
            {
              "name": "Content-Type",
              "value": "***REDACTED***"
            },
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1328,
        1552
      ],
      "id": "ad4c9ca0-0b53-49f4-8733-d8449205d582",
      "name": "Validar derechos de usuario1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1360
      ],
      "id": "2611a84b-b1ad-4edb-b200-9949a140924b",
      "name": "Limpiar datos Mutual1"
    },
    {
      "parameters": {
        "errorMessage": "***REDACTED***"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2000,
        1744
      ],
      "id": "e7b31219-2517-454d-b226-561c4e0556c7",
      "name": "Error validar derechos de usuario1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f64e1820-7a36-4c59-b618-2df59b7fdb1a",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1776,
        1648
      ],
      "id": "3a223ab8-81a0-4628-9122-36502eccbc3f",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1552
      ],
      "id": "53ae9a22-ff3f-4c77-97fe-7f02eec07e6c",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "tipo_documento,documento",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2224,
        1456
      ],
      "id": "b8a46574-1086-44a2-aa36-8f155ca221b1",
      "name": "Merge4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "217ae477-49be-457e-8b1b-dd2718b2cd43",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        1536
      ],
      "id": "9af649a5-d3cc-4721-be39-4119102186ca",
      "name": "If1"
    }
  ],
  "connections": {
    "Verificar token MUTUAL": {
      "main": [
        [
          {
            "node": "Token válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Token MUTUAL": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token válido": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Login para obtener token MUTUAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login para obtener token MUTUAL": {
      "main": [
        [
          {
            "node": "Guardar Token MUTUAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error loguin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar derechos de usuario": {
      "main": [
        [
          {
            "node": "Limpiar datos Mutual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error validar derechos de usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Redis GET mutual_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Limpiar datos Mutual": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        []
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Validar derechos de usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis GET mutual_token": {
      "main": [
        [
          {
            "node": "Code: evaluar token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: evaluar token": {
      "main": [
        [
          {
            "node": "IF: ¿token válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿token válido?": {
      "main": [
        [
          {
            "node": "Code: token existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP: Login Mutual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: token existente": {
      "main": [
        [
          {
            "node": "Merge token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Login Mutual": {
      "main": [
        [
          {
            "node": "Redis SET mutual_token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error login Mutual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis SET mutual_token": {
      "main": [
        [
          {
            "node": "Code: nuevo token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: nuevo token": {
      "main": [
        [
          {
            "node": "Merge token",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge token": {
      "main": [
        [
          {
            "node": "Validar derechos de usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar derechos de usuario1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error validar derechos de usuario1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        []
      ]
    },
    "Limpiar datos Mutual1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Limpiar datos Mutual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "3Vu-CTnntajBc_pVDnku_"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "datos_paciente": {
            "tipo_documento": "CC",
            "documento": "45688167",
            "id_registro": ""
          }
        }
      }
    ]
  },
  "versionId": "d75bb3d1-9a52-498e-927b-9c5fd90ed2b9",
  "activeVersionId": "d75bb3d1-9a52-498e-927b-9c5fd90ed2b9",
  "versionCounter": 896,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-03T18:20:57.454Z",
      "createdAt": "2026-03-03T18:20:57.454Z",
      "role": "workflow:owner",
      "workflowId": "WQ65T0ACkIUy8PO80bZWV",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-06-05T11:39:46.568Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-04T17:29:48.973Z",
    "createdAt": "2026-06-04T17:29:47.676Z",
    "versionId": "d75bb3d1-9a52-498e-927b-9c5fd90ed2b9",
    "workflowId": "WQ65T0ACkIUy8PO80bZWV",
    "nodes": [
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -464,
          720
        ],
        "id": "c03aa9fd-3f39-4ac3-96a4-203faa22d023",
        "name": "Verificar token MUTUAL",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          720
        ],
        "id": "48b85851-4a99-4212-a4ad-1c625f67fca2",
        "name": "Guardar Token MUTUAL",
        "disabled": true
      },
      {
        "parameters": {
          "content": "***REDACTED***",
          "height": 704,
          "width": 2772
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1466,
          -464
        ],
        "typeVersion": 1,
        "id": "3208c854-8474-4616-9778-18ad3a1cc9a9",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "28c040d0-7874-45f0-841e-41e82f08598b",
                "leftValue": "={{ $json.tokenValido}}",
                "rightValue": "={{ true }}",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -240,
          720
        ],
        "id": "d3928d9b-9e9d-4f74-acbe-61052465b0fe",
        "name": "Token válido",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          -112
        ],
        "id": "e1df5b57-384c-4638-a1b1-83c502c8033d",
        "name": "Limpiar datos Mutual",
        "disabled": true
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          656,
          624
        ],
        "id": "a3da46fa-c0ab-4c9c-bc45-58e98980f506",
        "name": "Merge1",
        "disabled": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "password"
              },
              {
                "name": "client_id",
                "value": "***REDACTED***"
              },
              {
                "name": "username",
                "value": "***REDACTED***"
              },
              {
                "name": "password",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -16,
          816
        ],
        "id": "ca1a22d2-8da1-4a34-a6b8-dea4e842e0ce",
        "name": "Login para obtener token MUTUAL",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "disabled": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Cookie",
                "value": "***REDACTED***"
              },
              {
                "name": "Content-Type",
                "value": "***REDACTED***"
              },
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -16,
          -16
        ],
        "id": "d7142554-0499-4abd-b3b8-2495555c44c8",
        "name": "Validar derechos de usuario",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "disabled": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b140a3bd-14f7-494d-98d1-ae9cc669a70f",
                "name": "token",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          528
        ],
        "id": "9a8573dc-af62-48d2-bb23-498de4518bd5",
        "name": "Edit Fields2",
        "disabled": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "45e20681-a2e5-4383-8021-806ec29bd9b8",
                "name": "token",
                "value": "***REDACTED***",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          720
        ],
        "id": "ce397af1-8560-4bca-a9de-d9f34231c416",
        "name": "Edit Fields3",
        "disabled": true
      },
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "***REDACTED***"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -464,
          1648
        ],
        "id": "10eb13d8-d971-45dc-b22c-f5a7923fcedd",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          880,
          624
        ],
        "id": "adacce89-a8f3-4e42-8a46-8ef48717ac91",
        "name": "Merge",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -464,
          1136
        ],
        "id": "5c1ef3ae-a0fd-4fb2-81d2-f0ce4a2a51e2",
        "name": "Code in JavaScript1",
        "disabled": true
      },
      {
        "parameters": {
          "errorMessage": "Error al loguerme en mutual"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          208,
          912
        ],
        "id": "07f6983d-aaed-4127-83a4-4d976f7dfd73",
        "name": "Error loguin",
        "disabled": true
      },
      {
        "parameters": {
          "errorMessage": "***REDACTED***"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          208,
          80
        ],
        "id": "888814a5-bb7f-423d-9436-501cf044ea3e",
        "name": "Error validar derechos de usuario",
        "disabled": true
      },
      {
        "parameters": {
          "content": "**Manejo de errores** ",
          "height": 80
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          400,
          1952
        ],
        "typeVersion": 1,
        "id": "844abd6c-f9db-4d96-b3cf-4afc278a1da9",
        "name": "Sticky Note",
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -464,
          -16
        ],
        "id": "4d91bbb7-7664-46e0-80ee-5ac117f49f73",
        "name": "Code in JavaScript",
        "executeOnce": true,
        "disabled": true
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -464,
          304
        ],
        "id": "4d341c16-6b90-42f7-838e-fa2e6525ff58",
        "name": "Merge2",
        "disabled": true
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineAll",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -240,
          -16
        ],
        "id": "6d1b2a65-aa48-4714-aa33-a1ee62ff19af",
        "name": "Merge3",
        "disabled": true
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "value",
          "key": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          -240,
          1648
        ],
        "id": "5276c8b7-47de-4663-9b01-1ade8287d58d",
        "name": "Redis GET mutual_token",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -16,
          1648
        ],
        "id": "23f1b541-07e9-41dd-a49c-c1d5a9840532",
        "name": "Code: evaluar token"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-token-valido",
                "leftValue": "={{ $json.tokenValido }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          208,
          1648
        ],
        "id": "0b8776b3-7195-4b6d-b46e-2d0016c9d47e",
        "name": "IF: ¿token válido?"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          1456
        ],
        "id": "69ffb13b-3381-448c-9c23-207d62b7f9ba",
        "name": "Code: token existente"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendBody": true,
          "contentType": "form-urlencoded",
          "bodyParameters": {
            "parameters": [
              {
                "name": "grant_type",
                "value": "password"
              },
              {
                "name": "client_id",
                "value": "***REDACTED***"
              },
              {
                "name": "username",
                "value": "***REDACTED***"
              },
              {
                "name": "password",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          432,
          1744
        ],
        "id": "3a553864-d9db-4841-9c59-54fb1a795995",
        "name": "HTTP: Login Mutual",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "executeOnce": true,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3100
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          656,
          1648
        ],
        "id": "d51ba666-d660-4959-9c1e-6c6951756820",
        "name": "Redis SET mutual_token",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          1648
        ],
        "id": "caee07d7-4890-476f-bcae-becac748f7cb",
        "name": "Code: nuevo token"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          1104,
          1552
        ],
        "id": "a3eb35fb-d876-4ae0-86f9-b572519c8f08",
        "name": "Merge token"
      },
      {
        "parameters": {
          "errorMessage": "Error al hacer login en Mutual"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          656,
          1840
        ],
        "id": "9221fbd5-144d-47d6-9694-775c341e90d9",
        "name": "Error login Mutual"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Cookie",
                "value": "***REDACTED***"
              },
              {
                "name": "Content-Type",
                "value": "***REDACTED***"
              },
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1328,
          1552
        ],
        "id": "ad4c9ca0-0b53-49f4-8733-d8449205d582",
        "name": "Validar derechos de usuario1",
        "retryOnFail": true,
        "waitBetweenTries": 5000,
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          1360
        ],
        "id": "2611a84b-b1ad-4edb-b200-9949a140924b",
        "name": "Limpiar datos Mutual1"
      },
      {
        "parameters": {
          "errorMessage": "***REDACTED***"
        },
        "type": "n8n-nodes-base.stopAndError",
        "typeVersion": 1,
        "position": [
          2000,
          1744
        ],
        "id": "e7b31219-2517-454d-b226-561c4e0556c7",
        "name": "Error validar derechos de usuario1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f64e1820-7a36-4c59-b618-2df59b7fdb1a",
                "leftValue": "={{ $json.error.status }}",
                "rightValue": 400,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1776,
          1648
        ],
        "id": "3a223ab8-81a0-4628-9122-36502eccbc3f",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2000,
          1552
        ],
        "id": "53ae9a22-ff3f-4c77-97fe-7f02eec07e6c",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "mode": "combine",
          "fieldsToMatchString": "tipo_documento,documento",
          "joinMode": "keepNonMatches",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          2224,
          1456
        ],
        "id": "b8a46574-1086-44a2-aa36-8f155ca221b1",
        "name": "Merge4"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "217ae477-49be-457e-8b1b-dd2718b2cd43",
                "leftValue": "={{ $json.data }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1568,
          1536
        ],
        "id": "9af649a5-d3cc-4721-be39-4119102186ca",
        "name": "If1"
      }
    ],
    "connections": {
      "Verificar token MUTUAL": {
        "main": [
          [
            {
              "node": "Token válido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Token MUTUAL": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Token válido": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Login para obtener token MUTUAL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Login para obtener token MUTUAL": {
        "main": [
          [
            {
              "node": "Guardar Token MUTUAL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error loguin",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar derechos de usuario": {
        "main": [
          [
            {
              "node": "Limpiar datos Mutual",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error validar derechos de usuario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Merge1",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Redis GET mutual_token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          []
        ]
      },
      "Limpiar datos Mutual": {
        "main": [
          []
        ]
      },
      "Code in JavaScript1": {
        "main": [
          []
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Merge3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge2": {
        "main": [
          []
        ]
      },
      "Merge3": {
        "main": [
          [
            {
              "node": "Validar derechos de usuario",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis GET mutual_token": {
        "main": [
          [
            {
              "node": "Code: evaluar token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: evaluar token": {
        "main": [
          [
            {
              "node": "IF: ¿token válido?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF: ¿token válido?": {
        "main": [
          [
            {
              "node": "Code: token existente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP: Login Mutual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: token existente": {
        "main": [
          [
            {
              "node": "Merge token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP: Login Mutual": {
        "main": [
          [
            {
              "node": "Redis SET mutual_token",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error login Mutual",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis SET mutual_token": {
        "main": [
          [
            {
              "node": "Code: nuevo token",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code: nuevo token": {
        "main": [
          [
            {
              "node": "Merge token",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge token": {
        "main": [
          [
            {
              "node": "Validar derechos de usuario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar derechos de usuario1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Error validar derechos de usuario1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Merge4": {
        "main": [
          []
        ]
      },
      "Limpiar datos Mutual1": {
        "main": [
          [
            {
              "node": "Merge4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Limpiar datos Mutual1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version d75bb3d1",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-04T17:29:48.971Z",
        "id": 1036,
        "workflowId": "WQ65T0ACkIUy8PO80bZWV",
        "versionId": "d75bb3d1-9a52-498e-927b-9c5fd90ed2b9",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}