workflows/VERSIONAMIENTO_n8n_Workflows_GitHub_Backup__PxgfHZPzzD8B1VCsByqIP.json
{
  "updatedAt": "2026-03-19T21:17:56.147Z",
  "createdAt": "2026-03-16T21:39:41.586Z",
  "id": "PxgfHZPzzD8B1VCsByqIP",
  "name": "***REDACTED***",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condicion-sin-cambios",
              "leftValue": "={{ $json.sin_cambios }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "028fc76d-56d2-41c5-8888-1e89a66f09c7",
      "name": "¿Sin Cambios?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1328,
        320
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "d9c4e50e-26e3-4e26-b010-820a749be5f6",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        560
      ]
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "id": "f7de8a6f-101b-44b5-a793-bfc8a7128b9d",
      "name": "GET All Workflows1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -176,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "90eb786c-db96-4803-aa69-17cebd64eb18",
      "name": "Extraer Lista1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "06bfd723-b4eb-44dc-a737-ab250c1d81b0",
      "name": "Loop por Workflow1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        544
      ]
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "id": "b613f44d-d35e-4e31-a44c-ff38d0e8b14d",
      "name": "GET Workflow Detalle1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        496,
        560
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "1cd2ae18-e1a4-4f3f-ba70-3cb378e9708d",
      "name": "Preparar Payload1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        560
      ]
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            },
            {
              "name": "Accept",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "id": "c888ea8a-02c9-4e9b-8833-0f0d2066be3a",
      "name": "GET SHA de GitHub1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        928,
        560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "3d4eb830-ae7c-45f4-9c95-ab37fc03365d",
      "name": "Construir Body1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        560
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            },
            {
              "name": "Accept",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "de395014-e21d-4148-ba7f-3bea50ca10d0",
      "name": "PUT a GitHub1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1424,
        672
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "0ded7c0f-80b8-4112-a052-38862d8098d1",
      "name": "Log Resultado1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        672
      ]
    }
  ],
  "connections": {
    "¿Sin Cambios?": {
      "main": [
        [
          {
            "node": "Log Resultado1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PUT a GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET All Workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET All Workflows1": {
      "main": [
        [
          {
            "node": "Extraer Lista1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Lista1": {
      "main": [
        [
          {
            "node": "Loop por Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop por Workflow1": {
      "main": [
        [],
        [
          {
            "node": "GET Workflow Detalle1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Workflow Detalle1": {
      "main": [
        [
          {
            "node": "Preparar Payload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Payload1": {
      "main": [
        [
          {
            "node": "GET SHA de GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET SHA de GitHub1": {
      "main": [
        [
          {
            "node": "Construir Body1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Body1": {
      "main": [
        [
          {
            "node": "¿Sin Cambios?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT a GitHub1": {
      "main": [
        [
          {
            "node": "Log Resultado1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Resultado1": {
      "main": [
        [
          {
            "node": "Loop por Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "855a06d1-9d07-4405-9e70-e46f53768525",
  "activeVersionId": "855a06d1-9d07-4405-9e70-e46f53768525",
  "versionCounter": 63,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-16T21:39:41.586Z",
      "createdAt": "2026-03-16T21:39:41.586Z",
      "role": "workflow:owner",
      "workflowId": "PxgfHZPzzD8B1VCsByqIP",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-04-10T11:44:41.129Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-04-10",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-19T21:17:43.633Z",
      "createdAt": "2026-03-19T21:17:43.633Z",
      "id": "sIftsmBhXzuvPCy3",
      "name": "PRODUCTIVO 🟢"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-18T16:08:58.796Z",
    "createdAt": "2026-03-18T16:08:41.639Z",
    "versionId": "855a06d1-9d07-4405-9e70-e46f53768525",
    "workflowId": "PxgfHZPzzD8B1VCsByqIP",
    "nodes": [
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "condicion-sin-cambios",
                "leftValue": "={{ $json.sin_cambios }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "028fc76d-56d2-41c5-8888-1e89a66f09c7",
        "name": "¿Sin Cambios?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1328,
          320
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  5
                ],
                "triggerAtHour": 18
              }
            ]
          }
        },
        "id": "d9c4e50e-26e3-4e26-b010-820a749be5f6",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          -416,
          560
        ]
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "id": "f7de8a6f-101b-44b5-a793-bfc8a7128b9d",
        "name": "GET All Workflows1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -176,
          560
        ]
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "90eb786c-db96-4803-aa69-17cebd64eb18",
        "name": "Extraer Lista1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          560
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "06bfd723-b4eb-44dc-a737-ab250c1d81b0",
        "name": "Loop por Workflow1",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          256,
          544
        ]
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "id": "b613f44d-d35e-4e31-a44c-ff38d0e8b14d",
        "name": "GET Workflow Detalle1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          496,
          560
        ]
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "1cd2ae18-e1a4-4f3f-ba70-3cb378e9708d",
        "name": "Preparar Payload1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          560
        ]
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              },
              {
                "name": "Accept",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "id": "c888ea8a-02c9-4e9b-8833-0f0d2066be3a",
        "name": "GET SHA de GitHub1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          928,
          560
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "3d4eb830-ae7c-45f4-9c95-ab37fc03365d",
        "name": "Construir Body1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1152,
          560
        ]
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              },
              {
                "name": "Accept",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify($json.body) }}",
          "options": {}
        },
        "id": "de395014-e21d-4148-ba7f-3bea50ca10d0",
        "name": "PUT a GitHub1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1424,
          672
        ]
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "0ded7c0f-80b8-4112-a052-38862d8098d1",
        "name": "Log Resultado1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1968,
          672
        ]
      }
    ],
    "connections": {
      "¿Sin Cambios?": {
        "main": [
          [
            {
              "node": "Log Resultado1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "PUT a GitHub1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "GET All Workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET All Workflows1": {
        "main": [
          [
            {
              "node": "Extraer Lista1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer Lista1": {
        "main": [
          [
            {
              "node": "Loop por Workflow1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop por Workflow1": {
        "main": [
          [],
          [
            {
              "node": "GET Workflow Detalle1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET Workflow Detalle1": {
        "main": [
          [
            {
              "node": "Preparar Payload1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Payload1": {
        "main": [
          [
            {
              "node": "GET SHA de GitHub1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GET SHA de GitHub1": {
        "main": [
          [
            {
              "node": "Construir Body1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Construir Body1": {
        "main": [
          [
            {
              "node": "¿Sin Cambios?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PUT a GitHub1": {
        "main": [
          [
            {
              "node": "Log Resultado1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Log Resultado1": {
        "main": [
          [
            {
              "node": "Loop por Workflow1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version v2",
    "description": "ahora omite si no hay cambio en flujos ",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-18T16:08:58.795Z",
        "id": 291,
        "workflowId": "PxgfHZPzzD8B1VCsByqIP",
        "versionId": "855a06d1-9d07-4405-9e70-e46f53768525",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}