workflows/WF_CITA__02D76EWnNwV5JRIKGQtV6.json
{
  "updatedAt": "2026-06-05T21:12:16.764Z",
  "createdAt": "2026-05-26T04:47:43.006Z",
  "id": "02D76EWnNwV5JRIKGQtV6",
  "name": "WF_CITA",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mensaje"
            },
            {
              "name": "intent"
            },
            {
              "name": "telefono"
            },
            {
              "name": "raw"
            },
            {
              "name": "phone_number_id"
            },
            {
              "name": "accion"
            },
            {
              "name": "estado"
            },
            {
              "name": "tipo_documento"
            },
            {
              "name": "numero_documento"
            },
            {
              "name": "datos_usuario"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        315072,
        42976
      ],
      "id": "6a45752b-0579-474c-a706-0030be3b628b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
          "cachedResultName": "OBTENER TOKEN ZEUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        318000,
        44512
      ],
      "id": "1037b4e7-60c8-48f1-b723-98caf3a0b4c2",
      "name": "Call_Token_Confirmacion",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        317776,
        42400
      ],
      "id": "710ccd7f-1eea-4e01-bb68-9649e97d8065",
      "name": "Validar ID Servicio1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318896,
        43936
      ],
      "id": "e158eb13-9f46-44ac-b3d9-ef3f38b26e99",
      "name": "guardar estado5",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        317776,
        43168
      ],
      "id": "9e7ae437-a4b2-4b87-8587-ac43fc9bc313",
      "name": "Code in JavaScript9"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        318896,
        43552
      ],
      "id": "77b4ecf1-b312-4aa1-8898-aee5080cc06c",
      "name": "Preparar_Confirmacion1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6e2025b3-9dbb-4410-a056-32ce2a5df9fb"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        319120,
        44512
      ],
      "id": "946c9035-0104-487a-bd48-0685627d42da",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        319600,
        44624
      ],
      "id": "d5969455-ccd4-4e9e-9e58-da633ec163fc",
      "name": "Enviar_Error_Confirmacion",
      "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318672,
        43552
      ],
      "id": "080053f4-13a8-4940-9c0f-e8c6d96ea5bc",
      "name": "guardar_estado_confirmacion",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        317776,
        44800
      ],
      "id": "d46b22a5-f71d-4e4c-b7be-fc6045f470bb",
      "name": "Mensaje_Cancelacion",
      "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        318224,
        42400
      ],
      "id": "46a3bf3d-3f64-4cfe-a87e-6ac19adefed9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        318224,
        43936
      ],
      "id": "bc120387-5411-47ab-a8a8-db98f7abe83f",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {
          "previewUrl": true
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        320048,
        44336
      ],
      "id": "90f62033-1956-463d-acc2-bdd47a5ad59e",
      "name": "Enviar_Exito_Confirmacion",
      "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        318000,
        43168
      ],
      "id": "cff91568-a490-43d1-817a-bb223e8e6022",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
          "cachedResultName": "OBTENER TOKEN ZEUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        317552,
        43936
      ],
      "id": "74eb5447-cb69-4eeb-ae77-d4e15b1c20ea",
      "name": "Call 'OBTENER TOKEN ZEUS' for Agenda1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        318448,
        43552
      ],
      "id": "a7a48269-fba6-4461-ad23-dcd7d38bff4b",
      "name": "Preparar_Confirmacion"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        317776,
        43936
      ],
      "id": "8f1a3a9e-f1d2-4e08-ac87-47ee1e051054",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        318448,
        44320
      ],
      "id": "b85dd2e6-8020-409d-a0a1-daca19bcb654",
      "name": "Mensaje confirmación cita",
      "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        318448,
        43936
      ],
      "id": "ebd1661a-ba2e-4056-8e2f-b8abff7c12af",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {
          "queryReplacement": "={{ parseInt($json.mensaje, 10) || 0 }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        318000,
        42400
      ],
      "id": "6e6c535c-2dbd-4702-82a2-69ad9be90558",
      "name": "Consultar asuntos",
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        318224,
        44320
      ],
      "id": "64fc1b28-0191-4839-90d3-8bdf583c2493",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $input.first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        318448,
        42016
      ],
      "id": "4200d279-506e-435b-b87f-6d174a606af5",
      "name": "ASUNTOS",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        318000,
        43744
      ],
      "id": "a9e9874e-bde2-4da8-8447-97d83e4de819",
      "name": "Mensaje Rango Invalido",
      "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        318224,
        44512
      ],
      "id": "29d970b8-017c-4555-bc0c-a8b9f594cc10",
      "name": "Preparar_datos_desde_confirmacion"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        317552,
        43648
      ],
      "id": "4526c0e5-340c-4b04-952e-9162dc747f6a",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "url": "***REDACTED***",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "idPuntoAtencion",
              "value": "***REDACTED***"
            },
            {
              "name": "fecha",
              "value": "***REDACTED***"
            },
            {
              "name": "Asunto",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        318000,
        43936
      ],
      "id": "44cf525e-363e-48a7-a32c-bc0ef2b261c6",
      "name": "HTTP Request",
      "executeOnce": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "***REDACTED***",
        "options": {
          "queryReplacement": "***REDACTED***"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        318672,
        43936
      ],
      "id": "3173fee3-45ab-4738-aa18-0f57f10268aa",
      "name": "Lookup nombre punto atencion",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        318224,
        44128
      ],
      "id": "bfb2feba-66c2-4db4-846a-448d2c9431f1",
      "name": "Mensaje error cita",
      "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc001122-if-conf-cond1",
              "leftValue": "={{ $json.confirmado }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        317776,
        44608
      ],
      "id": "916f51c3-80cc-4bb9-b58d-268c9215848a",
      "name": "If_Confirmado"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        317776,
        44224
      ],
      "id": "d0e5b971-12ab-4e4e-8626-5f9b903ce242",
      "name": "Filtrar cita seleccionada"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318672,
        44320
      ],
      "id": "cd7c95bf-fd08-41f2-b407-4a9b22cdfe97",
      "name": "Guardar_Identificado_CancelaCita",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        319120,
        43936
      ],
      "id": "c7173695-7ec1-4661-9e6b-1dd56711dcae",
      "name": "agendas",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc001122-if-exito-cond1",
              "leftValue": "={{  $json.Datos }}",
              "rightValue": "vacio",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        319328,
        44512
      ],
      "id": "45f3048b-726b-4a4b-b40a-4215ee6dfc37",
      "name": "If_Exito_Confirmacion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        319120,
        43552
      ],
      "id": "c648a526-7298-4f20-9a78-4de14b9069f3",
      "name": "Confirmacion_Cita",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "***REDACTED***"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "***REDACTED***",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        318880,
        44512
      ],
      "id": "1bf55e0d-6e1c-4f89-a0f6-f23538f7b6f2",
      "name": "Agendar_en_Zeus_Confirmacion"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        320272,
        44336
      ],
      "id": "97f355ae-808a-4b3e-80e5-5187c4f44f1a",
      "name": "Guardar_Identificado_Confirmacion",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
          "cachedResultName": "OBTENER TOKEN ZEUS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        317552,
        44224
      ],
      "id": "fd2d580a-f6fb-4f86-ac47-852f27034b17",
      "name": "Call 'OBTENER TOKEN ZEUS' for Agenda",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        317552,
        42400
      ],
      "id": "5441e3a1-5fd3-4972-a32e-7c28b6e6dc98",
      "name": "guardar estado4",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        317552,
        44608
      ],
      "id": "3b25f10e-7717-4835-8fbb-59109065531e",
      "name": "Verificar_Si_Confirmado"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        317552,
        44800
      ],
      "id": "f2ab8900-ab5c-488f-9150-250d742f0e89",
      "name": "Guardar_Identificado_Cancel",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "if-prog-valido-1",
              "leftValue": "={{ $json.valido }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        317776,
        43648
      ],
      "id": "1f147403-33ae-4fa1-a147-8b0844195231",
      "name": "If Programacion Valida"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a2465724-ea3c-4112-8982-35ec38f6c6c0",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        318000,
        44224
      ],
      "id": "88a162bd-a053-4d70-b99e-b9203b14e2d1",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        318224,
        43168
      ],
      "id": "1eafe402-7473-4e43-98cf-1e8b296efb8b",
      "name": "Code in JavaScript10"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $input.first().json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        318448,
        42784
      ],
      "id": "05f53d9e-b6dc-4f02-a8d9-2f5e11e1ea30",
      "name": "Puntos de atencion",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        317552,
        43168
      ],
      "id": "b7ee88aa-095e-4c31-9b09-81836ea442b4",
      "name": "guardar estado6",
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "estado_raw",
        "key": "***REDACTED***",
        "options": {}
      },
      "id": "8022965e-d3f2-46e0-ad3b-046086172956",
      "name": "Leer Estado Sub",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        315312,
        42976
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "6f66decf-316b-4bc1-888a-94c66759511c",
      "name": "Ctx Estado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        315536,
        42976
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da8cd2b2-1c2c-46c3-b67c-3e918973d1a3",
                    "leftValue": "***REDACTED***",
                    "rightValue": "recibir_especialidad",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_especialidad"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ac7609e9-86ec-4042-9165-f24e35751312",
                    "leftValue": "***REDACTED***",
                    "rightValue": "recibir_asunto",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_asunto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a58e5237-24e7-4cd4-8bb1-ac782031a722",
                    "leftValue": "***REDACTED***",
                    "rightValue": "recibir_programacion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_programacion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b1160418-4dfe-4495-b125-38b2be999598",
                    "leftValue": "***REDACTED***",
                    "rightValue": "recibir_punto_atencion",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_punto_atencion"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2ce5da52-8e79-40ad-a980-f55e5ea2acb7",
                    "leftValue": "***REDACTED***",
                    "rightValue": "recibir_id_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_id_cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c97b5a0a-29a9-4b9b-9334-ff53746a6855",
                    "leftValue": "***REDACTED***",
                    "rightValue": "recibir_confirmacion_cita",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recibir_confirmacion_cita"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "10422ea6-2dfd-4d54-a287-51a4c9127a4c",
                    "leftValue": "***REDACTED***",
                    "rightValue": "cancelar_flujo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar_flujo"
            }
          ]
        },
        "options": {}
      },
      "id": "de165863-2476-490f-8e35-960a734e5f3c",
      "name": "Ruta CITA",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        317328,
        43856
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "id": "7ec9db5a-35d1-4d18-b9fe-d20676236965",
      "name": "Guardar Opciones recibir_asunto",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318448,
        42208
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "id": "c3205869-8806-49ab-99a3-14f0655f003a",
      "name": "Guardar Opciones recibir_punto_atencion",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318448,
        42976
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "opciones",
        "key": "***REDACTED***",
        "options": {}
      },
      "id": "00d709be-a8c9-4754-8411-a1dfab8dbf25",
      "name": "Leer Opciones",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        315760,
        42976
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "4b5382a6-321d-43fc-9d2c-e1af18f8544d",
      "name": "Guard Stale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        316656,
        42976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a60ae5aa-4a0c-496a-bdc4-3dab08af1471",
              "leftValue": "={{ $json.stale }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a242286-68c0-4a23-85e6-01438478173c",
      "name": "Es Rancia",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        317104,
        43808
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "***REDACTED***",
        "recipientPhoneNumber": "***REDACTED***",
        "textBody": "***REDACTED***",
        "additionalFields": {}
      },
      "id": "b0af8e75-96bd-4395-af93-d5d5af4e8d18",
      "name": "Respuesta Selección Rancia",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        317328,
        42400
      ],
      "webhookId": "9f9661e1-0d87-4813-a352-74602a786a3f",
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "id": "da4ce3cf-80ac-4afc-8b50-f002928f1b12",
      "name": "Cache Opc Asunto",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318448,
        42400
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "id": "3279895e-8cc2-44b5-bca5-74f81b64d5fa",
      "name": "Cache Payload Asunto",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318448,
        42592
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "id": "e16dc52c-9942-42ab-aa84-2b07656966df",
      "name": "Cache Opc Sede",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318448,
        43168
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "id": "8b82ab39-aa33-4d5e-a189-29fb6843435f",
      "name": "Cache Payload Sede",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318448,
        43360
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "opc_esp",
        "key": "***REDACTED***",
        "options": {}
      },
      "id": "33bb51e9-9caf-4069-b831-2f6af342d206",
      "name": "Get Opc Esp",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        315984,
        42976
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "opc_asunto",
        "key": "***REDACTED***",
        "options": {}
      },
      "id": "e2143577-adf6-4a98-b9db-e056a7d0c862",
      "name": "Get Opc Asunto",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        316208,
        42976
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "opc_sede",
        "key": "***REDACTED***",
        "options": {}
      },
      "id": "32fa7b9c-5a09-4300-9b48-f3ff4b2e452e",
      "name": "Get Opc Sede",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        316432,
        42976
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f6e9f411-f526-4531-9933-e31f1e3e4e5e",
              "leftValue": "={{ $json.cambio }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a69b2064-bb88-4b1a-bc1f-4dd2436bcfb0",
      "name": "Hay Cambio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        316880,
        42976
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "52371744-310b-4b26-8d3a-1d61b217bc7a",
      "name": "Prep Cambio Campo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        317104,
        42112
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "id": "488178ba-1441-49fe-94d7-340b35317d0d",
      "name": "Set Estado Cambio Campo",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        317328,
        42112
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "id": "f0a6bff6-af58-472b-842c-cdd8d8bba712",
      "name": "Pregunta Cambio Campo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        317552,
        42112
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "***REDACTED***",
        "value": "***REDACTED***",
        "expire": true,
        "ttl": 3600
      },
      "id": "2573ab8d-f5fd-48fc-9df2-0215d1961760",
      "name": "Guardar Estado Otra Fecha",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318000,
        44704
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "***REDACTED***",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "***REDACTED***",
        "options": {}
      },
      "id": "9a307672-9106-4e41-9e20-046528871c5d",
      "name": "Reenviar Fechas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        318224,
        44704
      ],
      "credentials": {
        "whatsAppApi": {
          "id": "aTnctNBGMIYI6D7P",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "opc_esp",
        "key": "***REDACTED***",
        "options": {}
      },
      "id": "417af8c1-509a-4281-ad94-f86232ea0705",
      "name": "Get Opc Esp Res",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318000,
        43552
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "opc_asunto",
        "key": "***REDACTED***",
        "options": {}
      },
      "id": "c4b11c80-19dc-4db9-88f0-7b8656baf1f7",
      "name": "Get Opc Asunto Res",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        318224,
        43552
      ],
      "credentials": {
        "redis": {
          "id": "3XA5T4Gby6gagH8B",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "***REDACTED***",
          "mode": "list",
          "cachedResultName": "informacion_sedes"
        },
        "where": {
          "values": [
            {
              "column": "id_punto_atencion",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "id": "ad9f1624-c6e9-4301-84df-1fbb2171108f",
      "name": "Consultar Sede Maps",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        319552,
        44336
      ],
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "id": "247ede89-1595-4dc1-87f3-79da81d330d3",
      "name": "Prep Confirmacion Extra",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        319824,
        44336
      ]
    },
    {
      "parameters": {
        "jsCode": "***REDACTED***"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        318448,
        44512
      ],
      "id": "f06f5a05-5f70-42b9-a686-0f5a16233d51",
      "name": "calcular_cuota_moderadora"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "servicios",
          "mode": "list",
          "cachedResultName": "servicios"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "***REDACTED***"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        318656,
        44512
      ],
      "id": "1ff0a819-6e1e-4e86-a2a2-858febdee2c3",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "Xz5MvwxTeniqXXjz",
          "name": "Postgres account 3"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Leer Estado Sub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar asuntos": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "ASUNTOS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Opciones recibir_asunto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cache Opc Asunto",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cache Payload Asunto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado4": {
      "main": [
        [
          {
            "node": "Validar ID Servicio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Lookup nombre punto atencion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup nombre punto atencion": {
      "main": [
        [
          {
            "node": "guardar estado5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado5": {
      "main": [
        [
          {
            "node": "agendas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript9": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript10": {
      "main": [
        [
          {
            "node": "Puntos de atencion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Guardar Opciones recibir_punto_atencion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cache Opc Sede",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cache Payload Sede",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar estado6": {
      "main": [
        [
          {
            "node": "Code in JavaScript9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'OBTENER TOKEN ZEUS' for Agenda1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar ID Servicio1": {
      "main": [
        [
          {
            "node": "Consultar asuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "If Programacion Valida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Programacion Valida": {
      "main": [
        [
          {
            "node": "Get Opc Esp Res",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensaje Rango Invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'OBTENER TOKEN ZEUS' for Agenda": {
      "main": [
        [
          {
            "node": "Filtrar cita seleccionada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar cita seleccionada": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Mensaje error cita",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Mensaje confirmación cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje confirmación cita": {
      "main": [
        [
          {
            "node": "Guardar_Identificado_CancelaCita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar_Confirmacion": {
      "main": [
        [
          {
            "node": "guardar_estado_confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar_estado_confirmacion": {
      "main": [
        [
          {
            "node": "Preparar_Confirmacion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar_Si_Confirmado": {
      "main": [
        [
          {
            "node": "If_Confirmado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Confirmado": {
      "main": [
        [
          {
            "node": "Call_Token_Confirmacion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Estado Otra Fecha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call_Token_Confirmacion": {
      "main": [
        [
          {
            "node": "Preparar_datos_desde_confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar_datos_desde_confirmacion": {
      "main": [
        [
          {
            "node": "calcular_cuota_moderadora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agendar_en_Zeus_Confirmacion": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Exito_Confirmacion": {
      "main": [
        [
          {
            "node": "Consultar Sede Maps",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar_Error_Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar_Exito_Confirmacion": {
      "main": [
        [
          {
            "node": "Guardar_Identificado_Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar_Identificado_Cancel": {
      "main": [
        [
          {
            "node": "Mensaje_Cancelacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar_Confirmacion1": {
      "main": [
        [
          {
            "node": "Confirmacion_Cita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If_Exito_Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado Sub": {
      "main": [
        [
          {
            "node": "Ctx Estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ctx Estado": {
      "main": [
        [
          {
            "node": "Leer Opciones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ruta CITA": {
      "main": [
        [
          {
            "node": "guardar estado4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "guardar estado6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'OBTENER TOKEN ZEUS' for Agenda1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'OBTENER TOKEN ZEUS' for Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar_Si_Confirmado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar_Identificado_Cancel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Opciones": {
      "main": [
        [
          {
            "node": "Get Opc Esp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guard Stale": {
      "main": [
        [
          {
            "node": "Hay Cambio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Rancia": {
      "main": [
        [
          {
            "node": "Respuesta Selección Rancia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ruta CITA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opc Esp": {
      "main": [
        [
          {
            "node": "Get Opc Asunto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opc Asunto": {
      "main": [
        [
          {
            "node": "Get Opc Sede",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opc Sede": {
      "main": [
        [
          {
            "node": "Guard Stale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Cambio": {
      "main": [
        [
          {
            "node": "Prep Cambio Campo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es Rancia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Cambio Campo": {
      "main": [
        [
          {
            "node": "Set Estado Cambio Campo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Estado Cambio Campo": {
      "main": [
        [
          {
            "node": "Pregunta Cambio Campo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Estado Otra Fecha": {
      "main": [
        [
          {
            "node": "Reenviar Fechas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opc Esp Res": {
      "main": [
        [
          {
            "node": "Get Opc Asunto Res",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Opc Asunto Res": {
      "main": [
        [
          {
            "node": "Preparar_Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Sede Maps": {
      "main": [
        [
          {
            "node": "Prep Confirmacion Extra",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Confirmacion Extra": {
      "main": [
        [
          {
            "node": "Enviar_Exito_Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calcular_cuota_moderadora": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Agendar_en_Zeus_Confirmacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "mensaje": "si",
          "intent": "agendar",
          "telefono": "573205943893",
          "raw": "***REDACTED***",
          "phone_number_id": "1162040110315070",
          "accion": "recibir_confirmacion_cita",
          "estado": {
            "paso": "esperando_confirmacion_cita",
            "especialidad": "1",
            "asunto": "971",
            "tipo_documento": "CC",
            "puntos_atencion_contrato": [
              "16",
              "30"
            ],
            "num_documento": "45688167",
            "asunto_seleccionado": "30",
            "punto_atencion_nombre": "TURBACO PRINCIPAL",
            "id_punto_atencion": 1,
            "telefono": "3126590884",
            "contrato": "151",
            "codEmpresa": 57,
            "datos_usuario": {
              "tipo_documento": "CC",
              "numero_documento": "45688167",
              "nombre_completo": "ROSA",
              "autoId": 22408,
              "categoria": "A",
              "regimen": "CONTRIBUTIVO",
              "valor_cuota": null
            },
            "opciones_agenda": [
              {
                "numero": 1,
                "id_row": 1,
                "fecha": "2026-06-05",
                "turno": "mañana",
                "hora": "7:00AM",
                "hora24": "07:00:00",
                "hora2": "07:00",
                "horaAmPm": "07:00 AM",
                "id_medico": 82,
                "nomMed": "GINA PAOLA RUA CORDERO",
                "IdProgMedDeta": 42816779,
                "id_registro_programacion": 1038
              },
              {
                "numero": 2,
                "id_row": 2,
                "fecha": "2026-06-05",
                "turno": "mañana",
                "hora": "7:00AM",
                "hora24": "07:00:00",
                "hora2": "07:00",
                "horaAmPm": "07:00 AM",
                "id_medico": 346,
                "nomMed": "YULIANA MARIA FERNANDEZ SIMANCAS",
                "IdProgMedDeta": 29390390,
                "id_registro_programacion": 900
              },
              {
                "numero": 3,
                "id_row": 3,
                "fecha": "2026-06-05",
                "turno": "tarde",
                "hora": "12:00PM",
                "hora24": "12:00:00",
                "hora2": "12:00",
                "horaAmPm": "12:00 PM",
                "id_medico": 82,
                "nomMed": "GINA PAOLA RUA CORDERO",
                "IdProgMedDeta": 42816784,
                "id_registro_programacion": 1038
              },
              {
                "numero": 4,
                "id_row": 4,
                "fecha": "2026-06-05",
                "turno": "tarde",
                "hora": "12:00PM",
                "hora24": "12:00:00",
                "hora2": "12:00",
                "horaAmPm": "12:00 PM",
                "id_medico": 346,
                "nomMed": "YULIANA MARIA FERNANDEZ SIMANCAS",
                "IdProgMedDeta": 29390405,
                "id_registro_programacion": 900
              },
              {
                "numero": 5,
                "id_row": 5,
                "fecha": "2026-06-06",
                "turno": "mañana",
                "hora": "7:20AM",
                "hora24": "07:20:00",
                "hora2": "07:20",
                "horaAmPm": "07:20 AM",
                "id_medico": 82,
                "nomMed": "GINA PAOLA RUA CORDERO",
                "IdProgMedDeta": 29149445,
                "id_registro_programacion": 900
              },
              {
                "numero": 6,
                "id_row": 6,
                "fecha": "2026-06-06",
                "turno": "mañana",
                "hora": "7:00AM",
                "hora24": "07:00:00",
                "hora2": "07:00",
                "horaAmPm": "07:00 AM",
                "id_medico": 346,
                "nomMed": "YULIANA MARIA FERNANDEZ SIMANCAS",
                "IdProgMedDeta": 29390427,
                "id_registro_programacion": 900
              },
              {
                "numero": 7,
                "id_row": 7,
                "fecha": "2026-06-06",
                "turno": "tarde",
                "hora": "12:20PM",
                "hora24": "12:20:00",
                "hora2": "12:20",
                "horaAmPm": "12:20 PM",
                "id_medico": 82,
                "nomMed": "GINA PAOLA RUA CORDERO",
                "IdProgMedDeta": 29149455,
                "id_registro_programacion": 900
              },
              {
                "numero": 8,
                "id_row": 8,
                "fecha": "2026-06-06",
                "turno": "tarde",
                "hora": "12:00PM",
                "hora24": "12:00:00",
                "hora2": "12:00",
                "horaAmPm": "12:00 PM",
                "id_medico": 346,
                "nomMed": "YULIANA MARIA FERNANDEZ SIMANCAS",
                "IdProgMedDeta": 29390442,
                "id_registro_programacion": 900
              },
              {
                "numero": 9,
                "id_row": 9,
                "fecha": "2026-06-08",
                "turno": "mañana",
                "hora": "7:00AM",
                "hora24": "07:00:00",
                "hora2": "07:00",
                "horaAmPm": "07:00 AM",
                "id_medico": 82,
                "nomMed": "GINA PAOLA RUA CORDERO",
                "IdProgMedDeta": 42816805,
                "id_registro_programacion": 1038
              },
              {
                "numero": 10,
                "id_row": 10,
                "fecha": "2026-06-08",
                "turno": "mañana",
                "hora": "7:00AM",
                "hora24": "07:00:00",
                "hora2": "07:00",
                "horaAmPm": "07:00 AM",
                "id_medico": 346,
                "nomMed": "YULIANA MARIA FERNANDEZ SIMANCAS",
                "IdProgMedDeta": 29390464,
                "id_registro_programacion": 900
              }
            ],
            "agenda_payload": {
              "messaging_product": "whatsapp",
              "recipient_type": "individual",
              "to": "573205943893",
              "type": "interactive",
              "interactive": {
                "type": "list",
                "body": {
                  "text": "***REDACTED***"
                },
                "action": {
                  "button": "Ver citas",
                  "sections": [
                    {
                      "title": "Viernes 5 de junio",
                      "rows": [
                        {
                          "id": 1,
                          "title": "07:00 AM · GINA PAOLA",
                          "description": "🌅 Mañana · GINA PAOLA RUA CORDERO"
                        },
                        {
                          "id": 2,
                          "title": "07:00 AM · YULIANA MARIA",
                          "description": "***REDACTED***"
                        },
                        {
                          "id": 3,
                          "title": "12:00 PM · GINA PAOLA",
                          "description": "🌇 Tarde · GINA PAOLA RUA CORDERO"
                        },
                        {
                          "id": 4,
                          "title": "12:00 PM · YULIANA MARIA",
                          "description": "***REDACTED***"
                        }
                      ]
                    },
                    {
                      "title": "Sábado 6 de junio",
                      "rows": [
                        {
                          "id": 5,
                          "title": "07:20 AM · GINA PAOLA",
                          "description": "🌅 Mañana · GINA PAOLA RUA CORDERO"
                        },
                        {
                          "id": 6,
                          "title": "07:00 AM · YULIANA MARIA",
                          "description": "***REDACTED***"
                        },
                        {
                          "id": 7,
                          "title": "12:20 PM · GINA PAOLA",
                          "description": "🌇 Tarde · GINA PAOLA RUA CORDERO"
                        },
                        {
                          "id": 8,
                          "title": "12:00 PM · YULIANA MARIA",
                          "description": "***REDACTED***"
                        }
                      ]
                    },
                    {
                      "title": "Lunes 8 de junio",
                      "rows": [
                        {
                          "id": 9,
                          "title": "07:00 AM · GINA PAOLA",
                          "description": "🌅 Mañana · GINA PAOLA RUA CORDERO"
                        },
                        {
                          "id": 10,
                          "title": "07:00 AM · YULIANA MARIA",
                          "description": "***REDACTED***"
                        }
                      ]
                    }
                  ]
                }
              }
            },
            "slot_confirmado": {
              "numero": 2,
              "id_row": 2,
              "fecha": "2026-06-05",
              "turno": "mañana",
              "hora": "7:00AM",
              "hora24": "07:00:00",
              "hora2": "07:00",
              "horaAmPm": "07:00 AM",
              "id_medico": 346,
              "nomMed": "YULIANA MARIA FERNANDEZ SIMANCAS",
              "IdProgMedDeta": 29390390,
              "id_registro_programacion": 900
            }
          }
        }
      }
    ],
    "Leer Estado Sub": [
      {
        "json": {
          "estado_raw": "***REDACTED***"
        }
      }
    ]
  },
  "versionId": "06b607b4-22f6-4471-8999-63a97085ad4a",
  "activeVersionId": "06b607b4-22f6-4471-8999-63a97085ad4a",
  "versionCounter": 386,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-26T04:47:43.006Z",
      "createdAt": "2026-05-26T04:47:43.006Z",
      "role": "workflow:owner",
      "workflowId": "02D76EWnNwV5JRIKGQtV6",
      "projectId": "gDmEkapyQQKYEXJy",
      "project": {
        "updatedAt": "2026-01-22T19:31:50.741Z",
        "createdAt": "2026-01-22T19:04:54.342Z",
        "id": "gDmEkapyQQKYEXJy",
        "name": "***REDACTED***",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
        "projectRelations": [
          {
            "updatedAt": "2026-01-22T19:04:54.342Z",
            "createdAt": "2026-01-22T19:04:54.342Z",
            "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
            "projectId": "gDmEkapyQQKYEXJy",
            "user": {
              "updatedAt": "2026-06-05T11:39:46.568Z",
              "createdAt": "2026-01-22T19:04:52.782Z",
              "id": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3",
              "email": "desarrollotecnologico@sersocial.org",
              "firstName": "Desarrollo",
              "lastName": "Tecnologico",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-22T19:34:24.549Z",
                "personalization_survey_n8n_version": "1.121.2",
                "automationGoalDevops": [
                  "other"
                ],
                "companyIndustryExtended": [
                  "healthcare"
                ],
                "companySize": "100-499",
                "companyType": "other",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "OAhFO3OsIEvGPsN2",
                "userActivatedAt": 1770741540067,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1771950922428
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-06-05",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-06-05T21:12:18.118Z",
    "createdAt": "2026-06-05T21:12:16.765Z",
    "versionId": "06b607b4-22f6-4471-8999-63a97085ad4a",
    "workflowId": "02D76EWnNwV5JRIKGQtV6",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "mensaje"
              },
              {
                "name": "intent"
              },
              {
                "name": "telefono"
              },
              {
                "name": "raw"
              },
              {
                "name": "phone_number_id"
              },
              {
                "name": "accion"
              },
              {
                "name": "estado"
              },
              {
                "name": "tipo_documento"
              },
              {
                "name": "numero_documento"
              },
              {
                "name": "datos_usuario"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          315072,
          42976
        ],
        "id": "6a45752b-0579-474c-a706-0030be3b628b",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
            "cachedResultName": "OBTENER TOKEN ZEUS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          318000,
          44512
        ],
        "id": "1037b4e7-60c8-48f1-b723-98caf3a0b4c2",
        "name": "Call_Token_Confirmacion",
        "executeOnce": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          317776,
          42400
        ],
        "id": "710ccd7f-1eea-4e01-bb68-9649e97d8065",
        "name": "Validar ID Servicio1"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318896,
          43936
        ],
        "id": "e158eb13-9f46-44ac-b3d9-ef3f38b26e99",
        "name": "guardar estado5",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          317776,
          43168
        ],
        "id": "9e7ae437-a4b2-4b87-8587-ac43fc9bc313",
        "name": "Code in JavaScript9"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          318896,
          43552
        ],
        "id": "77b4ecf1-b312-4aa1-8898-aee5080cc06c",
        "name": "Preparar_Confirmacion1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "",
                      "rightValue": "",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "6e2025b3-9dbb-4410-a056-32ce2a5df9fb"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          319120,
          44512
        ],
        "id": "946c9035-0104-487a-bd48-0685627d42da",
        "name": "Switch"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          319600,
          44624
        ],
        "id": "d5969455-ccd4-4e9e-9e58-da633ec163fc",
        "name": "Enviar_Error_Confirmacion",
        "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318672,
          43552
        ],
        "id": "080053f4-13a8-4940-9c0f-e8c6d96ea5bc",
        "name": "guardar_estado_confirmacion",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          317776,
          44800
        ],
        "id": "d46b22a5-f71d-4e4c-b7be-fc6045f470bb",
        "name": "Mensaje_Cancelacion",
        "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          318224,
          42400
        ],
        "id": "46a3bf3d-3f64-4cfe-a87e-6ac19adefed9",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          318224,
          43936
        ],
        "id": "bc120387-5411-47ab-a8a8-db98f7abe83f",
        "name": "Code in JavaScript5"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {
            "previewUrl": true
          }
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          320048,
          44336
        ],
        "id": "90f62033-1956-463d-acc2-bdd47a5ad59e",
        "name": "Enviar_Exito_Confirmacion",
        "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          318000,
          43168
        ],
        "id": "cff91568-a490-43d1-817a-bb223e8e6022",
        "name": "Execute a SQL query",
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
            "cachedResultName": "OBTENER TOKEN ZEUS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          317552,
          43936
        ],
        "id": "74eb5447-cb69-4eeb-ae77-d4e15b1c20ea",
        "name": "Call 'OBTENER TOKEN ZEUS' for Agenda1",
        "executeOnce": true
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          318448,
          43552
        ],
        "id": "a7a48269-fba6-4461-ad23-dcd7d38bff4b",
        "name": "Preparar_Confirmacion"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          317776,
          43936
        ],
        "id": "8f1a3a9e-f1d2-4e08-ac87-47ee1e051054",
        "name": "Code in JavaScript4"
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          318448,
          44320
        ],
        "id": "b85dd2e6-8020-409d-a0a1-daca19bcb654",
        "name": "Mensaje confirmación cita",
        "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          318448,
          43936
        ],
        "id": "ebd1661a-ba2e-4056-8e2f-b8abff7c12af",
        "name": "Code in JavaScript6"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {
            "queryReplacement": "={{ parseInt($json.mensaje, 10) || 0 }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          318000,
          42400
        ],
        "id": "6e6c535c-2dbd-4702-82a2-69ad9be90558",
        "name": "Consultar asuntos",
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          318224,
          44320
        ],
        "id": "64fc1b28-0191-4839-90d3-8bdf583c2493",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $input.first().json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          318448,
          42016
        ],
        "id": "4200d279-506e-435b-b87f-6d174a606af5",
        "name": "ASUNTOS",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          318000,
          43744
        ],
        "id": "a9e9874e-bde2-4da8-8447-97d83e4de819",
        "name": "Mensaje Rango Invalido",
        "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          318224,
          44512
        ],
        "id": "29d970b8-017c-4555-bc0c-a8b9f594cc10",
        "name": "Preparar_datos_desde_confirmacion"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          317552,
          43648
        ],
        "id": "4526c0e5-340c-4b04-952e-9162dc747f6a",
        "name": "Code in JavaScript7"
      },
      {
        "parameters": {
          "url": "***REDACTED***",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "idPuntoAtencion",
                "value": "***REDACTED***"
              },
              {
                "name": "fecha",
                "value": "***REDACTED***"
              },
              {
                "name": "Asunto",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          318000,
          43936
        ],
        "id": "44cf525e-363e-48a7-a32c-bc0ef2b261c6",
        "name": "HTTP Request",
        "executeOnce": false,
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "***REDACTED***",
          "options": {
            "queryReplacement": "***REDACTED***"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          318672,
          43936
        ],
        "id": "3173fee3-45ab-4738-aa18-0f57f10268aa",
        "name": "Lookup nombre punto atencion",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          318224,
          44128
        ],
        "id": "bfb2feba-66c2-4db4-846a-448d2c9431f1",
        "name": "Mensaje error cita",
        "webhookId": "ea18bda9-590d-441f-8f29-6a1caabdb7af",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cc001122-if-conf-cond1",
                "leftValue": "={{ $json.confirmado }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          317776,
          44608
        ],
        "id": "916f51c3-80cc-4bb9-b58d-268c9215848a",
        "name": "If_Confirmado"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          317776,
          44224
        ],
        "id": "d0e5b971-12ab-4e4e-8626-5f9b903ce242",
        "name": "Filtrar cita seleccionada"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318672,
          44320
        ],
        "id": "cd7c95bf-fd08-41f2-b407-4a9b22cdfe97",
        "name": "Guardar_Identificado_CancelaCita",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          319120,
          43936
        ],
        "id": "c7173695-7ec1-4661-9e6b-1dd56711dcae",
        "name": "agendas",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cc001122-if-exito-cond1",
                "leftValue": "={{  $json.Datos }}",
                "rightValue": "vacio",
                "operator": {
                  "type": "array",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          319328,
          44512
        ],
        "id": "45f3048b-726b-4a4b-b40a-4215ee6dfc37",
        "name": "If_Exito_Confirmacion"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          319120,
          43552
        ],
        "id": "c648a526-7298-4f20-9a78-4de14b9069f3",
        "name": "Confirmacion_Cita",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "***REDACTED***"
              }
            ]
          },
          "sendBody": true,
          "contentType": "=json",
          "specifyBody": "json",
          "bodyParameters": {
            "parameters": [
              {}
            ]
          },
          "jsonBody": "***REDACTED***",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          318880,
          44512
        ],
        "id": "1bf55e0d-6e1c-4f89-a0f6-f23538f7b6f2",
        "name": "Agendar_en_Zeus_Confirmacion"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          320272,
          44336
        ],
        "id": "97f355ae-808a-4b3e-80e5-5187c4f44f1a",
        "name": "Guardar_Identificado_Confirmacion",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultUrl": "/n8n/workflow/8QAWBLL5xzNT3DoYH-AW6",
            "cachedResultName": "OBTENER TOKEN ZEUS"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          317552,
          44224
        ],
        "id": "fd2d580a-f6fb-4f86-ac47-852f27034b17",
        "name": "Call 'OBTENER TOKEN ZEUS' for Agenda",
        "executeOnce": true
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          317552,
          42400
        ],
        "id": "5441e3a1-5fd3-4972-a32e-7c28b6e6dc98",
        "name": "guardar estado4",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          317552,
          44608
        ],
        "id": "3b25f10e-7717-4835-8fbb-59109065531e",
        "name": "Verificar_Si_Confirmado"
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          317552,
          44800
        ],
        "id": "f2ab8900-ab5c-488f-9150-250d742f0e89",
        "name": "Guardar_Identificado_Cancel",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "if-prog-valido-1",
                "leftValue": "={{ $json.valido }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          317776,
          43648
        ],
        "id": "1f147403-33ae-4fa1-a147-8b0844195231",
        "name": "If Programacion Valida"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a2465724-ea3c-4112-8982-35ec38f6c6c0",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          318000,
          44224
        ],
        "id": "88a162bd-a053-4d70-b99e-b9203b14e2d1",
        "name": "If7"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          318224,
          43168
        ],
        "id": "1eafe402-7473-4e43-98cf-1e8b296efb8b",
        "name": "Code in JavaScript10"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $input.first().json }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          318448,
          42784
        ],
        "id": "05f53d9e-b6dc-4f02-a8d9-2f5e11e1ea30",
        "name": "Puntos de atencion",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          317552,
          43168
        ],
        "id": "b7ee88aa-095e-4c31-9b09-81836ea442b4",
        "name": "guardar estado6",
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "estado_raw",
          "key": "***REDACTED***",
          "options": {}
        },
        "id": "8022965e-d3f2-46e0-ad3b-046086172956",
        "name": "Leer Estado Sub",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          315312,
          42976
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "6f66decf-316b-4bc1-888a-94c66759511c",
        "name": "Ctx Estado",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          315536,
          42976
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "da8cd2b2-1c2c-46c3-b67c-3e918973d1a3",
                      "leftValue": "***REDACTED***",
                      "rightValue": "recibir_especialidad",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_especialidad"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "ac7609e9-86ec-4042-9165-f24e35751312",
                      "leftValue": "***REDACTED***",
                      "rightValue": "recibir_asunto",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_asunto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a58e5237-24e7-4cd4-8bb1-ac782031a722",
                      "leftValue": "***REDACTED***",
                      "rightValue": "recibir_programacion",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_programacion"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "b1160418-4dfe-4495-b125-38b2be999598",
                      "leftValue": "***REDACTED***",
                      "rightValue": "recibir_punto_atencion",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_punto_atencion"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "2ce5da52-8e79-40ad-a980-f55e5ea2acb7",
                      "leftValue": "***REDACTED***",
                      "rightValue": "recibir_id_cita",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_id_cita"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "c97b5a0a-29a9-4b9b-9334-ff53746a6855",
                      "leftValue": "***REDACTED***",
                      "rightValue": "recibir_confirmacion_cita",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "recibir_confirmacion_cita"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "10422ea6-2dfd-4d54-a287-51a4c9127a4c",
                      "leftValue": "***REDACTED***",
                      "rightValue": "cancelar_flujo",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cancelar_flujo"
              }
            ]
          },
          "options": {}
        },
        "id": "de165863-2476-490f-8e35-960a734e5f3c",
        "name": "Ruta CITA",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          317328,
          43856
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "id": "7ec9db5a-35d1-4d18-b9fe-d20676236965",
        "name": "Guardar Opciones recibir_asunto",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318448,
          42208
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "id": "c3205869-8806-49ab-99a3-14f0655f003a",
        "name": "Guardar Opciones recibir_punto_atencion",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318448,
          42976
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "opciones",
          "key": "***REDACTED***",
          "options": {}
        },
        "id": "00d709be-a8c9-4754-8411-a1dfab8dbf25",
        "name": "Leer Opciones",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          315760,
          42976
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "4b5382a6-321d-43fc-9d2c-e1af18f8544d",
        "name": "Guard Stale",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          316656,
          42976
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "a60ae5aa-4a0c-496a-bdc4-3dab08af1471",
                "leftValue": "={{ $json.stale }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "8a242286-68c0-4a23-85e6-01438478173c",
        "name": "Es Rancia",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          317104,
          43808
        ]
      },
      {
        "parameters": {
          "operation": "send",
          "phoneNumberId": "***REDACTED***",
          "recipientPhoneNumber": "***REDACTED***",
          "textBody": "***REDACTED***",
          "additionalFields": {}
        },
        "id": "b0af8e75-96bd-4395-af93-d5d5af4e8d18",
        "name": "Respuesta Selección Rancia",
        "type": "n8n-nodes-base.whatsApp",
        "typeVersion": 1.1,
        "position": [
          317328,
          42400
        ],
        "webhookId": "9f9661e1-0d87-4813-a352-74602a786a3f",
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "id": "da4ce3cf-80ac-4afc-8b50-f002928f1b12",
        "name": "Cache Opc Asunto",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318448,
          42400
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "id": "3279895e-8cc2-44b5-bca5-74f81b64d5fa",
        "name": "Cache Payload Asunto",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318448,
          42592
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "id": "e16dc52c-9942-42ab-aa84-2b07656966df",
        "name": "Cache Opc Sede",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318448,
          43168
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "id": "8b82ab39-aa33-4d5e-a189-29fb6843435f",
        "name": "Cache Payload Sede",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318448,
          43360
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "opc_esp",
          "key": "***REDACTED***",
          "options": {}
        },
        "id": "33bb51e9-9caf-4069-b831-2f6af342d206",
        "name": "Get Opc Esp",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          315984,
          42976
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "opc_asunto",
          "key": "***REDACTED***",
          "options": {}
        },
        "id": "e2143577-adf6-4a98-b9db-e056a7d0c862",
        "name": "Get Opc Asunto",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          316208,
          42976
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "opc_sede",
          "key": "***REDACTED***",
          "options": {}
        },
        "id": "32fa7b9c-5a09-4300-9b48-f3ff4b2e452e",
        "name": "Get Opc Sede",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          316432,
          42976
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "f6e9f411-f526-4531-9933-e31f1e3e4e5e",
                "leftValue": "={{ $json.cambio }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a69b2064-bb88-4b1a-bc1f-4dd2436bcfb0",
        "name": "Hay Cambio",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          316880,
          42976
        ]
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "52371744-310b-4b26-8d3a-1d61b217bc7a",
        "name": "Prep Cambio Campo",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          317104,
          42112
        ]
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "id": "488178ba-1441-49fe-94d7-340b35317d0d",
        "name": "Set Estado Cambio Campo",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          317328,
          42112
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "id": "f0a6bff6-af58-472b-842c-cdd8d8bba712",
        "name": "Pregunta Cambio Campo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          317552,
          42112
        ],
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "set",
          "key": "***REDACTED***",
          "value": "***REDACTED***",
          "expire": true,
          "ttl": 3600
        },
        "id": "2573ab8d-f5fd-48fc-9df2-0215d1961760",
        "name": "Guardar Estado Otra Fecha",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318000,
          44704
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "***REDACTED***",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "whatsAppApi",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "***REDACTED***",
          "options": {}
        },
        "id": "9a307672-9106-4e41-9e20-046528871c5d",
        "name": "Reenviar Fechas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          318224,
          44704
        ],
        "credentials": {
          "whatsAppApi": {
            "id": "aTnctNBGMIYI6D7P",
            "name": "WhatsApp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "opc_esp",
          "key": "***REDACTED***",
          "options": {}
        },
        "id": "417af8c1-509a-4281-ad94-f86232ea0705",
        "name": "Get Opc Esp Res",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318000,
          43552
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "opc_asunto",
          "key": "***REDACTED***",
          "options": {}
        },
        "id": "c4b11c80-19dc-4db9-88f0-7b8656baf1f7",
        "name": "Get Opc Asunto Res",
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          318224,
          43552
        ],
        "credentials": {
          "redis": {
            "id": "3XA5T4Gby6gagH8B",
            "name": "Redis account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "***REDACTED***",
            "mode": "list",
            "cachedResultName": "informacion_sedes"
          },
          "where": {
            "values": [
              {
                "column": "id_punto_atencion",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "id": "ad9f1624-c6e9-4301-84df-1fbb2171108f",
        "name": "Consultar Sede Maps",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          319552,
          44336
        ],
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "id": "247ede89-1595-4dc1-87f3-79da81d330d3",
        "name": "Prep Confirmacion Extra",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          319824,
          44336
        ]
      },
      {
        "parameters": {
          "jsCode": "***REDACTED***"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          318448,
          44512
        ],
        "id": "f06f5a05-5f70-42b9-a686-0f5a16233d51",
        "name": "calcular_cuota_moderadora"
      },
      {
        "parameters": {
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "servicios",
            "mode": "list",
            "cachedResultName": "servicios"
          },
          "limit": 1,
          "where": {
            "values": [
              {
                "column": "id",
                "value": "***REDACTED***"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          318656,
          44512
        ],
        "id": "1ff0a819-6e1e-4e86-a2a2-858febdee2c3",
        "name": "Select rows from a table",
        "credentials": {
          "postgres": {
            "id": "Xz5MvwxTeniqXXjz",
            "name": "Postgres account 3"
          }
        }
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Leer Estado Sub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar asuntos": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "ASUNTOS",
              "type": "main",
              "index": 0
            },
            {
              "node": "Guardar Opciones recibir_asunto",
              "type": "main",
              "index": 0
            },
            {
              "node": "Cache Opc Asunto",
              "type": "main",
              "index": 0
            },
            {
              "node": "Cache Payload Asunto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript4": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code in JavaScript5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript5": {
        "main": [
          [
            {
              "node": "Code in JavaScript6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado4": {
        "main": [
          [
            {
              "node": "Validar ID Servicio1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript6": {
        "main": [
          [
            {
              "node": "Lookup nombre punto atencion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup nombre punto atencion": {
        "main": [
          [
            {
              "node": "guardar estado5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado5": {
        "main": [
          [
            {
              "node": "agendas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript9": {
        "main": [
          [
            {
              "node": "Execute a SQL query",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript10": {
        "main": [
          [
            {
              "node": "Puntos de atencion",
              "type": "main",
              "index": 0
            },
            {
              "node": "Guardar Opciones recibir_punto_atencion",
              "type": "main",
              "index": 0
            },
            {
              "node": "Cache Opc Sede",
              "type": "main",
              "index": 0
            },
            {
              "node": "Cache Payload Sede",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute a SQL query": {
        "main": [
          [
            {
              "node": "Code in JavaScript10",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar estado6": {
        "main": [
          [
            {
              "node": "Code in JavaScript9",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'OBTENER TOKEN ZEUS' for Agenda1": {
        "main": [
          [
            {
              "node": "Code in JavaScript4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Validar ID Servicio1": {
        "main": [
          [
            {
              "node": "Consultar asuntos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript7": {
        "main": [
          [
            {
              "node": "If Programacion Valida",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If Programacion Valida": {
        "main": [
          [
            {
              "node": "Get Opc Esp Res",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Mensaje Rango Invalido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call 'OBTENER TOKEN ZEUS' for Agenda": {
        "main": [
          [
            {
              "node": "Filtrar cita seleccionada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtrar cita seleccionada": {
        "main": [
          [
            {
              "node": "If7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If7": {
        "main": [
          [
            {
              "node": "Mensaje error cita",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Mensaje confirmación cita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mensaje confirmación cita": {
        "main": [
          [
            {
              "node": "Guardar_Identificado_CancelaCita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar_Confirmacion": {
        "main": [
          [
            {
              "node": "guardar_estado_confirmacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "guardar_estado_confirmacion": {
        "main": [
          [
            {
              "node": "Preparar_Confirmacion1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Verificar_Si_Confirmado": {
        "main": [
          [
            {
              "node": "If_Confirmado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If_Confirmado": {
        "main": [
          [
            {
              "node": "Call_Token_Confirmacion",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Guardar Estado Otra Fecha",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Call_Token_Confirmacion": {
        "main": [
          [
            {
              "node": "Preparar_datos_desde_confirmacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar_datos_desde_confirmacion": {
        "main": [
          [
            {
              "node": "calcular_cuota_moderadora",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agendar_en_Zeus_Confirmacion": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If_Exito_Confirmacion": {
        "main": [
          [
            {
              "node": "Consultar Sede Maps",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Enviar_Error_Confirmacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar_Exito_Confirmacion": {
        "main": [
          [
            {
              "node": "Guardar_Identificado_Confirmacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar_Identificado_Cancel": {
        "main": [
          [
            {
              "node": "Mensaje_Cancelacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar_Confirmacion1": {
        "main": [
          [
            {
              "node": "Confirmacion_Cita",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "If_Exito_Confirmacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Estado Sub": {
        "main": [
          [
            {
              "node": "Ctx Estado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ctx Estado": {
        "main": [
          [
            {
              "node": "Leer Opciones",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ruta CITA": {
        "main": [
          [
            {
              "node": "guardar estado4",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "guardar estado6",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'OBTENER TOKEN ZEUS' for Agenda1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Call 'OBTENER TOKEN ZEUS' for Agenda",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Verificar_Si_Confirmado",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Guardar_Identificado_Cancel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Opciones": {
        "main": [
          [
            {
              "node": "Get Opc Esp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guard Stale": {
        "main": [
          [
            {
              "node": "Hay Cambio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es Rancia": {
        "main": [
          [
            {
              "node": "Respuesta Selección Rancia",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Ruta CITA",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Opc Esp": {
        "main": [
          [
            {
              "node": "Get Opc Asunto",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Opc Asunto": {
        "main": [
          [
            {
              "node": "Get Opc Sede",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Opc Sede": {
        "main": [
          [
            {
              "node": "Guard Stale",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hay Cambio": {
        "main": [
          [
            {
              "node": "Prep Cambio Campo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Es Rancia",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Cambio Campo": {
        "main": [
          [
            {
              "node": "Set Estado Cambio Campo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Estado Cambio Campo": {
        "main": [
          [
            {
              "node": "Pregunta Cambio Campo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Guardar Estado Otra Fecha": {
        "main": [
          [
            {
              "node": "Reenviar Fechas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Opc Esp Res": {
        "main": [
          [
            {
              "node": "Get Opc Asunto Res",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Opc Asunto Res": {
        "main": [
          [
            {
              "node": "Preparar_Confirmacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Consultar Sede Maps": {
        "main": [
          [
            {
              "node": "Prep Confirmacion Extra",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prep Confirmacion Extra": {
        "main": [
          [
            {
              "node": "Enviar_Exito_Confirmacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "calcular_cuota_moderadora": {
        "main": [
          [
            {
              "node": "Select rows from a table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Select rows from a table": {
        "main": [
          [
            {
              "node": "Agendar_en_Zeus_Confirmacion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Desarrollo Tecnologico",
    "name": "Version 06b607b4",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-06-05T21:12:18.116Z",
        "id": 1042,
        "workflowId": "02D76EWnNwV5JRIKGQtV6",
        "versionId": "06b607b4-22f6-4471-8999-63a97085ad4a",
        "event": "activated",
        "userId": "a68bd61a-2c83-4f7b-8438-901dbf22e5a3"
      }
    ]
  }
}